Repository tailcallhq/tailcall, pull requests merged in 2023-08, with the labels that each got.

#269 show meta information while starting the server in static mode
  tailcall/src/main/scala/tailcall/cli/service/CommandExecutor.scala
  tailcall/src/main/scala/tailcall/server/GraphQLServer.scala
Labels: enhancement

#275 make Blueprint.schema required
  tailcall/src/main/scala/tailcall/runtime/model/Blueprint.scala
  tailcall/src/main/scala/tailcall/runtime/service/StepGenerator.scala
  tailcall/src/main/scala/tailcall/runtime/transcoder/Blueprint2Document.scala
  tailcall/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  tailcall/src/main/scala/tailcall/runtime/transcoder/Document2Blueprint.scala
Labels: maintenance

#276 set default route for static config
  tailcall/src/main/scala/tailcall/server/GenericServer.scala
  tailcall/src/main/scala/tailcall/server/GraphQLServer.scala
Labels: bug
