Repository tailcallhq/tailcall, pull requests merged in 2023-06, with the labels that each got.

#163 Chore: fix release workflows
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#172 chore(release): update release drafter
  .github/release-drafter.yml
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#171 Refactor: Make registry-client a separate sbt project
  .github/workflows/ci.yml
  build.sbt
  registry-client/src/main/scala/tailcall/registry/SchemaRegistryClient.scala
Labels: maintenance

#173 Feature: set default publish URL to `cloud.tailcall.run`
  build.sbt
  cli/src/main/scala/tailcall/cli/CLIConfig.scala
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
Labels: enhancement

#177 fix: unreserved chars in path segment
  runtime/src/main/scala/tailcall/runtime/model/Path.scala
  runtime/src/test/scala/tailcall/runtime/PathSpec.scala
Labels: bug

#180 Chore: release update workflow
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#182 Release workflow fixes
  .github/release.yml
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#185 Fix monotail references
  README.md
Labels: bug, documentation

#186 Fix: Incorrect cli version
  .github/workflows/ci.yml
  build.sbt
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
Labels: bug, maintenance

#184 Update homebrew action
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#190 GPT review run only on attaching `gpt review` label
  .github/workflows/cr.yml
Labels: maintenance, gpt review

#192 Handle command parsing errors on CLI better
  cli/src/main/scala/tailcall/cli/Main.scala
Labels: bug

#193 Make `BuildInfo` package private
  build.sbt
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
Labels: maintenance

#194 Replace public API calls with mocked ones
  runtime/src/test/resources/tailcall/runtime/internal/albums.json
  runtime/src/test/resources/tailcall/runtime/internal/comments.json
  runtime/src/test/resources/tailcall/runtime/internal/create-user.json
  runtime/src/test/resources/tailcall/runtime/internal/photos.json
  runtime/src/test/resources/tailcall/runtime/internal/post-by-Id.json
  runtime/src/test/resources/tailcall/runtime/internal/post-by-user-id.json
  runtime/src/test/resources/tailcall/runtime/internal/posts-batched.json
  runtime/src/test/resources/tailcall/runtime/internal/posts.json
  runtime/src/test/resources/tailcall/runtime/internal/todos.json
  runtime/src/test/resources/tailcall/runtime/internal/user-by-id.json
  runtime/src/test/resources/tailcall/runtime/internal/users-batched.json
  runtime/src/test/resources/tailcall/runtime/internal/users.json
  runtime/src/test/scala/tailcall/runtime/JsonPlaceholderSpec.scala
  runtime/src/test/scala/tailcall/runtime/LambdaSpec.scala
  runtime/src/test/scala/tailcall/runtime/internal/JSONPlaceholderClient.scala
  runtime/src/test/scala/tailcall/runtime/transcoder/Config2StepSpec.scala
Labels: maintenance, gpt review

#195 chore: update deploy timeout for fly
  .github/workflows/ci.yml
  build.sbt
Labels: maintenance

#198 Fix default remote location for all CLI commands
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
  cli/src/main/scala/tailcall/cli/CustomOptions.scala
Labels: bug

#200 fix java version in docker
  build.sbt
Labels: bug, gpt review

#199 fix cli version prefix
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
Labels: bug, gpt review

#201 gpt fixes
  .github/workflows/cr.yml
Labels: maintenance, gpt review

#208 fix duplicate sha getting published in memory registry
  registry/src/main/scala/tailcall/registry/MemoryRegistry.scala
  registry/src/test/scala/tailcall/registry/SchemaRegistrySpec.scala
Labels: bug

#204 better response cache headers
  runtime/src/main/scala/tailcall/runtime/service/DataLoader.scala
  runtime/src/main/scala/tailcall/runtime/service/EndpointGenerator.scala
  runtime/src/main/scala/tailcall/runtime/service/EvaluationRuntime.scala
  runtime/src/main/scala/tailcall/runtime/service/HttpCache.scala
  runtime/src/main/scala/tailcall/runtime/service/HttpContext.scala
  runtime/src/main/scala/tailcall/runtime/service/StepGenerator.scala
  runtime/src/test/scala/tailcall/runtime/HttpCacheSpec.scala
  server/src/main/scala/tailcall/server/GenericServer.scala
Labels: enhancement

#209 support apollo persisted queries
  runtime/src/main/scala/tailcall/runtime/service/HttpContext.scala
  runtime/src/test/scala/tailcall/runtime/HttpContextSpec.scala
  server/src/main/scala/tailcall/server/AdminServer.scala
  server/src/main/scala/tailcall/server/BlueprintDataLoader.scala
  server/src/main/scala/tailcall/server/GenericServer.scala
  server/src/main/scala/tailcall/server/GraphQLConfig.scala
  server/src/main/scala/tailcall/server/Main.scala
  server/src/main/scala/tailcall/server/internal/GraphQLUtils.scala
  server/src/test/scala/tailcall/server/internal/GraphQLUtilsSpec.scala
Labels: enhancement

#213 add support for interfaces in SDL
  runtime/src/main/scala/tailcall/runtime/model/Blueprint.scala
  runtime/src/main/scala/tailcall/runtime/model/Config.scala
  runtime/src/main/scala/tailcall/runtime/service/StepGenerator.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Blueprint2Document.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Document.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Document2Config.scala
  runtime/src/test/resources/tailcall/runtime/Config.json
  runtime/src/test/resources/tailcall/runtime/Config.yml
  runtime/src/test/resources/tailcall/runtime/graphql/test-interface.graphql
  runtime/src/test/resources/tailcall/runtime/graphql/test-multi-interface.graphql
Labels: enhancement

#212 fix cli default remote option in `check`
  cli/src/main/scala/tailcall/cli/CommandDoc.scala
  cli/src/main/scala/tailcall/cli/CustomOptions.scala
Labels: bug

#214 fix status code errors on responses
  runtime/src/test/scala/tailcall/runtime/internal/JSONPlaceholderClient.scala
  server/src/main/scala/tailcall/server/AdminServer.scala
  server/src/main/scala/tailcall/server/Main.scala
Labels: bug
