Repository tailcallhq/tailcall, pull requests merged in 2023-12, with the labels that each got.

#694 test: add server start
  src/cli/tc.rs
  src/http/http_1.rs
  src/http/http_2.rs
  src/http/mod.rs
  src/http/server.rs
  tests/server/config/example.crt
  tests/server/config/example.key
  tests/server/config/server-start-http2.graphql
  tests/server/config/server-start.graphql
  tests/server_spec.rs
Labels: 🙋 Bounty claim

#693 Enhencement/recursive check resolver
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/schema.rs
  src/valid/valid.rs
  tests/graphql/errors/test-lack-resolver.graphql
  tests/graphql/passed/test-ref-other-nested.graphql
  tests/graphql/passed/test-ref-other.graphql
  tests/graphql/test-ref-other.graphql
Labels: enhancement, 🙋 Bounty claim

#719 Removing Arc from Blueprint to prevent side effects
  src/blueprint/from_config/from_config.rs
  src/blueprint/from_config/operators/http.rs
  src/http/request_context.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lambda/mod.rs
Labels: maintenance

#723 Chore: http1 pipeline flush support
  src/blueprint/from_config/server.rs
  src/config/server.rs
  src/http/http_1.rs
Labels: maintenance, ci:benchmark

#728 Implement custom data loader
  Cargo.lock
  Cargo.toml
  benches/request_template_bench.rs
  ci-benchmark/benchmark.graphql
  src/blueprint/from_config/operators/graphql.rs
  src/blueprint/from_config/operators/http.rs
  src/data_loader/cache.rs
  src/data_loader/data_loader.rs
  src/data_loader/factory.rs
  src/data_loader/loader.rs
  src/data_loader/mod.rs
  src/data_loader/storage.rs
  src/graphql/data_loader.rs
  src/graphql/mod.rs
  src/graphql/request_template.rs
  src/http/data_loader.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/request_template.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lib.rs
Labels: maintenance, ci:benchmark

#736 Feature: open playground in the browser automatically if enabled
  Cargo.lock
  Cargo.toml
  src/http/http_1.rs
  src/http/http_2.rs
  src/http/mod.rs
  tests/graphql/errors/test-hostname-faliure.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-batching.graphql
  tests/http/config/graphql-dataloader-batch-keys.graphql
  tests/server/config/server-start-http2.graphql
  tests/server/config/server-start.graphql
Labels: enhancement, 🙋 Bounty claim

#746 fix: configuration merge error
  src/cli/command.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/server.rs
  src/http/data_loader.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: bug

#753 feature: add `--out` option to `check` command
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  src/cli/command.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/mod.rs
  src/config/server.rs
  src/config/writer.rs
  src/json/json_schema.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: enhancement, 🙋 Bounty claim

#741 docs: add documentation for .tailcallrc.graphql
  examples/.tailcallrc.graphql
Labels: 🙋 Bounty claim, ci:lint

#747 chore: run benchmarks on CI
  .github/workflows/bot.yml
  Cargo.lock
  Cargo.toml
  benches/parse_json_benchmark.rs
Labels: ci:lint

#769 ci: lint.sh scripts fail on warnings in fix mode
  lint.sh
Labels: bug, maintenance

#772 fix: inconsistent styling between check and start
  src/cli/tc.rs
Labels: 🙋 Bounty claim

#742 fix: disable batching when delay is set to 0
  src/blueprint/from_config/operators/http.rs
  src/config/server.rs
  src/http/request_context.rs
  src/lambda/expression.rs
  tests/graphql/errors/test-groupby-without-batching.graphql
  tests/http/batching-disabled.yml
  tests/http/config/batching-post.graphql
Labels: bug, 🙋 Bounty claim, ci:lint

#730 GRPC Support
  .prettierrc
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  examples/.tailcallrc.graphql
  examples/grpc.graphql
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/operators/graphql.rs
  src/blueprint/from_config/operators/grpc.rs
  src/blueprint/from_config/operators/http.rs
  src/blueprint/from_config/operators/mod.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/graphql/request_template.rs
  src/grpc/data_loader.rs
  src/grpc/data_loader_request.rs
  src/grpc/mod.rs
  src/grpc/protobuf.rs
  src/grpc/request.rs
  src/grpc/request_template.rs
  src/grpc/tests/greetings.proto
  src/grpc/tests/news.proto
  src/helpers/body.rs
  src/helpers/headers.rs
  src/helpers/mod.rs
  src/helpers/url.rs
  src/http/client.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/request_template.rs
  src/http/server_config.rs
  src/http/server_context.rs
  src/json/json_schema.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lib.rs
  src/mustache.rs
  tests/graphql/errors/proto/news.proto
  tests/graphql/errors/test-grpc-group-by.graphql
  tests/graphql/errors/test-grpc-missing-fields.graphql
  tests/graphql/errors/test-grpc-nested-data.graphql
  tests/graphql/errors/test-grpc-nested-optional.graphql
  tests/graphql/errors/test-grpc-optional.graphql
  tests/graphql/errors/test-grpc-proto-path.graphql
  tests/graphql/errors/test-grpc-service-method.graphql
  tests/graphql/errors/test-grpc-service.graphql
  tests/graphql/test-grpc.graphql
  tests/graphql_spec.rs
  tests/http/config/grpc-batch.graphql
  tests/http/config/grpc.graphql
  tests/http/grpc-batch.yml
  tests/http/grpc-simple.yml
  tests/http_spec.rs
Labels: maintenance, ci:benchmark, ci:lint

#749 Adding response caching
  Cargo.lock
  Cargo.toml
  ci-benchmark/benchmark.graphql
  examples/.tailcallrc.graphql
  src/blueprint/blueprint.rs
  src/blueprint/const_utils.rs
  src/blueprint/from_config/definitions.rs
  src/blueprint/into_schema.rs
  src/blueprint/mod.rs
  src/chrono_cache.rs
  src/config/config.rs
  src/config/from_document.rs
  src/http/request_context.rs
  src/http/server_context.rs
  src/lib.rs
  src/mustache.rs
  tests/http/caching-collision.yml
  tests/http/caching-gql-args.yml
  tests/http/caching-gql-parent-not-null.yml
  tests/http/caching-gql-parent-null.yml
  tests/http/caching-gql-parent-obj.yml
  tests/http/caching.yml
  tests/http/config/caching-collision.graphql
  tests/http/config/caching-gql-args.graphql
  tests/http/config/caching-gql-parent-not-null.graphql
  tests/http/config/caching-gql-parent-null.graphql
  tests/http/config/caching-gql-parent-obj.graphql
  tests/http/config/caching.graphql
Labels: maintenance, ci:benchmark

#778 fix: Bug in {{args}} rendering
  src/lambda/evaluation_context.rs
  src/path.rs
  tests/http/config/args-body.graphql
  tests/http/test-params-as-body.yml
Labels: 🙋 Bounty claim

#787 fix: open localhost in browser in case of using unspecified host
  src/http/server_config.rs
Labels: bug

#798 docs: migration
  .github/workflows/build-website.yml
  docs/getting_started/_category_.json
  docs/getting_started/configuration.mdx
  docs/getting_started/execute.mdx
  docs/getting_started/installation.mdx
  docs/getting_started/launch.mdx
  docs/guides/_category_.json
  docs/guides/cli.md
  docs/guides/context.md
  docs/guides/n+1.md
  docs/guides/watch-mode.md
  docs/intro/_category_.json
  docs/intro/introduction.md
  docs/operators/_category_.json
  docs/operators/add-field.md
  docs/operators/const.md
  docs/operators/graphql.md
  docs/operators/http.md
  docs/operators/index.md
  docs/operators/modify.md
  docs/operators/operator-composition.md
  docs/operators/server.md
  docs/operators/upstream.md
Labels: maintenance, docs

#796 chore: removed nginx setup
  .github/workflows/bot.yml
Labels: 🙋 Bounty claim

#800 feat: set the log level using env variable
  .github/workflows/bot.yml
  Dockerfile
  docs/guides/logging.md
  src/cli/command.rs
  src/cli/tc.rs
Labels: enhancement, 🙋 Bounty claim

#803 Remove spawner from DataLoader
  src/data_loader/data_loader.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/http/data_loader.rs
Labels: ci:benchmark, 🙋 Bounty claim

#813 chore: add check spelling in ci
  .codespellignore
  .github/workflows/ci.yml
  src/cli/tc.rs
  src/grpc/protobuf.rs
  tests/graphql/errors/test-directives-undef-null-fields.graphql
  tests/graphql/errors/test-grpc-service-method.graphql
Labels: 🙋 Bounty claim

#819 docs: grpc operator
  docs/operators/grpc.md
  docs/operators/index.md
Labels: docs

#825 docs: fix @server version parameter name
  docs/operators/server.md
Labels: bug, docs

#824 ci: added pr-convention workflow
  .github/workflows/pr-convention.yml
Labels: 🙋 Bounty claim

#829 docs: heading consistency in grpc docs
  docs/operators/grpc.md
Labels: docs

#841 chore: add graphql definitions for directives used in repo tests
  .graphqlrc.yml
  tests/graphql_spec.graphql
Labels: maintenance

#847 refactor: restore baseline after running local benchmarks
  .github/workflows/bot.yml
Labels: maintenance

#817 fix: show log info instead of error when expected failure happens
  tests/http_spec.rs
Labels: 🙋 Bounty claim

#823 feat: support for reading environment variables
  src/blueprint/from_config/operators/http.rs
  src/http/request_context.rs
  src/http/server_context.rs
  src/lambda/evaluation_context.rs
  src/mustache.rs
  src/path.rs
  tests/http/env-value.yml
  tests/http_spec.rs
Labels: ci:benchmark, 🙋 Bounty claim

#848 feat: gh actions label
  .github/labels.json
  .github/workflows/labels.yml
Labels: 🙋 Bounty claim

#855 docs: add environmental-variables guide
  docs/guides/environment-variables.md
Labels: 🙋 Bounty claim, 💰 Rewarded
