Repository tailcallhq/tailcall, pull requests merged in 2023-10, with the labels that each got.

#382 refactor: replace Option wrappers with serde(default) attribute
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/n_plus_one.rs
Labels: maintenance, 🙋 Bounty claim, 💰 Rewarded

#362 fix: add validation that root resolvers are existing in schema for query and mutation
  src/blueprint/from_config.rs
  tests/graphql/errors/test-missing-mutation-resolver.graphql
  tests/graphql/errors/test-missing-query-resolver.graphql
  tests/graphql/errors/test-missing-root-types.graphql
  tests/graphql/errors/test-missing-schema-query.graphql
  tests/graphql/test-custom-scalar.graphql
  tests/graphql/test-description-many.graphql
  tests/graphql/test-enum.graphql
  tests/graphql/test-http-tmpl.graphql
  tests/graphql/test-inline-list.graphql
  tests/graphql/test-inline.graphql
  tests/graphql/test-modify.graphql
  tests/graphql/test-query-documentation.graphql
  tests/graphql/test-query.graphql
  tests/graphql/test-server-vars.graphql
  tests/graphql/test-union.graphql
  tests/graphql_spec.rs
Labels: 🙋 Bounty claim

#401 Add graphQL schema for tailcall directives
  .graphqlrc.yml
  assets/.tailcallrc.graphql
Labels: maintenance

#400 feat: Batching
  Cargo.toml
  assets/.tailcallrc.graphql
  benches/data_loader_bench.rs
  src/config/server.rs
  src/http/client.rs
  src/http/data_loader.rs
  src/http/data_loader_request.rs
  src/http/memo_client.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  tests/graphql/passed/test-batching.graphql
  tests/graphql_spec.rs
Labels: enhancement

#421 feat: logging
  Cargo.lock
  Cargo.toml
  src/cli/command.rs
  src/cli/tc.rs
  src/http/client.rs
  src/http/server.rs
Labels: enhancement

#396 Update order of steps in GH
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim

#426 fix: JsonSchema optional fields
  src/json/json_schema.rs
Labels: bug

#425 feat: errors in config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/directive.rs
  src/valid/error.rs
  tests/graphql/errors/test-invalid-server.graphql
  tests/graphql/errors/undeclared-type-no-base-url.graphql
  tests/graphql_spec.rs
Labels: enhancement

#408 feat: add const directive
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/valid/cause.rs
  src/valid/valid.rs
  tests/graphql/errors/test-const-with-inline.graphql
  tests/graphql/errors/test-const.graphql
  tests/graphql/errors/test-multiple-resolvable-directives-on-field.graphql
  tests/graphql/passed/test-const-nullable.graphql
  tests/graphql/passed/test-const-with-inline-with-modify-field.graphql
  tests/graphql/passed/test-const.graphql
Labels: 🙋 Bounty claim

#427 refactor: key values
  src/blueprint/from_config.rs
  src/config/config.rs
  tests/graphql/passed/test-resolve-with-vars.graphql
  tests/graphql/passed/test-with-args.graphql
  tests/graphql/test-http-headers.graphql
  tests/graphql/test-http-tmpl.graphql
Labels: enhancement

#428 refactor: from document with better error handling in @http and @server
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/key_values.rs
  src/config/mod.rs
  src/config/server.rs
  src/path_string.rs
  tests/graphql/errors/test-invalid-query-in-http.graphql
  tests/graphql/passed/test-resolve-with-vars.graphql
  tests/graphql/test-server-vars.graphql
Labels: bug

#432 add health bot
  .github/workflows/stale.yml
Labels: maintenance

#444 performance: minor optimisation
  src/blueprint/into_schema.rs
Labels: benchmark

#447 fix: restricted url for graphiQL
  src/blueprint/from_config.rs
  tests/graphql/errors/test-restricted-route.graphql
  tests/graphql/errors/test-restricted-route=case.graphql
Labels: 🙋 Bounty claim

#430 performance: improve for PathString impl for EvaluationContext
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  benches/request_template_bench.rs
  src/blueprint/into_schema.rs
  src/has_headers.rs
  src/json/json_like.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lambda/mod.rs
  src/lambda/resolver_context_like.rs
  src/mustache.rs
  src/path_string.rs
  src/request_template.rs
Labels: 🙋 Bounty claim

#452 chore: update examples
  .github/contributing.md
  .graphqlrc.yml
  examples/.graphqlrc.yml
  examples/.tailcallrc.graphql
  examples/jsonplaceholder.graphql
Labels: maintenance, docs

#457 fix: deploy
  Dockerfile
Labels: bug

#403 feature: add `tc init` command
  Cargo.lock
  Cargo.toml
  src/cli/command.rs
  src/cli/tc.rs
Labels: 🙋 Bounty claim

#451 feat: group by endpoint
  benches/data_loader_bench.rs
  examples/.tailcallrc.graphql
  examples/jsonplaceholder_batch.graphql
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/into_schema.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/group_by.rs
  src/config/into_document.rs
  src/config/mod.rs
  src/document.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/http/server.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lambda/mod.rs
  src/lib.rs
  tests/graphql/errors/test-batch-operator-post.graphql
  tests/graphql/errors/test-batch-operator.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-resolve-with-headers.graphql
  tests/graphql/test-batching-group-by.graphql
  tests/graphql_spec.rs
Labels: enhancement

#465 fix: cache control headers
  benches/impl_path_string_for_evaluation_context.rs
  src/http/request_context.rs
  src/http/server.rs
  src/lambda/expression.rs
Labels: bug

#388 feat: support to configure http settings
  examples/.tailcallrc.graphql
  src/config/config.rs
  src/config/server.rs
  src/http/client.rs
Labels: 🙋 Bounty claim

#477 fix: info loss in const serialisation
  src/config/into_document.rs
  tests/graphql/test-const.graphql
Labels: bug

#478 refactor: use btreeset where duplicates are not allowed
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/config/config.rs
Labels: enhancement

#475 refactor: prerequisite to test multi sdl
  tests/graphql/merge/test-merge-server-sdl.graphql
  tests/graphql_spec.rs
Labels: maintenance

#474 fix: upstream setting keys should be optional
  examples/.tailcallrc.graphql
  src/blueprint/from_config.rs
  src/config/server.rs
  src/http/client.rs
  src/http/server.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  tests/graphql/errors/test-batch-operator-post.graphql
  tests/graphql/errors/test-const-with-inline.graphql
  tests/graphql/errors/test-const.graphql
  tests/graphql/errors/test-http-with-inline.graphql
  tests/graphql/errors/test-multiple-resolvable-directives-on-field.graphql
  tests/graphql/merge/test-merge-server-sdl.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-batching.graphql
  tests/graphql/passed/test-const-nullable.graphql
  tests/graphql/passed/test-const.graphql
  tests/graphql/passed/test-https.graphql
  tests/graphql/passed/test-mutation-put.graphql
  tests/graphql/passed/test-mutation.graphql
  tests/graphql/passed/test-nesting-level3.graphql
  tests/graphql/passed/test-simple-query.graphql
  tests/graphql/passed/test-with-nesting.graphql
  tests/graphql/test-batching-group-by.graphql
  tests/graphql/test-custom-scalar.graphql
  tests/graphql/test-description-many.graphql
  tests/graphql/test-enum.graphql
  tests/graphql/test-http-baseurl.graphql
  tests/graphql/test-http-headers.graphql
  tests/graphql/test-http-tmpl.graphql
  tests/graphql/test-http.graphql
  tests/graphql/test-inline-list.graphql
  tests/graphql/test-inline.graphql
  tests/graphql/test-interface.graphql
  tests/graphql/test-modify.graphql
  tests/graphql/test-multi-interface.graphql
  tests/graphql/test-query-documentation.graphql
  tests/graphql/test-query.graphql
  tests/graphql/test-server-vars.graphql
  tests/graphql/test-union.graphql
  tests/graphql/test-unsafe.graphql
  tests/graphql/test-upstream.graphql
  tests/graphql/todo/test-batched-query.graphql
  tests/graphql_spec.rs
Labels: bug

#482 feature: load multiple configs via CLI
  .gitignore
  examples/jsonplaceholder_batch.graphql
  src/cli/command.rs
  src/cli/tc.rs
  src/config/config.rs
  src/http/server.rs
  tests/graphql_spec.rs
Labels: enhancement

#487 fix: n + 1 issue
  src/config/config.rs
  src/config/group_by.rs
  src/config/n_plus_one.rs
Labels: bug

#455 feat: support custom-headers
  examples/.tailcallrc.graphql
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/config/server.rs
  src/http/server.rs
  src/http/server_context.rs
  src/valid/valid.rs
  tests/custom_resp_header_spec.rs
  tests/graphql/errors/test-response-header-value.graphql
  tests/graphql/errors/test-response-headers-multi.graphql
  tests/graphql/errors/test-response-headers-name.graphql
  tests/graphql_mock/test-custom-headers.graphql
Labels: 🙋 Bounty claim

#467 Load YAML & JSON formats via CLI
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  src/config/config.rs
Labels: enhancement, 🙋 Bounty claim

#493 feat: hostname config in server
  examples/.tailcallrc.graphql
  examples/jsonplaceholder.graphql
  src/blueprint/blueprint.rs
  src/config/server.rs
  src/http/server.rs
  tests/graphql/errors/test-hostname-faliure.graphql
Labels: enhancement

#495 refactor: use blueprint server throughout
  benches/impl_path_string_for_evaluation_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/mod.rs
  src/blueprint/server.rs
  src/cli/tc.rs
  src/http/client.rs
  src/http/request_context.rs
  src/http/server.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  tests/graphql_spec.rs
Labels: enhancement, maintenance

#497 refactor: use default batch settings if group_by is used
  src/blueprint/from_config.rs
  tests/graphql/passed/test-batching-default.graphql
Labels: bug

#509 feat: push docker image to ghcr.io
  .github/workflows/ghcr.yml
Labels: 🙋 Bounty claim

#507 auto fix lint issues via CI
  .github/workflows/bot.yml
Labels: maintenance

#516 feat: put all linting logic inside lint.sh
  .github/pull_request_template.md
  .github/workflows/bot.yml
  .github/workflows/ci.yml
  lint.sh
Labels: 🙋 Bounty claim

#407 performance: improve performance of `to_request`
  Cargo.toml
  benches/to_request.rs
  src/mustache.rs
  src/request_template.rs
Labels: 🙋 Bounty claim

#521 feat: compile time checks for nullable/undefined fields
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/mustache.rs
  tests/graphql/errors/test-dbl-usage-many.graphql
  tests/graphql/errors/test-dbl-usage.graphql
  tests/graphql/errors/test-directives-undef-null-fields.graphql
  tests/graphql/errors/test-field-already-implemented-from-Interface.graphql
  tests/graphql/errors/test-http-with-inline.graphql
  tests/graphql/passed/test-batching-default.graphql
  tests/graphql/passed/test-batching-group-by-default.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-batching.graphql
  tests/graphql/passed/test-mutation-put.graphql
  tests/graphql/passed/test-nesting-level3.graphql
  tests/graphql/passed/test-nullable-arg-query.graphql
  tests/graphql/passed/test-with-args-url.graphql
  tests/graphql/passed/test-with-args.graphql
  tests/graphql/test-batching-group-by.graphql
  tests/graphql/test-http-tmpl.graphql
Labels: 🙋 Bounty claim

#546 Make GraphiQL fixed on root
  ci-benchmark/benchmark.graphql
  examples/.tailcallrc.graphql
  examples/jsonplaceholder.graphql
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  examples/jsonplaceholder_batch.graphql
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  src/blueprint/server.rs
  src/config/server.rs
  src/http/server.rs
  tests/graphql/errors/test-hostname-faliure.graphql
  tests/graphql/errors/test-restricted-route.graphql
  tests/graphql/errors/test-restricted-route=case.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-batching.graphql
  tests/graphql_mock/test-custom-headers.graphql
Labels: enhancement

#540 fix(blueprint validation): validate component using `validate_both`
  tests/graphql/errors/test-all-blueprint-errors.graphql
Labels: 🙋 Bounty claim
