Repository tailcallhq/tailcall, pull requests merged in 2023-09, with the labels that each got.

#292 Enhance `Valid` type
  src/blueprint/blueprint.rs
  src/blueprint/error.rs
  src/blueprint/from_config.rs
  src/blueprint/mod.rs
  src/cli/error.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/expression.rs
  src/http/data_loader.rs
  src/lib.rs
  src/valid/cause.rs
  src/valid/error.rs
  src/valid/mod.rs
  src/valid/valid.rs
  tests/graphql_spec.rs
Labels: maintenance

#299 Disable wait for batching
  assets/jsonplaceholder.graphql
  src/http/data_loader.rs
Labels: enhancement

#300 Module Restructuring
  src/config/config.rs
  src/config/mod.rs
  src/config/server.rs
  src/config/source.rs
  src/config/url.rs
Labels: maintenance

#297 Update Release Build
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Labels: maintenance

#302 fix: app version var
  .github/workflows/ci.yml
Labels: maintenance

#305 Enable Linux Builds
  .github/workflows/ci.yml
Labels: enhancement

#306 Update install.sh to install arch specific builds
  install.sh
Labels: enhancement

#307 CI benchmark
  .github/workflows/benchmark.yml
  ci-benchmark/benchmark.graphql
  ci-benchmark/nginx.conf
  ci-benchmark/sample-wrk-output.txt
  ci-benchmark/wrk-output-to-md.js
  ci-benchmark/wrk.lua
Labels: benchmark

#309 Fix: Disable `queryValidation` setting
  Cargo.lock
  assets/jsonplaceholder.graphql
  src/config/server.rs
  tests/graphql_spec.rs
Labels: bug

#310 Auto Update Labels
  .github/workflows/ci.yml
Labels: maintenance

#311 CI: fix fly deployment
  .github/workflows/ci.yml
  assets/jsonplaceholder.graphql
Labels: maintenance

#312 Document to Config should not fail
  src/config/config.rs
  src/config/from_document.rs
  tests/graphql_spec.rs
Labels: maintenance

#316 chore: run tests on all branches
  .github/workflows/ci.yml
Labels: maintenance

#318 add code-coverage
  .github/workflows/ci.yml
Labels: maintenance

#327 fix: tls support
  Cargo.lock
  Cargo.toml
  src/blueprint/from_config.rs
  tests/graphql/passed/test-https.graphql
Labels: bug

#328 fix: headers forwarding
  src/blueprint/from_config.rs
  src/endpoint.rs
  src/http/data_loader.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  tests/graphql_spec.rs
Labels: bug

#324 Refactor: Endpoint + Mustache
  Cargo.lock
  Cargo.toml
  assets/jsonplaceholder.graphql
  src/cache.rs
  src/endpoint.rs
  src/endpoint_v2.rs
  src/http/request_context.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lib.rs
  src/mustache.rs
  src/mustache_v2.rs
  src/path_string.rs
  src/request_template.rs
  tests/graphql/todo/test-batched-query.graphql
  tests/graphql/todo/test-dictionary.graphql
  tests/graphql/todo/test-inline-with-list.graphql
  tests/graphql/todo/test-nested-type.graphql
  tests/graphql/todo/test-nesting-array-ctx.graphql
  tests/graphql/todo/test-nesting-array.graphql
  tests/graphql/todo/test-no-modified-input-field.graphql
  tests/graphql/todo/test-rename-argument.graphql
  tests/graphql_mock/mod.rs
Labels: bug, enhancement, benchmark

#331 Add dedicated benchmarking infrastructure
  .github/workflows/benchmark.yml
Labels: maintenance, benchmark

#336 Fix: validation should fail with non-zero exit code.
  Cargo.lock
  Cargo.toml
  src/cli/tc.rs
  src/main.rs
Labels: bug, 🙋 Bounty claim

#346 fix N+1 formatting
  src/cli/fmt.rs
Labels: bug, 🙋 Bounty claim

#350 test: mustache with mixed literal and template
  src/mustache.rs
Labels: maintenance

#344 chore: add nightly tool chain
  .github/workflows/ci.yml
Labels: maintenance, benchmark

#354 Fix: Header forwarding
  src/has_headers.rs
  src/lib.rs
  src/request_template.rs
Labels: bug

#353 Update ci.yml
  .github/workflows/ci.yml
  lint.sh
  src/cli/error.rs
  src/mustache.rs
Labels: maintenance

#338 Fix: Add validation for undeclared types and unions
  .gitignore
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/n_plus_one.rs
  src/valid/valid.rs
  tests/graphql/errors/test-no-base-url.graphql
  tests/graphql/errors/undeclared-type-no-base-url.graphql
  tests/graphql/errors/undeclared-type.graphql
Labels: bug, 🙋 Bounty claim

#360 fix: request generation from request template
  Cargo.toml
  benches/request_template_bench.rs
  src/request_template.rs
Labels: bug

#359 fix: fix false-positive case for n + 1 checker
  src/config/n_plus_one.rs
Labels: 🙋 Bounty claim

#361 chore: update ci
  .github/workflows/ci.yml
Labels: maintenance

#363 fix: docs trim from schema
  src/blueprint/into_schema.rs
  src/document.rs
  tests/graphql/test-description-many.graphql
  tests/graphql/test-query-documentation.graphql
Labels: bug

#352 Feature: add transform
  src/blueprint/mod.rs
  src/blueprint/transform.rs
  src/blueprint/transform_unused_types.rs
  src/valid/valid.rs
Labels: enhancement

#376 fix: inline operator
  src/blueprint/from_config.rs
  tests/graphql/errors/test-http-with-inline.graphql
  tests/graphql/errors/test-inline.graphql
  tests/graphql/inline-many-list.graphql
  tests/graphql/inline-many.graphql
  tests/graphql/passed/test-inline-field.graphql
  tests/graphql/passed/test-inline-modify-field.graphql
  tests/graphql/passed/test-resolved-by-parent.graphql
Labels: bug
