Repository tailcallhq/tailcall, pull requests merged in 2023-11, with the labels that each got.

#488 feat: add support for npm package
  .github/workflows/ci.yml
  .gitignore
  npm/aarch64-apple-darwin/README.md
  npm/aarch64-apple-darwin/package.json
  npm/aarch64-linux-gnu/README.md
  npm/aarch64-linux-gnu/package.json
  npm/aarch64-linux-musl/README.md
  npm/aarch64-linux-musl/package.json
  npm/i686-linux-gnu/README.md
  npm/i686-linux-gnu/package.json
  npm/tailcall/package.json
  npm/tailcall/scripts/generate-packages.js
  npm/x86_64-apple-darwin/README.md
  npm/x86_64-apple-darwin/package.json
  npm/x86_64-linux-gnu/README.md
  npm/x86_64-linux-gnu/package.json
  npm/x86_64-linux-musl/README.md
  npm/x86_64-linux-musl/package.json
Labels: 🙋 Bounty claim, Stale

#562 Publish Tailcall on NPM
  .github/workflows/ci.yml
  .gitignore
  npm/generate-root.js
  npm/generate.js
  npm/package-lock.json
  npm/package.json
Labels: bug, maintenance

#566 fix: npm version
  .github/workflows/ci.yml
  npm/generate-root.js
  npm/generate.js
Labels: bug, maintenance

#578 fix lint
  lint.sh
  src/blueprint/from_config.rs
  src/try_fold.rs
  src/valid/error.rs
Labels: 🙋 Bounty claim, 💰 Rewarded

#583 fix: npm rename server to tailcall
  .github/workflows/ci.yml
  src/blueprint/compress.rs
Labels: bug

#585 chore: lint errors
  src/json/json_like.rs
Labels: maintenance

#588 add metadata to npm packages
  npm/generate-root.js
  npm/generate.js
  npm/package.json
Labels: maintenance, 🙋 Bounty claim

#582 test: windows build
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  npm/generate.js
Labels: maintenance

#570 Refactor for global static values update #567
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  src/async_graphql_hyper.rs
  src/lambda/evaluation_context.rs
Labels: maintenance, 🙋 Bounty claim, ci:lint

#590 Refactor: Expression
  Cargo.lock
  Cargo.toml
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/directive.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lambda/mod.rs
  src/valid/valid.rs
Labels: maintenance

#594 refactor: drop `#[allow(clippy::too_many_arguments)]` where possible
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/cli/tc.rs
  src/config/from_document.rs
  src/config/n_plus_one.rs
  src/endpoint.rs
  src/main.rs
Labels: 🙋 Bounty claim

#549 add @field directive
  .prettierignore
  .prettierrc
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/directive.rs
  src/document.rs
  src/valid/valid.rs
  tests/graphql/add-field-many-list.graphql
  tests/graphql/add-field-many.graphql
  tests/graphql/errors/test-add-field.graphql
  tests/graphql/errors/test-const-with-add-field.graphql
  tests/graphql/errors/test-http-with-add-field.graphql
  tests/graphql/passed/test-add-field-index-list.graphql
  tests/graphql/passed/test-add-field-modify.graphql
  tests/graphql/passed/test-add-field-with-composition.graphql
  tests/graphql/passed/test-add-field-with-modify.graphql
  tests/graphql/passed/test-add-field.graphql
  tests/graphql/test-add-field-list.graphql
  tests/graphql/test-add-field.graphql
  tests/graphql_spec.rs
Labels: enhancement, ci:lint

#600 refactor: deprecate inline operator in favour of addField
  .prettierrc
  examples/.tailcallrc.graphql
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  tests/graphql/errors/test-const-with-inline.graphql
  tests/graphql/errors/test-http-with-inline.graphql
  tests/graphql/errors/test-inline.graphql
  tests/graphql/inline-many-list.graphql
  tests/graphql/inline-many.graphql
  tests/graphql/passed/test-const-with-inline-with-modify-field.graphql
  tests/graphql/passed/test-inline-field-with-composition.graphql
  tests/graphql/passed/test-inline-field.graphql
  tests/graphql/passed/test-inline-index-list.graphql
  tests/graphql/passed/test-inline-modify-field.graphql
  tests/graphql/passed/test-inline-with-modify-field.graphql
  tests/graphql/passed/test-resolved-by-parent.graphql
  tests/graphql/test-inline-list.graphql
  tests/graphql/test-inline.graphql
  tests/graphql/todo/test-inline-with-list.graphql
Labels: 🙋 Bounty claim

#604 added_fields default, fix json,yml examples
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  src/config/config.rs
Labels: bug, maintenance

#595 test: add request handle tests
  src/http/mod.rs
  src/http/server.rs
  tests/http/config/n-plus-one.graphql
  tests/http/config/simple.graphql
  tests/http/n-plus-one-list.yml
  tests/http/n-plus-one.yml
  tests/http/simple-graphql.yml
  tests/http_spec.rs
Labels: maintenance

#614 Adds `only`,`fail` and `skip` annotations to `GraphQLSpec`
  tests/graphql_spec.rs
Labels: maintenance, 🙋 Bounty claim

#607 Rewrite npm publish
  .github/workflows/ci.yml
  npm/gen-root.ts
  npm/gen.ts
  npm/generate-root.js
  npm/generate.js
  npm/package-lock.json
  npm/package.json
  npm/post-install.js
  npm/pre-install.js
Labels: 🙋 Bounty claim

#626 fix: npm publish
  npm/gen.ts
Labels: bug, maintenance

#632 doc: update asset
  assets/json_placeholder.png
Labels: docs

#639 fix: incomplete trace during const schema validation
  src/json/json_schema.rs
  tests/graphql/errors/test-const.graphql
Labels: 🙋 Bounty claim

#645 Added N+1 check to start command at INFO log level
  src/cli/tc.rs
Labels: 🙋 Bounty claim

#545 feat: add worker threads to @server
  Cargo.lock
  Cargo.toml
  examples/.tailcallrc.graphql
  src/blueprint/server.rs
  src/config/server.rs
  src/http/server.rs
Labels: enhancement, 🙋 Bounty claim

#571 Fix for batching when the field type is a list
  benches/data_loader_bench.rs
  ci-benchmark/benchmark.graphql
  src/http/data_loader.rs
  src/http/server_context.rs
  tests/http/n-plus-one-list.yml
  tests/http/n-plus-one.yml
  tests/http/simple-graphql.yml
  tests/http_spec.rs
Labels: bug, maintenance

#633 fix: npm publish issue with glib
  .github/workflows/ci.yml
  README.md
  install.sh
  npm/gen.ts
  npm/post-install.js
  src/cli/command.rs
Labels: bug

#520 Support request batching on GraphQL Server
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  src/async_graphql_hyper.rs
  src/blueprint/server.rs
  src/config/config.rs
  src/config/server.rs
  src/http/mod.rs
  src/http/server.rs
  tests/graphql_mock/test-batched-request.graphql
  tests/http/batching.yml
  tests/http/simple-graphql.yml
  tests/http_spec.rs
Labels: enhancement, maintenance

#609 feature: load configuration via HTTP
  src/cli/command.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/mod.rs
  src/config/reader.rs
  src/config/source.rs
  src/http/server_context.rs
  tests/custom_resp_header_spec.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
Labels: 🙋 Bounty claim, 💰 Rewarded

#655 refactor: drop `graphql` field and make things move up a level in `Config`
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  src/blueprint/from_config.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/n_plus_one.rs
  src/config/reader.rs
  src/http/method.rs
  src/http/mod.rs
  src/http/server.rs
  src/request_template.rs
  tests/custom_resp_header_spec.rs
  tests/http/batching.yml
  tests/http/custom-headers.yml
  tests/http/simple-graphql.yml
  tests/http_spec.rs
Labels: maintenance

#656 Integrated scarf sdk
  npm/gen-root.ts
Labels: 🙋 Bounty claim, ci:lint

#664 refactor: remove enable prefix
  assets/json_placeholder.png
  examples/.tailcallrc.graphql
  examples/jsonplaceholder.graphql
  examples/jsonplaceholder.json
  examples/jsonplaceholder.yml
  examples/jsonplaceholder_batch.graphql
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  src/config/server.rs
  tests/graphql_spec.rs
  tests/http/batching.yml
Labels: bug, enhancement, maintenance

#665 fix: error display for address already in use
  src/cli/tc.rs
  src/http/server.rs
  src/main.rs
Labels: bug

#674 fix: npm release issue with windows
  npm/gen.ts
Labels: bug

#662 Feature: Http 2
  Cargo.lock
  Cargo.toml
  examples/.tailcallrc.graphql
  examples/example.crt
  examples/example.key
  examples/jsonplaceholder_http_2.graphql
  src/blueprint/server.rs
  src/cli/error.rs
  src/config/server.rs
  src/http/http_1.rs
  src/http/http_2.rs
  src/http/mod.rs
  src/http/request_handler.rs
  src/http/server.rs
  src/http/server_config.rs
Labels: 🙋 Bounty claim

#669 Added Cache-Control header test and fixed header assertion
  tests/http/cache-control.yml
  tests/http_spec.rs
Labels: maintenance, 🙋 Bounty claim

#676 fix custom root types for graphql
  src/blueprint/compress.rs
  tests/graphql/test-custom-types.graphql
Labels: 🙋 Bounty claim

#680 fix: logging on server start
  examples/.tailcallrc.graphql
  examples/jsonplaceholder_http_2.graphql
  src/http/http_1.rs
  src/http/http_2.rs
  src/http/mod.rs
  src/http/server_config.rs
  tests/graphql/errors/test-hostname-faliure.graphql
  tests/graphql/errors/test-response-header-value.graphql
  tests/graphql/errors/test-response-headers-multi.graphql
  tests/graphql/errors/test-response-headers-name.graphql
  tests/graphql/errors/undeclared-type.graphql
  tests/graphql/passed/test-batching-default.graphql
  tests/graphql/passed/test-batching-group-by-default.graphql
  tests/graphql/passed/test-batching-group-by.graphql
  tests/graphql/passed/test-batching.graphql
  tests/graphql/passed/test-resolve-with-headers.graphql
  tests/graphql_mock/test-batched-request.graphql
  tests/graphql_mock/test-custom-headers.graphql
Labels: bug

#681 Test for graphql batch request to upstream batched request
  Cargo.toml
  README.md
  tests/http/request-to-upstream-batching.yml
Labels: maintenance, docs

#640 refactor/#384/make from config modular
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/from_config.rs
  src/blueprint/from_config/mod.rs
  src/blueprint/from_config/operators/const_field.rs
  src/blueprint/from_config/operators/http.rs
  src/blueprint/from_config/operators/mod.rs
  src/blueprint/from_config/operators/modify.rs
  src/blueprint/from_config/operators/unsafe_field.rs
  src/blueprint/from_config/schema.rs
  src/blueprint/from_config/server.rs
  src/blueprint/from_config/upstream.rs
  src/blueprint/mod.rs
Labels: 🙋 Bounty claim

#683 Fix: Cache-Control header cacheability handling
  src/async_graphql_hyper.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/lambda/expression.rs
  tests/http/cache-control.yml
Labels: 🙋 Bounty claim

#686 refactor: remove duplicate code
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/from_config.rs
  src/blueprint/from_config/mod.rs
  src/blueprint/from_config/operators/const_field.rs
  src/blueprint/from_config/operators/http.rs
Labels: enhancement, maintenance

#703 Issue with `http_spec` Configuration: Tests Panic Despite `fail` Annotation
  tests/http_spec.rs
Labels: bug
