Repository tailcallhq/tailcall, pull requests merged in 2023-07, with the labels that each got.

#221 Update field names on `http`
  runtime/src/main/scala/tailcall/runtime/model/Config.scala
  runtime/src/main/scala/tailcall/runtime/model/UnsafeSteps.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
Labels: enhancement

#223 compiler error on modifying inherited fields
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  runtime/src/test/scala/tailcall/runtime/transcoder/Config2BlueprintSpec.scala
Labels: enhancement

#227 disable flaky mysql test
  registry/src/test/scala/tailcall/registry/SchemaRegistrySpec.scala
Labels: maintenance

#226 add JSON as default scalar
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
Labels: enhancement

#235 fix not-found query-param
  runtime/src/main/scala/tailcall/runtime/model/Endpoint.scala
  runtime/src/test/scala/tailcall/runtime/EndpointSpec.scala
Labels: bug

#236 base url trimming fix
  runtime/src/main/scala/tailcall/runtime/model/Path.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
Labels: bug

#237 configure allowed headers via server CLI
  runtime/src/main/scala/tailcall/runtime/http/HttpClient.scala
  runtime/src/main/scala/tailcall/runtime/service/DataLoader.scala
  runtime/src/test/scala/tailcall/runtime/internal/JSONPlaceholderClient.scala
  server/src/main/scala/tailcall/server/GraphQLConfig.scala
  server/src/main/scala/tailcall/server/Main.scala
Labels: enhancement

#240 support custom headers via http directives
  runtime/src/main/scala/tailcall/runtime/model/Config.scala
  runtime/src/main/scala/tailcall/runtime/model/Endpoint.scala
  runtime/src/main/scala/tailcall/runtime/model/UnsafeSteps.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  runtime/src/test/resources/tailcall/runtime/graphql/test-http-headers.graphql
Labels: enhancement

#239 server cli improvements
  server/src/main/scala/tailcall/server/BlueprintDataLoader.scala
  server/src/main/scala/tailcall/server/GraphQLConfig.scala
Labels: enhancement

#241 use read-through cache for loading blueprints and interpreters
  registry/src/main/scala/tailcall/registry/InterpreterRegistry.scala
  server/src/main/scala/tailcall/server/BlueprintDataLoader.scala
  server/src/main/scala/tailcall/server/GenericServer.scala
  server/src/main/scala/tailcall/server/Main.scala
Labels: bug

#243 header mustache evaluation error
  runtime/src/main/scala/tailcall/runtime/model/Endpoint.scala
  runtime/src/test/scala/tailcall/runtime/EndpointSpec.scala
Labels: bug

#246 add support for unions
  runtime/src/main/scala/tailcall/runtime/model/Blueprint.scala
  runtime/src/main/scala/tailcall/runtime/model/Config.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Blueprint2Document.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Document.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Document2Config.scala
  runtime/src/test/resources/tailcall/runtime/graphql/test-union.graphql
Labels: enhancement

#248 fix client url redirect
  runtime/src/main/scala/tailcall/runtime/http/HttpClient.scala
  runtime/src/main/scala/tailcall/runtime/http/Request.scala
  runtime/src/test/scala/tailcall/runtime/RequestSpec.scala
Labels: bug

#256 Fix: Unsupported Database: MySQL 8.0
  build.sbt
Labels: bug

#257 Improve error message for non 200 status codes
  runtime/src/main/scala/tailcall/runtime/service/DataLoader.scala
  runtime/src/main/scala/tailcall/runtime/service/ValidationError.scala
  runtime/src/test/scala/tailcall/runtime/LambdaSpec.scala
  server/src/main/scala/tailcall/server/GenericServer.scala
Labels: enhancement

#259 Publish TC Server on GHCR
  .github/workflows/docker-push.yml
Labels: enhancement

#264 remove mustache from Path
  runtime/src/main/scala/tailcall/runtime/model/Endpoint.scala
  runtime/src/main/scala/tailcall/runtime/model/Path.scala
  runtime/src/test/scala/tailcall/runtime/PathSpec.scala
Labels: maintenance

#265 http file restructuring
  runtime/src/main/scala/tailcall/runtime/model/Config.scala
  runtime/src/main/scala/tailcall/runtime/model/Endpoint.scala
  runtime/src/main/scala/tailcall/runtime/model/Method.scala
  runtime/src/main/scala/tailcall/runtime/model/Postman.scala
  runtime/src/main/scala/tailcall/runtime/model/Request.scala
  runtime/src/main/scala/tailcall/runtime/model/Scheme.scala
  runtime/src/main/scala/tailcall/runtime/model/UnsafeSteps.scala
  runtime/src/main/scala/tailcall/runtime/service/DataLoader.scala
  runtime/src/main/scala/tailcall/runtime/service/EndpointGenerator.scala
  runtime/src/main/scala/tailcall/runtime/service/HttpClient.scala
  runtime/src/main/scala/tailcall/runtime/service/HttpContext.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Config2Blueprint.scala
  runtime/src/main/scala/tailcall/runtime/transcoder/Endpoint2Config.scala
  runtime/src/test/scala/tailcall/runtime/EndpointSpec.scala
  runtime/src/test/scala/tailcall/runtime/OperationSpec.scala
  runtime/src/test/scala/tailcall/runtime/RequestSpec.scala
  runtime/src/test/scala/tailcall/runtime/internal/JSONPlaceholderClient.scala
  runtime/src/test/scala/tailcall/runtime/internal/JsonPlaceholderConfig.scala
  runtime/src/test/scala/tailcall/runtime/transcoder/Config2BlueprintSpec.scala
  runtime/src/test/scala/tailcall/runtime/transcoder/Endpoint2SDLSpec.scala
  server/src/main/scala/tailcall/server/GenericServer.scala
  server/src/main/scala/tailcall/server/Main.scala
Labels: maintenance

#266 add static configs via server
  registry/src/main/scala/tailcall/registry/InterpreterRegistry.scala
  server/src/main/scala/tailcall/server/GraphQLConfig.scala
  server/src/main/scala/tailcall/server/Main.scala
Labels: enhancement
