Repository tailcallhq/tailcall, pull requests merged in 2024-02, with the labels that each got.

#1077 chore: add fuse in valid
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/mustache.rs
  src/blueprint/operation.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/graphql.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/blueprint/schema.rs
  src/blueprint/server.rs
  src/blueprint/upstream.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/from_document.rs
  src/directive.rs
  src/helpers/headers.rs
  src/json/json_schema.rs
  src/lambda/io.rs
  src/try_fold.rs
  src/valid/append.rs
  src/valid/mod.rs
  src/valid/valid.rs
  tests/graphql_spec.rs
Labels: type: chore

#998 chore(cloudflare): package cleanup
  cloudflare/Cargo.lock
  cloudflare/package.json
  cloudflare/wrangler.toml
Labels: state: inactive, type: chore

#1086 chore: introduce and use `TargetRuntime`
  cloudflare/src/handle.rs
  cloudflare/src/lib.rs
  src/app_context.rs
  src/cli/mod.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/http/request_context.rs
  src/lib.rs
  src/target_runtime.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: 💰 Rewarded, type: chore, type: feature

#964 chore: refactor ci setup to remove insecure features
  .github/labels.json
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/comment-commit.yml
  .github/workflows/lint.yml
  .github/workflows/pr-convention.yml
  .github/workflows/release-drafter.yml
Labels: state: inactive, ci: lint, type: chore, type: security, type: feature

#1092 ci: fix commit comments, pr title validation and autofix
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/comment-commit.yml
  .github/workflows/lint.yml
  .github/workflows/pr-convention.yml
Labels: ci: lint, type: fix

#1087 chore: add package name to news.proto
  examples/grpc.graphql
  src/grpc/protobuf.rs
  src/grpc/tests/news.proto
  tests/graphql/errors/proto/news.proto
  tests/graphql/errors/test-grpc-group-by.graphql
  tests/graphql/errors/test-grpc-missing-fields.graphql
  tests/graphql/errors/test-grpc-nested-data.graphql
  tests/graphql/errors/test-grpc-nested-optional.graphql
  tests/graphql/errors/test-grpc-optional.graphql
  tests/graphql/errors/test-grpc-proto-path.graphql
  tests/graphql/errors/test-grpc-service-method.graphql
  tests/graphql/errors/test-missing-argument-on-all-resolvers.graphql
  tests/graphql/test-expr-success.graphql
  tests/graphql/test-grpc.graphql
  tests/http/config/grpc-batch.graphql
  tests/http/config/grpc.graphql
  tests/http/grpc-batch.yml
  tests/http/grpc-simple.yml
Labels: type: chore

#1098 chore: various execution_spec/testconv hotfixes
  docker.sh
  testconv/src/http.rs
  testconv/src/main.rs
  tests/execution_spec.rs
Labels: ci: lint, type: chore, type: fix

#1076 chore: implement `blueprint::Upstream`
  benches/impl_path_string_for_evaluation_context.rs
  examples/jsonplaceholder.graphql
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/upstream.rs
  src/cli/http.rs
  src/cli/mod.rs
  src/cli/tc.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  testconv/src/main.rs
  tests/execution_spec.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: 🙋 Bounty claim, ci: lint, type: chore

#1100 fix: fixing duplicate types
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
Labels: type: fix

#1104 chore: use `allow_list` in favour of `whitelist`
  autogen/src/gen_gql_schema.rs
Labels: type: chore

#1106 fix(testconv): only convert from existing dirs
  testconv/src/main.rs
Labels: type: fix

#1107 chore(prettier): don't put trailing commas in devcontainer.json
  .prettierrc
Labels: ci: lint, type: chore

#1110 chore: cargo profile warning
  Cargo.toml
  cloudflare/Cargo.toml
Labels: 🙋 Bounty claim, type: chore

#1015 feat: add `/showcase/graphql` endpoint
  Cargo.lock
  Cargo.toml
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/lib.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/server.rs
  src/cli/javascript/mod.rs
  src/config/server.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/showcase.rs
  testconv/src/common.rs
  tests/execution/showcase.md
  tests/execution_spec.rs
  tests/graphql_spec.rs
  tests/http/config/showcase.graphql
  tests/http_spec.rs
  tests/snapshots/execution_spec__showcase.md_assert_0.snap
  tests/snapshots/execution_spec__showcase.md_assert_1.snap
  tests/snapshots/execution_spec__showcase.md_assert_2.snap
  tests/snapshots/execution_spec__showcase.md_assert_3.snap
  tests/snapshots/execution_spec__showcase.md_assert_4.snap
  tests/snapshots/execution_spec__showcase.md_client.snap
  tests/snapshots/execution_spec__showcase.md_merged.snap
Labels: ci: benchmark, 🙋 Bounty claim, ci: lint, type: feature

#1115 chore: remove lambda.rs
  src/blueprint/blueprint.rs
  src/blueprint/definitions.rs
  src/blueprint/operators/graphql.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/blueprint/operators/modify.rs
  src/lambda/lambda.rs
  src/lambda/mod.rs
Labels: type: chore

#1119 chore: remove nightly
  .github/workflows/lint.yml
  lint.sh
Labels: type: chore

#1078 fix: caching values based on resolvers
  Cargo.lock
  src/app_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/definitions.rs
  src/blueprint/into_schema.rs
  src/blueprint/mustache.rs
  src/blueprint/operators/graphql.rs
  src/graphql/request_template.rs
  src/grpc/request_template.rs
  src/http/request_template.rs
  src/lambda/cache.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/mod.rs
  src/lambda/modify.rs
Labels: ci: lint, type: fix

#1122 chore: drop is grpc check from http_spec
  tests/http_spec.rs
Labels: type: chore

#1123 feat(`@grpc`): infer proto file from method
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/operators/grpc.rs
  src/config/config.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  tests/execution/grpc-batch.md
  tests/execution/grpc-simple.md
  tests/execution/test-expr-success.md
  tests/execution/test-grpc-group-by.md
  tests/execution/test-grpc-invalid-proto-id.md
  tests/execution/test-grpc-missing-fields.md
  tests/execution/test-grpc-nested-data.md
  tests/execution/test-grpc-nested-optional.md
  tests/execution/test-grpc-optional.md
  tests/execution/test-grpc-service-method.md
  tests/execution/test-grpc-service.md
  tests/execution/test-grpc.md
  tests/execution/test-missing-argument-on-all-resolvers.md
  tests/graphql/passed/test-const-nullable.graphql
  tests/graphql/passed/test-const.graphql
  tests/snapshots/execution_spec__grpc-batch.md_merged.snap
  tests/snapshots/execution_spec__grpc-simple.md_merged.snap
  tests/snapshots/execution_spec__test-expr-success.md_merged.snap
  tests/snapshots/execution_spec__test-grpc-service.md_errors.snap
  tests/snapshots/execution_spec__test-grpc.md_merged.snap
Labels: 🙋 Bounty claim, type: feature

#1125 test(`@grpc`): add tests for method wrong format
  src/blueprint/operators/grpc.rs
  tests/execution/grpc-override-url-from-upstream.md
  tests/execution/grpc-url-from-upstream.md
  tests/execution/test-grpc-invalid-method-format.md
  tests/snapshots/execution_spec__grpc-override-url-from-upstream.md_assert_0.snap
  tests/snapshots/execution_spec__grpc-override-url-from-upstream.md_client.snap
  tests/snapshots/execution_spec__grpc-override-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__grpc-url-from-upstream.md_assert_0.snap
  tests/snapshots/execution_spec__grpc-url-from-upstream.md_client.snap
  tests/snapshots/execution_spec__grpc-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__test-grpc-invalid-method-format.md_errors.snap
Labels: type: feature

#1088 chore: simpler javascript runtime
  Cargo.lock
  Cargo.toml
  examples/scripts/echo.js
  src/channel.rs
  src/cli/javascript/channel.rs
  src/cli/javascript/http_filter.rs
  src/cli/javascript/js_request.rs
  src/cli/javascript/js_response.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/runtime.rs
  src/cli/javascript/serde_v8.rs
  src/cli/javascript/shim/console.js
  src/cli/javascript/shim/console.rs
  src/cli/javascript/shim/mod.rs
  src/lib.rs
  tests/execution/test-js-request-reponse.md
  tests/http/scripts/test.js
Labels: ci: lint, type: chore

#1124 chore: lock rust nightly version
  .github/workflows/lint.yml
  .nightly/rust-toolchain.toml
  lint.sh
  rust-toolchain.toml
  src/blueprint/operators/grpc.rs
  src/cli/javascript/js_request.rs
  src/cli/javascript/js_response.rs
Labels: ci: lint, type: chore

#1134 chore: ci release builds
  .github/workflows/ci.yml
Labels: type: chore

#1129 refactor: simplify expression modify
  src/app_context.rs
  src/lambda/modify.rs
Labels: type: chore

#1138 chore: delete config folder
  tests/http/config/add-field-index-list.graphql
  tests/http/config/add-field-modify.graphql
  tests/http/config/add-field-with-composition.graphql
  tests/http/config/add-field-with-modify.graphql
  tests/http/config/add-field.graphql
  tests/http/config/args-body.graphql
  tests/http/config/batching-default.graphql
  tests/http/config/batching-group-by-default.graphql
  tests/http/config/batching-group-by.graphql
  tests/http/config/batching-post.graphql
  tests/http/config/caching-collision.graphql
  tests/http/config/caching-gql-args.graphql
  tests/http/config/caching-gql-parent-not-null.graphql
  tests/http/config/caching-gql-parent-null.graphql
  tests/http/config/caching-gql-parent-obj.graphql
  tests/http/config/caching.graphql
  tests/http/config/graphql-dataloader-batch-keys.graphql
  tests/http/config/graphql-dataloader-batch-request.graphql
  tests/http/config/graphql-dataloader-no-batch-request.graphql
  tests/http/config/graphql-datasource-errors.graphql
  tests/http/config/graphql-datasource-mutation.graphql
  tests/http/config/graphql-datasource-no-args.graphql
  tests/http/config/graphql-datasource-with-args.graphql
  tests/http/config/grpc-batch.graphql
  tests/http/config/grpc.graphql
  tests/http/config/inline-field.graphql
  tests/http/config/inline-index-list.graphql
  tests/http/config/modified-field.graphql
  tests/http/config/mutation-put.graphql
  tests/http/config/mutation.graphql
  tests/http/config/n-plus-one.graphql
  tests/http/config/nested-objects.graphql
  tests/http/config/nesting-level3.graphql
  tests/http/config/nullable-arg-query.graphql
  tests/http/config/omit-index-list.graphql
  tests/http/config/omit-resolved-by-parent.graphql
  tests/http/config/ref-other.graphql
  tests/http/config/rename-field.graphql
  tests/http/config/resolve-with-headers.graphql
  tests/http/config/resolve-with-vars.graphql
  tests/http/config/resolved-by-parent.graphql
  tests/http/config/showcase.graphql
  tests/http/config/test-expr-concat.graphql
  tests/http/config/test-expr-intersection.graphql
  tests/http/config/test-expr-logic.graphql
  tests/http/config/test-expr-math.graphql
  tests/http/config/test-expr-relation.graphql
  tests/http/config/test-js.graphql
  tests/http/config/with-args.graphql
  tests/http/config/with-nesting.graphql
Labels: type: chore

#1139 chore: disable unused flag to reduce build size
  Cargo.lock
  Cargo.toml
Labels: type: chore

#1142 chore(test): add virtual file system
  tests/data/posts.json
  tests/data/user-posts.json
  tests/data/users.json
  tests/execution/grpc-batch.md
  tests/execution/grpc-override-url-from-upstream.md
  tests/execution/grpc-simple.md
  tests/execution/grpc-url-from-upstream.md
  tests/execution/test-add-link-to-empty-config.md
  tests/execution/test-duplicated-link.md
  tests/execution/test-expr-success.md
  tests/execution/test-grpc-group-by.md
  tests/execution/test-grpc-missing-fields.md
  tests/execution/test-grpc-nested-data.md
  tests/execution/test-grpc-nested-optional.md
  tests/execution/test-grpc-optional.md
  tests/execution/test-grpc-service-method.md
  tests/execution/test-grpc-service.md
  tests/execution/test-grpc.md
  tests/execution/test-js-hello-world.md
  tests/execution/test-js-multiple-scripts.md
  tests/execution/test-js-request-reponse.md
  tests/execution/test-missing-argument-on-all-resolvers.md
  tests/execution/test-nested-link.md
  tests/execution_spec.md
  tests/execution_spec.rs
  tests/fixtures/graphql-with-link.graphql
  tests/fixtures/link-const.graphql
  tests/fixtures/link-enum.graphql
  tests/graphql/errors/proto/news.proto
  tests/http/scripts/test.js
  tests/snapshots/execution_spec__grpc-batch.md_merged.snap
  tests/snapshots/execution_spec__grpc-override-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__grpc-simple.md_merged.snap
  tests/snapshots/execution_spec__grpc-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__test-add-link-to-empty-config.md_merged.snap
  tests/snapshots/execution_spec__test-expr-success.md_merged.snap
  tests/snapshots/execution_spec__test-grpc.md_merged.snap
  tests/snapshots/execution_spec__test-js-hello-world.md_merged.snap
  tests/snapshots/execution_spec__test-js-request-reponse.md_merged.snap
  tests/snapshots/execution_spec__test-nested-link.md_merged.snap
Labels: 🙋 Bounty claim, type: chore, type: feature

#1044 feat(aws): add AWS Lambda function
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  aws-lambda/Cargo.toml
  aws-lambda/src/http.rs
  aws-lambda/src/main.rs
  aws-lambda/src/runtime.rs
Labels: 🙋 Bounty claim, type: feature

#1162 fix(aws): prevent skipping of AWS release build
  .github/workflows/ci.yml
Labels: type: fix

#1155 chore: replace *IO to TargetRuntime
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  src/app_context.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/request.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/lambda/cache.rs
  src/lambda/evaluation_context.rs
  src/lambda/io.rs
  src/path.rs
Labels: ci: benchmark, type: chore

#1143 feat: load cert and key for TLS via `@link`
  Cargo.toml
  examples/jsonplaceholder_http_2.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/links.rs
  src/blueprint/server.rs
  src/cli/server/http_2.rs
  src/config/config_module.rs
  src/config/link.rs
  src/config/reader.rs
  src/config/server.rs
  tests/server/config/server-start-http2-ec.graphql
  tests/server/config/server-start-http2-nokey.graphql
  tests/server/config/server-start-http2-pkcs8.graphql
  tests/server/config/server-start-http2-rsa.graphql
Labels: 🙋 Bounty claim, type: feature

#1154 chore: retry on codecov failing error
  .github/workflows/ci.yml
Labels: type: chore

#1166 fix(aws): update lambda_http to fix AWS Lambda build
  Cargo.lock
  aws-lambda/Cargo.toml
  aws-lambda/src/http.rs
  aws-lambda/src/main.rs
Labels: type: fix

#1168 fix(docker): fix build being broken by AWS
  docker.sh
Labels: type: docs, type: fix

#1170 fix: docker build
  Dockerfile
Labels: type: docs, 🙋 Bounty claim, type: fix

#1174 chore: fix musl build
  src/cli/runtime/mod.rs
Labels: type: chore, type: fix

#1177 chore: rename `config_set` to `config_module`
  benches/impl_path_string_for_evaluation_context.rs
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/blueprint/server.rs
  src/cli/server/server.rs
  src/cli/tc.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/http/request_context.rs
Labels: type: chore

#1181 chore: lint fixes in `Definition`
  src/app_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/compress.rs
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/into_schema.rs
Labels: type: chore, type: fix

#1178 feat: switch to TailcallBuilder
  aws-lambda/src/main.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/handle.rs
  src/app_context.rs
  src/async_graphql_hyper.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/builder.rs
  src/cli/mod.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/mod.rs
  src/config/n_plus_one.rs
  src/config/reader.rs
  src/data_loader/data_loader.rs
  src/data_loader/mod.rs
  src/fmt.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/data_loader_request.rs
  src/grpc/mod.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/http/data_loader.rs
  src/http/request_handler.rs
  src/http/showcase.rs
  src/lambda/io.rs
  src/lambda/mod.rs
  src/lib.rs
  testconv/src/main.rs
  tests/execution_spec.rs
  tests/server_spec.rs
Labels: type: feature

#1194 revert: "feat: switch to TailcallBuilder (#1178)"
  aws-lambda/src/main.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/handle.rs
  src/app_context.rs
  src/async_graphql_hyper.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/builder.rs
  src/cli/fmt.rs
  src/cli/mod.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/mod.rs
  src/config/n_plus_one.rs
  src/config/reader.rs
  src/data_loader/data_loader.rs
  src/data_loader/mod.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/data_loader_request.rs
  src/grpc/mod.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/http/data_loader.rs
  src/http/request_handler.rs
  src/http/showcase.rs
  src/lambda/io.rs
  src/lambda/mod.rs
  src/lib.rs
  testconv/src/main.rs
  tests/execution_spec.rs
  tests/server_spec.rs
Labels: ci: benchmark, type: feature

#1192 fix: mustache parsing for jsonlike string
  src/http/request_template.rs
  src/mustache.rs
Labels: ci: benchmark, type: fix

#1199 fix(link): bug in relative path
  src/config/reader.rs
  testconv/src/main.rs
  tests/execution_spec.rs
Labels: type: fix

#1200 chore: update deno_core version
  Cargo.lock
  Cargo.toml
  src/cli/javascript/runtime.rs
Labels: type: chore

#1222 chore: upgrade async-graphql
  Cargo.lock
  Cargo.toml
  cloudflare/Cargo.toml
  src/document.rs
  src/graphql/request_template.rs
  tests/execution/graphql-datasource-mutation.md
Labels: ci: benchmark, type: chore

#1196 feat: const to support mustache templates
  src/blueprint/definitions.rs
  src/blueprint/dynamic_value.rs
  src/blueprint/mod.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/http/request_template.rs
  src/lambda/expression.rs
  src/lib.rs
  src/mustache.rs
  src/serde_value_ext.rs
  tests/execution/test-const-with-mustache.md
  tests/execution/test-http-with-mustache-const.md
  tests/snapshots/execution_spec__test-const-with-mustache.md_assert_0.snap
  tests/snapshots/execution_spec__test-const-with-mustache.md_client.snap
  tests/snapshots/execution_spec__test-const-with-mustache.md_merged.snap
  tests/snapshots/execution_spec__test-http-with-mustache-const.md_assert_0.snap
  tests/snapshots/execution_spec__test-http-with-mustache-const.md_client.snap
  tests/snapshots/execution_spec__test-http-with-mustache-const.md_merged.snap
Labels: ci: benchmark, ci: lint, type: feature

#1237 chore: drop test-conv
  Cargo.lock
  Cargo.toml
  lint.sh
  testconv/Cargo.toml
  testconv/src/common.rs
  testconv/src/http.rs
  testconv/src/main.rs
Labels: type: chore

#1232 chore(cf): add tests for worker
  cloudflare/tests/cf_tests.spec.ts
  cloudflare/tests/mf.ts
  examples/grpc.graphql
Labels: type: chore

#1238 chore: fix `cargo test <module name> panics`
  Cargo.toml
  tests/execution_spec.md
  tests/execution_spec.rs
Labels: 🙋 Bounty claim, ci: lint, type: chore, type: fix

#1246 chore: switch to FileIO from tokio fs
  src/config/reader.rs
Labels: type: chore

#1245 chore: fix app version warning
  src/cli/update_checker.rs
Labels: type: chore, type: fix

#1242 fix: losing cache wrapper for expr from app_context
  src/lambda/cache.rs
  src/lambda/modify.rs
Labels: ci: benchmark, type: fix

#1249 chore: disable http cache in benchmarks
  ci-benchmark/benchmark.graphql
Labels: ci: benchmark, type: chore
