Repository tailcallhq/tailcall, pull requests merged in 2024-08, with the labels that each got.

#2570 fix(jit): handle non-ir fields of list types
  src/core/jit/context.rs
  src/core/jit/exec.rs
Labels: type: fix, ci: test-jit

#2586 refactor(json): relax json_like trait lifetimes
  src/core/jit/common/jp.rs
  src/core/jit/exec.rs
  src/core/jit/synth/synth.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/mod.rs
  src/core/json/serde.rs
Labels: type: chore, ci: test-jit

#2516 refactor(core): modularize error.rs
  benches/data_loader_bench.rs
  src/cli/javascript/codec.rs
  src/cli/javascript/runtime.rs
  src/core/cache/cache.rs
  src/core/cache/error.rs
  src/core/cache/mod.rs
  src/core/error.rs
  src/core/http/request_context.rs
  src/core/ir/error.rs
  src/core/ir/eval_http.rs
  src/core/mod.rs
  src/core/worker/error.rs
  src/core/worker/mod.rs
  src/core/worker/worker.rs
  tailcall-cloudflare/src/cache.rs
Labels: ci: benchmark, 💰 Rewarded, type: chore

#2609 chore: introduce include_config
  src/core/fixtures/helloworld.graphql
  src/core/mod.rs
  src/core/snapshots/tailcall__core__tests__include_config.snap
Labels: 🙋 Bounty claim, type: chore

#2610 fix: NPO count error
  project-words.txt
  src/cli/fmt.rs
  src/core/config/config.rs
  src/core/config/mod.rs
  src/core/config/npo/chunk.rs
  src/core/config/npo/fixtures/cycles.graphql
  src/core/config/npo/fixtures/cyclic-resolver.graphql
  src/core/config/npo/fixtures/cyclic-resolvers.graphql
  src/core/config/npo/fixtures/multiple-keys.graphql
  src/core/config/npo/fixtures/nested-non-list.graphql
  src/core/config/npo/fixtures/nested-resolvers.graphql
  src/core/config/npo/fixtures/nested-without-resolvers.graphql
  src/core/config/npo/fixtures/non-list-resolvers.graphql
  src/core/config/npo/fixtures/simple-batch-resolver.graphql
  src/core/config/npo/fixtures/simple-resolvers.graphql
  src/core/config/npo/identifier.rs
  src/core/config/npo/mod.rs
  src/core/config/npo/queries.rs
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_cycles_with_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_nested_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_nested_resolvers_non_list_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__batched_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__cycles.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__cycles_with_resolver.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__cycles_with_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__multiple_keys.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__nested_non_list.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__nested_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__nested_resolvers_non_list_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__nested_resolvers_without_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__resolvers.snap
  src/core/config/npo/tracker.rs
Labels: type: fix

#2615 fix: Update batching error message
  src/core/blueprint/operators/http.rs
  tests/core/snapshots/test-groupby-without-batching.md_error.snap
Labels: type: fix

#2452 fix(jit): union support
  src/core/ir/resolver_context_like.rs
  src/core/jit/builder.rs
  src/core/jit/common/jp.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/model.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/synth.rs
  tests/execution/grpc-oneof.md
Labels: type: fix, ci: test-jit

#2617 chore: PathTracker performance improvement
  src/core/config/npo/tracker.rs
Labels: ci: benchmark, type: chore, type: performance

#2529 refactor: move errors from operation plan
  src/core/jit/context.rs
  src/core/jit/exec.rs
  src/core/jit/snapshots/tailcall__core__jit__context__test__field.snap
Labels: ci: test-jit

#2623 feat: generate better type names with llm
  Cargo.lock
  Cargo.toml
  project-words.txt
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/generator/tests/fixtures/generator/deezer.json
  src/cli/generator/tests/fixtures/generator/json_proto_mix_config.json
  src/cli/generator/tests/fixtures/generator/jsonplaceholder.json
  src/cli/llm/error.rs
  src/cli/llm/infer_type_name.rs
  src/cli/llm/mod.rs
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__chat_response_parse.snap
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__to_chat_request_conversion.snap
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__valid_conversion.snap
  src/cli/llm/wizard.rs
  src/cli/mod.rs
  src/core/config/config.rs
  src/core/config/transformer/mod.rs
  src/core/config/transformer/preset.rs
  src/core/config/transformer/rename_types.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__rename_types__test__rename_type.snap
Labels: 🙋 Bounty claim, type: feature

#2653 fix: set the temperature of the wizard to 0
  src/cli/llm/wizard.rs
Labels: type: fix

#2650 chore(2649): drop tag from config
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/generator/snapshots/tailcall__cli__generator__generator__test__generator_spec__src__cli__generator__tests__fixtures__generator__json_proto_mix_config.json.snap
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__valid_conversion.snap
  src/core/config/config.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__ambiguous_type__tests__resolve_ambiguous_news_types.snap
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__greetings_proto_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__nested_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__oneof_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__optional_fields.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__scalar_types.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_proto.snap
  tests/core/snapshots/grpc-map.md_merged.snap
  tests/core/snapshots/grpc-oneof.md_merged.snap
  tests/core/snapshots/test-tag.md_client.snap
  tests/core/snapshots/test-tag.md_merged.snap
  tests/execution/test-tag.md
Labels: 🙋 Bounty claim, type: chore

#2664 fix: deny unknown fields in config
  src/cli/generator/config.rs
Labels: type: fix

#2666 fix: add deny_unknown_fields to nested structs
  src/cli/generator/config.rs
Labels: type: fix

#2659 feat(2658): introduce `Adapter`
  src/cli/generator/generator.rs
  src/cli/llm/infer_type_name.rs
  src/cli/llm/mod.rs
  src/cli/llm/model.rs
  src/cli/llm/wizard.rs
Labels: 🙋 Bounty claim, type: feature

#2592 fix(prettier): show relevant message when prettier is not installed
  Cargo.lock
  tailcall-prettier/Cargo.toml
  tailcall-prettier/src/error.rs
  tailcall-prettier/src/prettier.rs
Labels: type: fix

#2614 feat: mutation support in config generation
  benches/from_json_bench.rs
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/generator/snapshots/tailcall__cli__generator__config__tests__config_codec.snap
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/json/field_base_url_generator.rs
  src/core/generator/json/mod.rs
  src/core/generator/json/operation_generator.rs
  src/core/generator/json/query_generator.rs
  src/core/generator/json/schema_generator.rs
  src/core/generator/json/snapshots/tailcall__core__generator__json__operation_generator__test__append_field_if_operation_type_exists.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__operation_generator__test__mutation.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__operation_generator__test__query.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__query_generator__test__list_json_query_generator.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__query_generator__test__query_generator.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__query_generator__test__query_generator_with_path_variables.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__query_generator__test__query_generator_with_query_params.snap
  src/core/generator/json/snapshots/tailcall__core__generator__json__schema_generator__test__schema_generator_with_query.snap
  src/core/generator/json/types_generator.rs
  src/core/generator/tests/fixtures/json/add_cart.json
  src/core/generator/tests/fixtures/json/boolean.json
  src/core/generator/tests/fixtures/json/create_post.json
  src/core/generator/tests/fixtures/json/create_product.json
  src/core/generator/tests/fixtures/json/create_user.json
  src/core/generator/tests/fixtures/json/empty_list.json
  src/core/generator/tests/fixtures/json/generate_auth_token.json
  src/core/generator/tests/fixtures/json/incompatible_properties.json
  src/core/generator/tests/fixtures/json/incompatible_root_object.json
  src/core/generator/tests/fixtures/json/list.json
  src/core/generator/tests/fixtures/json/list_incompatible_object.json
  src/core/generator/tests/fixtures/json/list_primitive_type.json
  src/core/generator/tests/fixtures/json/nested_list.json
  src/core/generator/tests/fixtures/json/nested_same_properties.json
  src/core/generator/tests/fixtures/json/null.json
  src/core/generator/tests/fixtures/json/number.json
  src/core/generator/tests/fixtures/json/string.json
  src/core/generator/tests/json_to_config_spec.rs
  src/core/generator/tests/snapshots/json_to_config_spec__add_cart.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__boolean.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_post.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_product.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_user.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__empty_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__generate_auth_token.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_root_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_incompatible_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_primitive_type.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_same_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__null.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__number.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__string.json.snap
  src/core/resource_reader.rs
Labels: ci: benchmark, type: feature

#2669 feat(2468): support for `skipEmpty: true` in HTTP directive query par…
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/mustache.rs
  src/core/blueprint/operators/http.rs
  src/core/config/config.rs
  src/core/config/mod.rs
  src/core/config/url_query.rs
  src/core/endpoint.rs
  src/core/generator/json/http_directive_generator.rs
  src/core/http/request_template.rs
  tests/core/snapshots/test-optional-key-skip-empty.md_0.snap
  tests/core/snapshots/test-optional-key-skip-empty.md_client.snap
  tests/core/snapshots/test-optional-key-skip-empty.md_merged.snap
  tests/execution/test-optional-key-skip-empty.md
Labels: type: feature

#2643 refactor(2641): move snapshot tests for the gen command
  Cargo.toml
  src/cli/generator/generator.rs
  src/cli/generator/snapshots/tailcall__cli__generator__generator__test__generator_spec__src__cli__generator__tests__fixtures__generator__json_proto_mix_config.json.snap
  tests/cli/fixtures/generator/gen_deezer.json
  tests/cli/fixtures/generator/gen_json_proto_mix_config.json
  tests/cli/fixtures/generator/gen_jsonplaceholder.json
  tests/cli/gen.rs
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_deezer.json.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_jsonplaceholder.json.snap
Labels: 🙋 Bounty claim, type: chore

#2675 refactor(config): represent field resolver as separate enum
  examples/jsonplaceholder.json
  generated/.tailcallrc.schema.json
  src/cli/tc/init.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/from_config.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/expr.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/operators/js.rs
  src/core/config/config.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/transformer/consolidate_url/consolidate_url.rs
  src/core/directive.rs
  src/core/generator/from_proto.rs
  src/core/generator/json/field_base_url_generator.rs
  src/core/generator/json/operation_generator.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  tailcall-typedefs/src/main.rs
  tests/core/snapshots/test-graphql-with-add-field.md_error.snap
  tests/core/snapshots/test-invalid-query-in-http.md_error.snap
  tests/execution/test-all-blueprint-errors.md
  tests/execution/test-graphql-with-add-field.md
Labels: type: chore

#2717 fix: add CLI layer to telemetry tracing
  src/cli/telemetry.rs
Labels: type: fix

#2681 fix: schema validation with GRPC
  examples/grpc-reflection.graphql
  examples/grpc.graphql
  examples/telemetry-otlp.graphql
  src/core/blueprint/from_config.rs
  src/core/blueprint/operators/grpc.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__ambiguous_type__tests__resolve_ambiguous_news_types.snap
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__greetings_proto_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__nested_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__oneof_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__optional_fields.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__scalar_types.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_proto.snap
  src/core/json/json_schema.rs
  tests/core/snapshots/call-operator.md_client.snap
  tests/core/snapshots/call-operator.md_merged.snap
  tests/core/snapshots/grpc-batch.md_client.snap
  tests/core/snapshots/grpc-batch.md_merged.snap
  tests/core/snapshots/grpc-error.md_client.snap
  tests/core/snapshots/grpc-error.md_merged.snap
  tests/core/snapshots/grpc-override-url-from-upstream.md_client.snap
  tests/core/snapshots/grpc-override-url-from-upstream.md_merged.snap
  tests/core/snapshots/grpc-reflection.md_client.snap
  tests/core/snapshots/grpc-reflection.md_merged.snap
  tests/core/snapshots/grpc-simple.md_client.snap
  tests/core/snapshots/grpc-simple.md_merged.snap
  tests/core/snapshots/grpc-url-from-upstream.md_client.snap
  tests/core/snapshots/grpc-url-from-upstream.md_merged.snap
  tests/core/snapshots/test-enum-default.md_client.snap
  tests/core/snapshots/test-enum-default.md_merged.snap
  tests/core/snapshots/test-grpc-nested-data.md_error.snap
  tests/core/snapshots/test-grpc-nested-optional.md_error.snap
  tests/core/snapshots/test-grpc-optional.md_error.snap
  tests/core/snapshots/test-grpc.md_client.snap
  tests/core/snapshots/test-grpc.md_merged.snap
  tests/execution/call-operator.md
  tests/execution/grpc-batch.md
  tests/execution/grpc-error.md
  tests/execution/grpc-override-url-from-upstream.md
  tests/execution/grpc-reflection.md
  tests/execution/grpc-simple.md
  tests/execution/grpc-url-from-upstream.md
  tests/execution/test-enum-default.md
  tests/execution/test-grpc-missing-fields.md
  tests/execution/test-grpc-nested-data.md
  tests/execution/test-grpc.md
  tests/execution/test-missing-argument-on-all-resolvers.md
Labels: type: fix

#2508 chore: enum validation conflict fixes
  src/core/blueprint/fixture/all-constructs.graphql
  src/core/blueprint/index.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/jit/builder.rs
  src/core/jit/common/jp.rs
  src/core/jit/context.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/input_resolver.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/snapshots/tailcall__core__jit__context__test__field.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__adding_errors.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__conversion_to_async_graphql.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__with_error-2.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__with_error.snap
  src/core/jit/synth/synth.rs
  src/core/lift.rs
Labels: type: chore, type: fix, ci: test-jit

#2683 fix(grpc): Load dependency proto files through reflection when available
  src/core/proto_reader/fetch.rs
  src/core/proto_reader/fixtures/descriptor_b64.txt
  src/core/proto_reader/fixtures/dto_b64.txt
  src/core/proto_reader/reader.rs
  tailcall-cloudflare/tests/cf_tests.spec.ts
  tailcall-fixtures/README.md
  tailcall-fixtures/fixtures/grpc/reflection/list-services.bin
  tailcall-fixtures/fixtures/grpc/reflection/news-service-descriptor.bin
  tailcall-fixtures/fixtures/grpc/reflection/news-service.bin
  tailcall-fixtures/fixtures/grpc/reflection/news_dto.bin
  tailcall-fixtures/fixtures/grpc/reflection/protobuf_empty.bin
  tailcall-fixtures/fixtures/protobuf/news.proto
  tailcall-fixtures/fixtures/protobuf/news_dto.proto
  tests/core/snapshots/grpc-reflection.md_client.snap
  tests/core/snapshots/grpc-reflection.md_merged.snap
  tests/execution/grpc-reflection.md
Labels: type: fix

#2723 fix(2558): flatten type logic
  src/core/config/transformer/flatten_single_field.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__flatten_single_field__test__type_name_generator_transform.snap
Labels: 🙋 Bounty claim, type: fix

#2702 refactor(2701): llm prompts to text files
  Cargo.toml
  src/cli/llm/infer_type_name.rs
  src/cli/llm/prompts/infer_type_name.md
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__to_chat_request_conversion.snap
Labels: 🙋 Bounty claim, type: chore

#2728 chore(2727): drop Result from Mustache::parse
  src/cli/generator/config.rs
  src/cli/llm/infer_type_name.rs
  src/core/blueprint/dynamic_value.rs
  src/core/blueprint/operators/http.rs
  src/core/config/apollo.rs
  src/core/config/telemetry.rs
  src/core/graphql/request_template.rs
  src/core/grpc/request_template.rs
  src/core/helpers/body.rs
  src/core/helpers/headers.rs
  src/core/helpers/url.rs
  src/core/http/request_template.rs
  src/core/mustache/eval.rs
  src/core/mustache/parse.rs
  src/core/mustache/template_string.rs
  src/core/proto_reader/fetch.rs
  tests/expression_spec.rs
Labels: 🙋 Bounty claim, type: chore

#2721 refactor(2695): derive macro for config::Resolver
  src/core/config/config.rs
  tailcall-macros/src/lib.rs
  tailcall-macros/src/resolver.rs
Labels: 🙋 Bounty claim, type: chore

#2626 refactor: store __typename in value instead of separate entity
  src/core/blueprint/into_schema.rs
  src/core/ir/discriminator.rs
  src/core/ir/eval.rs
  src/core/ir/eval_context.rs
  src/core/jit/builder.rs
  src/core/jit/common/jp.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/response.rs
  src/core/jit/snapshots/tailcall__core__jit__response__test__conversion_to_async_graphql.snap
  src/core/jit/synth/synth.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/json_like_list.rs
  src/core/json/mod.rs
  src/core/json/serde.rs
  tests/core/snapshots/test-union.md_5.snap
  tests/execution/test-union.md
Labels: ci: benchmark, type: chore, ci: test-jit

#2716 feat(2690): make llm models configurable
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/llm/infer_type_name.rs
  src/cli/llm/mod.rs
  src/cli/llm/model.rs
  src/cli/llm/wizard.rs
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_deezer.json.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_jsonplaceholder.json.snap
Labels: 🙋 Bounty claim, type: feature

#2708 refactor: move cli error to core
  src/cli/mod.rs
  src/cli/runtime/file.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/http_server.rs
  src/cli/tc/check.rs
  src/cli/telemetry.rs
  src/core/errata.rs
  src/core/grpc/request.rs
  src/core/http/response.rs
  src/core/ir/error.rs
  src/core/ir/eval.rs
  src/core/ir/eval_http.rs
  src/core/mod.rs
  src/main.rs
Labels: 💰 Rewarded, type: chore

#2755 chore: convert cli tests to md
  tests/cli/fixtures/generator/gen_deezer.md
  tests/cli/fixtures/generator/gen_json_proto_mix_config.md
  tests/cli/fixtures/generator/gen_jsonplaceholder.md
  tests/cli/gen.rs
  tests/cli/parser.rs
Labels: type: chore

#2763 chore(2760): move impl<Extensions, Input> Field<Extensions, Input> from synth.rs to model.rs
  src/core/jit/model.rs
  src/core/jit/synth/synth.rs
Labels: 🙋 Bounty claim, type: chore

#2754 fix(jit): raise validation error for required fields
  src/core/blueprint/blueprint.rs
  src/core/jit/synth/synth.rs
  tests/core/snapshots/test-required-fields.md_0.snap
  tests/core/snapshots/test-required-fields.md_1.snap
  tests/core/snapshots/test-required-fields.md_10.snap
  tests/core/snapshots/test-required-fields.md_11.snap
  tests/core/snapshots/test-required-fields.md_12.snap
  tests/core/snapshots/test-required-fields.md_13.snap
  tests/core/snapshots/test-required-fields.md_14.snap
  tests/core/snapshots/test-required-fields.md_15.snap
  tests/core/snapshots/test-required-fields.md_16.snap
  tests/core/snapshots/test-required-fields.md_17.snap
  tests/core/snapshots/test-required-fields.md_18.snap
  tests/core/snapshots/test-required-fields.md_19.snap
  tests/core/snapshots/test-required-fields.md_2.snap
  tests/core/snapshots/test-required-fields.md_20.snap
  tests/core/snapshots/test-required-fields.md_21.snap
  tests/core/snapshots/test-required-fields.md_3.snap
  tests/core/snapshots/test-required-fields.md_4.snap
  tests/core/snapshots/test-required-fields.md_5.snap
  tests/core/snapshots/test-required-fields.md_6.snap
  tests/core/snapshots/test-required-fields.md_7.snap
  tests/core/snapshots/test-required-fields.md_8.snap
  tests/core/snapshots/test-required-fields.md_9.snap
  tests/core/snapshots/test-required-fields.md_client.snap
  tests/core/snapshots/test-required-fields.md_merged.snap
  tests/execution/test-required-fields.md
Labels: type: fix, ci: test-jit

#2567 feat(2560): merge unknows types
  src/cli/generator/config.rs
  src/core/config/transformer/merge_types/similarity.rs
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__merge_to_supertype.snap
  src/core/config/transformer/merge_types/type_merger.rs
  tailcall-fixtures/fixtures/generator/simple-json.json
  tests/cli/fixtures/generator/gen_deezer.md
  tests/cli/fixtures/generator/gen_json_proto_mix_config.md
  tests/cli/fixtures/generator/gen_jsonplaceholder.md
Labels: 🙋 Bounty claim, type: feature

#2757 fix(grpc): handle union shared fields
  src/core/blueprint/index.rs
  src/core/config/config.rs
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__oneof_types.snap
  src/core/ir/resolver_context_like.rs
  src/core/jit/builder.rs
  src/core/jit/exec.rs
  src/core/jit/model.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__alias_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__json_placeholder_typename.snap
  src/core/jit/synth/synth.rs
  tests/core/snapshots/grpc-oneof.md_client.snap
  tests/core/snapshots/grpc-oneof.md_merged.snap
  tests/execution/grpc-oneof.md
Labels: type: fix

#2767 chore: cli tests
  src/core/jit/snapshots/tailcall__core__jit__response__test__with_error-2.snap
  tests/cli/gen.rs
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_deezer.md.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_json_proto_mix_config.md.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_jsonplaceholder.md.snap
Labels: type: chore

#2706 feat: add allowed headers in configuration
  benches/from_json_bench.rs
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/json/operation_generator.rs
  src/core/generator/json/schema_generator.rs
  src/core/generator/snapshots/tailcall__core__generator__from_json__tests__generate_config_from_json.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__generate_from_config_from_multiple_jsons.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_json.snap
  src/core/generator/tests/fixtures/json/incompatible_properties.json
  src/core/generator/tests/fixtures/json/incompatible_root_object.json
  src/core/generator/tests/fixtures/json/list.json
  src/core/generator/tests/fixtures/json/list_incompatible_object.json
  src/core/generator/tests/fixtures/json/nested_list.json
  src/core/generator/tests/fixtures/json/nested_same_properties.json
  src/core/generator/tests/json_to_config_spec.rs
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_root_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_incompatible_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_same_properties.json.snap
  tests/cli/fixtures/generator/gen_jsonplaceholder.md
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_json_proto_mix_config.json.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_jsonplaceholder.md.snap
Labels: ci: benchmark, type: feature

#2657 feat(2426): support mustache template on `generate::config`
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/tests/json_to_config_spec.rs
  src/core/mustache/mod.rs
  src/core/mustache/template_string.rs
  tests/cli/fixtures/generator/gen_deezer.md
  tests/cli/fixtures/generator/gen_jsonplaceholder.md
Labels: 🙋 Bounty claim, type: chore, type: feature

#2771 fix(jit): error handling for lists in JIT
  src/core/jit/synth/synth.rs
  tests/core/snapshots/test-required-fields.md_13.snap
  tests/core/snapshots/test-required-fields.md_17.snap
  tests/core/snapshots/test-required-fields.md_21.snap
  tests/core/snapshots/test-required-fields.md_9.snap
  tests/core/snapshots/test-required-fields.md_merged.snap
  tests/execution/test-required-fields.md
Labels: type: fix, ci: test-jit

#2772 feat: enable JIT by default for all requests
  src/core/config/server.rs
Labels: ci: benchmark, type: feature
