Repository tailcallhq/tailcall, pull requests merged in 2024-03, with the labels that each got.

#1258 refactor: reuse `Version` variable in update checker
  src/cli/command.rs
  src/cli/update_checker.rs
Labels: type: chore, type: fix

#1182 feat: add upstream request filter
  examples/scripts/echo.js
  src/cli/javascript/channel.rs
  src/cli/javascript/http_filter.rs
  src/cli/javascript/js_request.rs
  src/cli/javascript/js_response.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/request_filter.rs
  src/cli/javascript/runtime.rs
  src/cli/javascript/shim/console.js
  src/cli/runtime/file.rs
  src/lib.rs
  tests/execution/test-js-request-reponse.md
Labels: ci: lint, type: feature

#1272 fix: reduce log verbosity
  src/cli/tc.rs
Labels: 🙋 Bounty claim, ci: lint, type: fix, type: feature

#1277 fix: enhanced server errors
  src/cli/error.rs
  src/cli/tc.rs
  src/main.rs
Labels: 🙋 Bounty claim, type: fix

#1064 feat: create `@call` operator
  autogen/src/gen_gql_schema.rs
  examples/call.graphql
  examples/jsonplaceholder.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/definitions.rs
  src/blueprint/operators/call.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/mod.rs
  src/config/config.rs
  src/config/expr.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/mustache.rs
  tests/execution/call-graphql-datasource.md
  tests/execution/call-mutation.md
  tests/execution/call-operator.md
  tests/execution/resolve-with-headers.md
  tests/execution/test-call-operator-errors.md
  tests/execution/test-multiple-resolvable-directives-on-field.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__call-graphql-datasource.md_assert_0.snap
  tests/snapshots/execution_spec__call-graphql-datasource.md_client.snap
  tests/snapshots/execution_spec__call-graphql-datasource.md_merged.snap
  tests/snapshots/execution_spec__call-mutation.md_assert_0.snap
  tests/snapshots/execution_spec__call-mutation.md_assert_1.snap
  tests/snapshots/execution_spec__call-mutation.md_assert_2.snap
  tests/snapshots/execution_spec__call-mutation.md_assert_3.snap
  tests/snapshots/execution_spec__call-mutation.md_assert_4.snap
  tests/snapshots/execution_spec__call-mutation.md_client.snap
  tests/snapshots/execution_spec__call-mutation.md_merged.snap
  tests/snapshots/execution_spec__call-operator.md_assert_0.snap
  tests/snapshots/execution_spec__call-operator.md_assert_1.snap
  tests/snapshots/execution_spec__call-operator.md_assert_10.snap
  tests/snapshots/execution_spec__call-operator.md_assert_11.snap
  tests/snapshots/execution_spec__call-operator.md_assert_12.snap
  tests/snapshots/execution_spec__call-operator.md_assert_2.snap
  tests/snapshots/execution_spec__call-operator.md_assert_3.snap
  tests/snapshots/execution_spec__call-operator.md_assert_4.snap
  tests/snapshots/execution_spec__call-operator.md_assert_5.snap
  tests/snapshots/execution_spec__call-operator.md_assert_6.snap
  tests/snapshots/execution_spec__call-operator.md_assert_7.snap
  tests/snapshots/execution_spec__call-operator.md_assert_8.snap
  tests/snapshots/execution_spec__call-operator.md_assert_9.snap
  tests/snapshots/execution_spec__call-operator.md_client.snap
  tests/snapshots/execution_spec__call-operator.md_merged.snap
  tests/snapshots/execution_spec__test-call-operator-errors.md_errors.snap
  tests/snapshots/execution_spec__test-expr-errors.md_errors.snap
  tests/snapshots/execution_spec__test-js-hello-world copy.md_merged.snap
  tests/snapshots/execution_spec__test-js-multiple-scripts.md_merged.snap
  tests/snapshots/execution_spec__test-multiple-resolvable-directives-on-field.md_errors.snap
Labels: 🙋 Bounty claim, type: feature

#1287 chore: update comment-wrap setting
  .rustfmt.toml
  autogen/src/main.rs
  cloudflare/src/handle.rs
  src/async_graphql_hyper.rs
  src/blueprint/blueprint.rs
  src/blueprint/compress.rs
  src/blueprint/definitions.rs
  src/blueprint/mustache.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/grpc.rs
  src/cli/command.rs
  src/cli/javascript/js_response.rs
  src/cli/javascript/runtime.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/config_module.rs
  src/config/expr.rs
  src/config/into_document.rs
  src/config/link.rs
  src/config/reader.rs
  src/config/server.rs
  src/config/upstream.rs
  src/data_loader/factory.rs
  src/grpc/data_loader.rs
  src/helpers/headers.rs
  src/http/data_loader_request.rs
  src/lambda/cache.rs
  src/lambda/concurrent.rs
  src/lambda/logic.rs
  src/path.rs
  src/try_fold.rs
  tests/execution_spec.rs
Labels: type: chore

#1227 feat: make package mandatory in proto files
  Cargo.lock
  cloudflare/tests/cf_tests.spec.ts
  examples/grpc.graphql
  src/blueprint/operators/grpc.rs
  src/config/config_module.rs
  src/config/link.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/grpc/tests/cycle.proto
  src/grpc/tests/duplicate.proto
  src/grpc/tests/nested0.proto
  src/grpc/tests/nested1.proto
  src/grpc/tests/proto/cycle.proto
  src/grpc/tests/proto/duplicate.proto
  src/grpc/tests/proto/greetings.proto
  src/grpc/tests/proto/nested0.proto
  src/grpc/tests/proto/nested1.proto
  src/grpc/tests/proto/news.proto
  src/grpc/tests/proto/news_no_pkg.proto
  src/grpc/tests/proto_no_pkg.graphql
  tests/snapshots/execution_spec__test-grpc-invalid-method-format.md_errors.snap
  tests/snapshots/execution_spec__test-grpc-invalid-proto-id.md_errors.snap
  tests/snapshots/execution_spec__test-grpc-service.md_errors.snap
Labels: ci: lint, type: feature

#1290 chore: improve test logs
  tests/execution_spec.rs
Labels: type: chore

#1291 refactor: update link
  src/config/link.rs
  src/config/reader.rs
Labels: ci: lint, type: chore

#1282 fix(cache): @cache directive on types
  Cargo.lock
  autogen/Cargo.toml
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
  src/blueprint/definitions.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/request_filter.rs
  src/cli/runtime/mod.rs
  src/runtime.rs
  tests/execution/add-field-with-composition.md
  tests/execution/batching.md
  tests/execution/cache-control.md
  tests/execution/caching-gql-args.md
  tests/execution/caching-gql-parent-not-null.md
  tests/execution/caching-gql-parent-null.md
  tests/execution/caching-gql-parent-obj.md
  tests/execution/caching.md
  tests/execution/call-graphql-datasource.md
  tests/execution/call-mutation.md
  tests/execution/call-operator.md
  tests/execution/grpc-batch.md
  tests/execution/mutation-put.md
  tests/execution/ref-other-nested.md
  tests/execution/showcase.md
  tests/execution_spec.rs
  tests/server_spec.rs
  tests/snapshots/execution_spec__caching-gql-args.md_assert_0.snap
  tests/snapshots/execution_spec__caching-gql-args.md_assert_1.snap
  tests/snapshots/execution_spec__caching-gql-args.md_assert_2.snap
  tests/snapshots/execution_spec__caching-gql-args.md_assert_3.snap
  tests/snapshots/execution_spec__caching-gql-args.md_client.snap
  tests/snapshots/execution_spec__caching-gql-args.md_merged.snap
  tests/snapshots/execution_spec__caching-gql-parent-not-null.md_assert_0.snap
  tests/snapshots/execution_spec__caching-gql-parent-not-null.md_client.snap
  tests/snapshots/execution_spec__caching-gql-parent-not-null.md_merged.snap
  tests/snapshots/execution_spec__caching-gql-parent-null.md_assert_0.snap
  tests/snapshots/execution_spec__caching-gql-parent-null.md_client.snap
  tests/snapshots/execution_spec__caching-gql-parent-null.md_merged.snap
  tests/snapshots/execution_spec__caching-gql-parent-obj.md_assert_0.snap
  tests/snapshots/execution_spec__caching-gql-parent-obj.md_client.snap
  tests/snapshots/execution_spec__caching-gql-parent-obj.md_merged.snap
  tests/snapshots/execution_spec__caching.md_assert_1.snap
  tests/snapshots/execution_spec__caching.md_client.snap
  tests/snapshots/execution_spec__caching.md_merged.snap
Labels: ci: benchmark, priority: now, type: fix

#1255 feat(scalar): add email gql scalar
  autogen/src/gen_gql_schema.rs
  autogen/src/main.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/blueprint.rs
  src/blueprint/definitions.rs
  src/blueprint/into_schema.rs
  src/blueprint/mod.rs
  src/lib.rs
  src/scalars/email.rs
  src/scalars/mod.rs
  tests/execution/test-scalar-email-invalid.md
  tests/execution/test-scalar-email.md
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_client.snap
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_merged.snap
  tests/snapshots/execution_spec__test-scalar-email.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalar-email.md_client.snap
  tests/snapshots/execution_spec__test-scalar-email.md_merged.snap
Labels: type: feature

#1301 chore: use std feature for rustls
  Cargo.lock
  Cargo.toml
Labels: ci: lint, type: chore, type: feature

#924 feat: open telemetry integration
  Cargo.lock
  Cargo.toml
  autogen/src/gen_gql_schema.rs
  benches/data_loader_bench.rs
  cloudflare/Cargo.toml
  cloudflare/src/cache.rs
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/http.rs
  cloudflare/src/lib.rs
  cloudflare/src/runtime.rs
  examples/telemetry-otlp.graphql
  examples/telemetry-prometheus.graphql
  examples/telemetry-stdout.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/into_schema.rs
  src/blueprint/mod.rs
  src/blueprint/telemetry.rs
  src/cache.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/runtime.rs
  src/cli/metrics.rs
  src/cli/mod.rs
  src/cli/runtime/file.rs
  src/cli/runtime/http.rs
  src/cli/server/mod.rs
  src/cli/server/server.rs
  src/cli/tc.rs
  src/cli/telemetry.rs
  src/cli/update_checker.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/key_values.rs
  src/config/mod.rs
  src/config/reader.rs
  src/config/reader_context.rs
  src/config/telemetry.rs
  src/http/request_handler.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lib.rs
  src/main.rs
  src/tracing.rs
  tests/execution/caching.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__caching.md_assert_0.snap
  tests/snapshots/execution_spec__caching.md_assert_2.snap
  tests/snapshots/execution_spec__caching.md_assert_metrics_0.snap
  tests/snapshots/execution_spec__caching.md_assert_traces_0.snap
  tests/snapshots/execution_spec__caching.md_merged.snap
  tests/telemetry/in_memory.rs
  tests/telemetry/init.rs
  tests/telemetry/mod.rs
Labels: ci: benchmark, ci: lint, priority: now, type: feature

#1310 fix: migrate from log to tracing
  Cargo.lock
  autogen/Cargo.toml
  autogen/src/main.rs
  src/cli/runtime/mod.rs
  src/cli/telemetry.rs
  src/main.rs
  src/tracing.rs
Labels: type: fix

#1307 fix: scalar generation when scalar is taken as input
  autogen/src/gen_gql_schema.rs
  autogen/src/main.rs
  src/blueprint/definitions.rs
  src/blueprint/mod.rs
  src/blueprint/mustache.rs
  src/config/config.rs
  src/lib.rs
  src/scalar/email.rs
  src/scalar/mod.rs
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_merged.snap
  tests/snapshots/execution_spec__test-scalar-email.md_merged.snap
Labels: type: fix

#1299 feat(scalar): add phone no
  Cargo.lock
  Cargo.toml
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/scalar/email.rs
  src/scalar/mod.rs
  src/scalar/phone.rs
  tests/execution/test-scalar-email-invalid.md
  tests/execution/test-scalar-email.md
  tests/execution/test-scalars-invalid.md
  tests/execution/test-scalars.md
  tests/snapshots/execution_spec__test-scalars-invalid.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalars-invalid.md_assert_1.snap
  tests/snapshots/execution_spec__test-scalars-invalid.md_assert_2.snap
  tests/snapshots/execution_spec__test-scalars-invalid.md_client.snap
  tests/snapshots/execution_spec__test-scalars-invalid.md_merged.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_1.snap
  tests/snapshots/execution_spec__test-scalars.md_client.snap
  tests/snapshots/execution_spec__test-scalars.md_merged.snap
Labels: type: feature

#1324 feat: REST ingress
  Cargo.lock
  Cargo.toml
  aws-lambda/src/main.rs
  cloudflare/Cargo.toml
  examples/operations/rest.graphql
  examples/rest-api.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  project-words.txt
  src/app_context.rs
  src/cli/fmt.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config_module.rs
  src/config/link.rs
  src/config/reader.rs
  src/http/request_handler.rs
  src/http/showcase.rs
  src/lib.rs
  src/rest/directive.rs
  src/rest/endpoint.rs
  src/rest/endpoint_set.rs
  src/rest/mod.rs
  src/rest/partial_request.rs
  src/rest/path.rs
  src/rest/query_params.rs
  src/rest/type_map.rs
  src/rest/typed_variables.rs
  tests/execution/rest-api.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__rest-api.md_assert_0.snap
  tests/snapshots/execution_spec__rest-api.md_client.snap
  tests/snapshots/execution_spec__rest-api.md_merged.snap
Labels: type: feature

#1323 feat: add date and url scalar
  Cargo.lock
  Cargo.toml
  autogen/src/gen_gql_schema.rs
  autogen/src/main.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/scalar/date.rs
  src/scalar/email.rs
  src/scalar/mod.rs
  src/scalar/phone.rs
  src/scalar/url.rs
  tests/execution/test-scalars-invalid.md
  tests/execution/test-scalars.md
  tests/snapshots/execution_spec__test-scalars-invalid.md_client.snap
  tests/snapshots/execution_spec__test-scalars-invalid.md_merged.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_2.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_3.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_4.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_5.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_6.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_7.snap
  tests/snapshots/execution_spec__test-scalars.md_assert_8.snap
  tests/snapshots/execution_spec__test-scalars.md_client.snap
  tests/snapshots/execution_spec__test-scalars.md_merged.snap
Labels: 🙋 Bounty claim, type: feature

#1340 fix: omit operator not displayed in generated files
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/config.rs
Labels: 🙋 Bounty claim, type: fix

#1343 chore: add ci to run check on all examples
  .github/workflows/ci.yml
  generated/.tailcallrc.graphql
Labels: 🙋 Bounty claim, type: chore

#1346 fix: scalar sorting in autogen file
  autogen/src/gen_gql_schema.rs
Labels: 🙋 Bounty claim, type: fix

#1335 fix: validation error to CLI Error conversion
  src/main.rs
Labels: 🙋 Bounty claim, type: fix

#1342 fix: rename groupBy to batchKey
  examples/grpc.graphql
  examples/jsonplaceholder_batch.graphql
  examples/jsonplaceholder_batch.json
  examples/jsonplaceholder_batch.yml
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/config.rs
  tests/execution/batching-default.md
  tests/execution/batching-group-by-default.md
  tests/execution/batching-group-by.md
  tests/execution/batching-nested-expr.md
  tests/execution/grpc-batch.md
  tests/execution/n-plus-one-list.md
  tests/execution/n-plus-one.md
  tests/execution/request-to-upstream-batching.md
  tests/execution/test-batch-operator-post.md
  tests/execution/test-batching-group-by.md
  tests/execution/test-expr-success.md
  tests/execution/test-groupby-without-batching.md
  tests/execution/test-grpc-group-by.md
  tests/execution/test-grpc.md
  tests/execution/upstream-batching.md
  tests/snapshots/execution_spec__batching-default.md_merged.snap
  tests/snapshots/execution_spec__batching-group-by-default.md_merged.snap
  tests/snapshots/execution_spec__batching-group-by.md_merged.snap
  tests/snapshots/execution_spec__batching-nested-expr.md_merged.snap
  tests/snapshots/execution_spec__grpc-batch.md_merged.snap
  tests/snapshots/execution_spec__n-plus-one-list.md_merged.snap
  tests/snapshots/execution_spec__n-plus-one.md_merged.snap
  tests/snapshots/execution_spec__request-to-upstream-batching.md_merged.snap
  tests/snapshots/execution_spec__test-batching-group-by.md_merged.snap
  tests/snapshots/execution_spec__test-expr-success.md_merged.snap
  tests/snapshots/execution_spec__test-grpc.md_merged.snap
  tests/snapshots/execution_spec__upstream-batching.md_merged.snap
Labels: ci: lint, type: fix

#1352 fix: `n+1` log message
  src/cli/fmt.rs
  src/cli/tc.rs
Labels: type: fix

#1350 fix: add telemetry directive to autogen
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/telemetry.rs
Labels: 🙋 Bounty claim, ci: lint, type: fix

#1268 feat(apollo): apollo studio integration
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  autogen/src/gen_gql_schema.rs
  aws-lambda/src/runtime.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/runtime.rs
  examples/apollo-tracing.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/operation.rs
  src/blueprint/telemetry.rs
  src/cli/runtime/mod.rs
  src/cli/server/server_config.rs
  src/cli/telemetry.rs
  src/config/apollo.rs
  src/config/mod.rs
  src/config/telemetry.rs
  src/lib.rs
  src/runtime.rs
  src/schema_extension.rs
  tests/execution/apollo-tracing.md
  tests/execution_spec.rs
  tests/server_spec.rs
  tests/snapshots/execution_spec__apollo-tracing.md_assert_0.snap
  tests/snapshots/execution_spec__apollo-tracing.md_client.snap
  tests/snapshots/execution_spec__apollo-tracing.md_merged.snap
Labels: ci: lint, type: feature

#1362 chore: drop compose command
  src/cli/command.rs
  src/cli/tc.rs
Labels: 🙋 Bounty claim, type: chore

#1353 chore: drop unwanted snapshots
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_client.snap
  tests/snapshots/execution_spec__test-scalar-email-invalid.md_merged.snap
  tests/snapshots/execution_spec__test-scalar-email.md_assert_0.snap
  tests/snapshots/execution_spec__test-scalar-email.md_client.snap
  tests/snapshots/execution_spec__test-scalar-email.md_merged.snap
Labels: type: chore

#1358 fix: tracing format
  examples/operations/rest.graphql
  examples/operations/routes.graphql
  examples/rest-api.graphql
  src/cli/telemetry.rs
  src/tracing.rs
Labels: type: fix

#1372 fix: use `[KeyValue]` in favour of `KeyValues`
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/mustache.rs
  src/blueprint/operators/call.rs
  src/blueprint/operators/http.rs
  src/blueprint/server.rs
  src/blueprint/telemetry.rs
  src/config/config.rs
  src/config/key_values.rs
  src/config/reader.rs
  src/config/server.rs
  src/config/telemetry.rs
  src/graphql/request_template.rs
  src/helpers/headers.rs
  tests/execution/batching-default.md
  tests/execution/batching-group-by-default.md
  tests/execution/batching-group-by.md
  tests/snapshots/execution_spec__batching-default.md_merged.snap
  tests/snapshots/execution_spec__batching-group-by-default.md_merged.snap
  tests/snapshots/execution_spec__batching-group-by.md_merged.snap
Labels: 🙋 Bounty claim, type: chore, type: fix

#1378 revert: apollo studio integration
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  autogen/src/gen_gql_schema.rs
  aws-lambda/src/runtime.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/runtime.rs
  examples/apollo-tracing.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/operation.rs
  src/blueprint/telemetry.rs
  src/cli/runtime/mod.rs
  src/cli/server/server_config.rs
  src/cli/telemetry.rs
  src/config/apollo.rs
  src/config/mod.rs
  src/config/telemetry.rs
  src/lib.rs
  src/runtime.rs
  src/schema_extension.rs
  tests/execution/apollo-tracing.md
  tests/execution_spec.rs
  tests/server_spec.rs
  tests/snapshots/execution_spec__apollo-tracing.md_assert_0.snap
  tests/snapshots/execution_spec__apollo-tracing.md_client.snap
  tests/snapshots/execution_spec__apollo-tracing.md_merged.snap
Labels: type: feature

#1382 fix: make `omit` as option for `@modify` directive
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/config.rs
Labels: 🙋 Bounty claim, type: chore

#1385 fix: `allowHeaders` should be case-insensitive
  src/http/request_handler.rs
  tests/execution/test-upstream-headers.md
  tests/snapshots/execution_spec__test-upstream-headers.md_assert_0.snap
  tests/snapshots/execution_spec__test-upstream-headers.md_client.snap
  tests/snapshots/execution_spec__test-upstream-headers.md_merged.snap
Labels: type: fix

#1398 feat: move cache control to headers
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/headers.rs
  src/config/mod.rs
  src/config/server.rs
  tests/execution/cache-control.md
  tests/snapshots/execution_spec__cache-control.md_merged.snap
Labels: 🙋 Bounty claim, type: chore, type: feature

#1412 chore: standardize log format for tests
  Cargo.toml
  tests/execution_spec.rs
  tests/telemetry/init.rs
Labels: 🙋 Bounty claim, type: chore

#1409 feat: `JsRequest` contains parsed request
  src/cli/javascript/js_request.rs
  tests/execution/test-js-request-reponse.md
Labels: ci: lint, type: feature

#1404 chore: added CLI Error downcasting testcases
  src/cli/error.rs
  src/main.rs
Labels: type: chore

#1402 refactor: move server responseHeaders to server headers custom
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/server.rs
  src/config/headers.rs
  src/config/key_values.rs
  src/config/mod.rs
  src/config/server.rs
  tests/execution/custom-headers.md
  tests/execution/test-response-header-merge.md
  tests/execution/test-response-header-value.md
  tests/execution/test-response-headers-multi.md
  tests/execution/test-response-headers-name.md
  tests/snapshots/execution_spec__custom-headers.md_merged.snap
  tests/snapshots/execution_spec__test-response-header-merge.md_merged.snap
  tests/snapshots/execution_spec__test-response-header-value.md_errors.snap
  tests/snapshots/execution_spec__test-response-headers-multi.md_errors.snap
  tests/snapshots/execution_spec__test-response-headers-name.md_errors.snap
Labels: 🙋 Bounty claim, type: chore

#1416 feat: support for set cookie
  benches/impl_path_string_for_evaluation_context.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/server.rs
  src/config/headers.rs
  src/config/server.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/lambda/io.rs
  tests/execution/test-set-cookie-headers.md
  tests/snapshots/execution_spec__test-set-cookie-headers.md_assert_0.snap
  tests/snapshots/execution_spec__test-set-cookie-headers.md_client.snap
  tests/snapshots/execution_spec__test-set-cookie-headers.md_merged.snap
Labels: 🙋 Bounty claim, type: feature

#1425 feat: support experimental headers
  benches/impl_path_string_for_evaluation_context.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/server.rs
  src/config/headers.rs
  src/config/server.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  tests/execution/experimental-headers.md
  tests/snapshots/execution_spec__experimental-headers.md_assert_0.snap
  tests/snapshots/execution_spec__experimental-headers.md_client.snap
  tests/snapshots/execution_spec__experimental-headers.md_merged.snap
Labels: 🙋 Bounty claim, type: feature

#1380 feat(apollo): Apollo studio integration
  Cargo.lock
  Cargo.toml
  autogen/src/gen_gql_schema.rs
  aws-lambda/src/runtime.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/runtime.rs
  examples/apollo-tracing.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/blueprint.rs
  src/blueprint/operation.rs
  src/blueprint/telemetry.rs
  src/cli/runtime/mod.rs
  src/cli/server/server_config.rs
  src/cli/telemetry.rs
  src/config/apollo.rs
  src/config/mod.rs
  src/config/telemetry.rs
  src/lib.rs
  src/runtime.rs
  src/schema_extension.rs
  tests/execution/apollo-tracing.md
  tests/execution_spec.rs
  tests/server_spec.rs
  tests/snapshots/execution_spec__apollo-tracing.md_assert_0.snap
  tests/snapshots/execution_spec__apollo-tracing.md_client.snap
  tests/snapshots/execution_spec__apollo-tracing.md_merged.snap
Labels: ci: lint, type: feature

#1435 fix: handle non-experimental headers
  src/blueprint/server.rs
  tests/execution/experimental-headers-error.md
  tests/execution/experimental-headers.md
  tests/snapshots/execution_spec__experimental-headers-error.md_errors.snap
  tests/snapshots/execution_spec__experimental-headers.md_merged.snap
Labels: type: feature

#1442 chore: move `async-graphql*` dependency link to tailcallhq
  Cargo.lock
  Cargo.toml
  cloudflare/Cargo.toml
Labels: type: chore

#1448 fix: create `.tailcallrc.schema.json` on `init`
  src/cli/tc.rs
Labels: 🙋 Bounty claim, type: fix

#1393 feat: telemetry improvements
  .github/contributing.md
  autogen/src/main.rs
  aws-lambda/src/main.rs
  examples/telemetry-otlp.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/blueprint.rs
  src/blueprint/from_config.rs
  src/blueprint/into_schema.rs
  src/blueprint/telemetry.rs
  src/cli/metrics.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/telemetry.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/reader.rs
  src/config/telemetry.rs
  src/http/request_handler.rs
  src/lambda/concurrent.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/list.rs
  src/lambda/logic.rs
  src/lambda/math.rs
  src/lambda/relation.rs
  src/main.rs
  src/rest/endpoint.rs
  src/rest/partial_request.rs
  src/rest/path.rs
  src/tracing.rs
  tests/execution/caching.md
  tests/snapshots/execution_spec__caching.md_assert_metrics_0.snap
  tests/snapshots/execution_spec__caching.md_assert_traces_0.snap
  tests/snapshots/execution_spec__caching.md_merged.snap
  tests/telemetry/init.rs
Labels: ci: benchmark, type: feature

#1451 refactor: `EvaluationContext` pass by value
  benches/impl_path_string_for_evaluation_context.rs
  src/blueprint/into_schema.rs
  src/blueprint/operators/expr.rs
  src/lambda/cache.rs
  src/lambda/eval.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/list.rs
  src/lambda/logic.rs
  src/lambda/math.rs
  src/lambda/mod.rs
  src/lambda/relation.rs
  src/lambda/resolver_context_like.rs
  src/path.rs
Labels: ci: benchmark, type: chore

#1383 feat: validate linked operations
  aws-lambda/src/main.rs
  examples/operations/routes.graphql
  src/app_context.rs
  src/blueprint/mod.rs
  src/blueprint/operation.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config_module.rs
  src/config/reader.rs
  src/lib.rs
  src/rest/endpoint.rs
  src/rest/endpoint_set.rs
  src/rest/mod.rs
  src/rest/operation.rs
  src/rest/typed_variables.rs
  tests/execution_spec.rs
Labels: ci: lint, type: feature

#1465 chore: add `new` method to `RequestContext`
  benches/impl_path_string_for_evaluation_context.rs
  src/http/request_context.rs
  src/rest/endpoint_set.rs
Labels: 🙋 Bounty claim, type: chore, type: feature

#1432 ci: run tests on all platform targets
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim, ci: lint

#1467 fix: message for operation validation
  src/rest/operation.rs
Labels: ci: lint, type: chore, type: fix

#1444 ci: fix docker
  .github/workflows/ci.yml
  Dockerfile
Labels: type: docs, 🙋 Bounty claim, type: fix

#1471 fix: lint
  src/http/request_template.rs
Labels: type: fix

#1438 feat: remove `data.<query name>` from rest api responses
  src/async_graphql_hyper.rs
  src/http/request_handler.rs
  tests/execution/rest-api-error.md
  tests/snapshots/execution_spec__rest-api-error.md_assert_0.snap
  tests/snapshots/execution_spec__rest-api-error.md_client.snap
  tests/snapshots/execution_spec__rest-api-error.md_merged.snap
  tests/snapshots/execution_spec__rest-api-post.md_assert_0.snap
  tests/snapshots/execution_spec__rest-api.md_assert_0.snap
Labels: 🙋 Bounty claim, ci: lint, type: feature

#1460 fix: windows CI
  .github/workflows/ci.yml
  src/config/reader.rs
  src/grpc/protobuf.rs
  src/grpc/tests/proto/cycle.proto
  src/grpc/tests/proto/duplicate.proto
  src/grpc/tests/proto/nested0.proto
  src/grpc/tests/proto/nested1.proto
  tests/execution/graphql-dataloader-batch-keys.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__graphql-dataloader-batch-keys.md_assert_0.snap
  tests/snapshots/execution_spec__graphql-dataloader-batch-keys.md_client.snap
  tests/snapshots/execution_spec__graphql-dataloader-batch-keys.md_merged.snap
Labels: 🙋 Bounty claim, ci: lint, type: fix

#1470 chore: impl merge right
  src/config/config.rs
  src/config/config_module.rs
  src/config/reader.rs
  src/config/server.rs
  src/config/telemetry.rs
  src/config/upstream.rs
  src/lib.rs
  src/merge_right.rs
  src/rest/endpoint_set.rs
  tests/execution_spec.rs
Labels: 🙋 Bounty claim, ci: lint, type: chore

#1483 fix: use `args` instead of `value` to compose expressions
  src/lambda/expression.rs
  tests/expression_spec.rs
Labels: 🙋 Bounty claim, type: chore

#1457 feat: telemetry add server/client metrics
  autogen/src/main.rs
  src/cli/runtime/http.rs
  src/cli/runtime/mod.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/http/mod.rs
  src/http/request_handler.rs
  src/http/telemetry.rs
  tests/expression_spec.rs
Labels: ci: benchmark, type: feature

#1476 feat: telemetry context propagation
  Cargo.lock
  Cargo.toml
  examples/operations/routes.graphql
  examples/telemetry-otlp.graphql
  src/cli/runtime/http.rs
  src/cli/telemetry.rs
  src/http/request_handler.rs
  src/http/telemetry.rs
Labels: ci: benchmark, priority: 2day, type: feature

#1486 fix: Upstream URL to error propagation
  aws-lambda/src/http.rs
  cloudflare/src/http.rs
  src/cli/runtime/http.rs
  src/runtime.rs
  tests/execution_spec.rs
  tests/server_spec.rs
Labels: type: fix

#1480 fix: tailcall panics on SchemaError
  src/blueprint/from_config.rs
Labels: 🙋 Bounty claim, ci: lint, priority: 2day, type: fix

#1495 fix: `JsRequest` body as string
  src/cli/javascript/js_request.rs
Labels: type: chore

#1441 ci: Track main branch benchmarks with Bencher
  .github/workflows/benchmark.yml
Labels: state: inactive

#1269 feat: adding CORS support
  autogen/src/gen_gql_schema.rs
  examples/cors.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/cors.rs
  src/blueprint/mod.rs
  src/blueprint/server.rs
  src/config/cors.rs
  src/config/headers.rs
  src/config/mod.rs
  src/http/request_handler.rs
  src/valid/error.rs
  tests/execution/cors-allow-cred-false.md
  tests/execution/cors-allow-cred-true.md
  tests/execution/cors-allow-cred-vary.md
  tests/execution/cors-invalid-expose-headers.md
  tests/execution/cors-invalid-headers.md
  tests/execution/cors-invalid-methods.md
  tests/execution/cors-invalid-origins.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__cors-allow-cred-false.md_assert_0.snap
  tests/snapshots/execution_spec__cors-allow-cred-false.md_client.snap
  tests/snapshots/execution_spec__cors-allow-cred-false.md_merged.snap
  tests/snapshots/execution_spec__cors-allow-cred-true.md_assert_0.snap
  tests/snapshots/execution_spec__cors-allow-cred-true.md_client.snap
  tests/snapshots/execution_spec__cors-allow-cred-true.md_merged.snap
  tests/snapshots/execution_spec__cors-allow-cred-vary.md_assert_0.snap
  tests/snapshots/execution_spec__cors-allow-cred-vary.md_client.snap
  tests/snapshots/execution_spec__cors-allow-cred-vary.md_merged.snap
  tests/snapshots/execution_spec__cors-invalid-expose-headers.md_errors.snap
  tests/snapshots/execution_spec__cors-invalid-headers.md_errors.snap
  tests/snapshots/execution_spec__cors-invalid-methods.md_errors.snap
  tests/snapshots/execution_spec__cors-invalid-origins.md_errors.snap
Labels: type: feature

#1513 fix: remove redundant fork of async-graphql
  Cargo.lock
  Cargo.toml
  cloudflare/Cargo.toml
Labels: 🙋 Bounty claim, type: fix

#1524 fix: experimental headers
  benches/impl_path_string_for_evaluation_context.rs
  src/blueprint/server.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/lambda/evaluation_context.rs
  src/lambda/io.rs
  src/path.rs
  tests/execution/experimental-headers.md
Labels: type: fix

#1527 fix(grpc): schema validation for fields in snake_case
  Cargo.lock
  Cargo.toml
  src/grpc/protobuf.rs
  src/grpc/tests/proto/news.proto
  src/grpc/tests/proto/news_no_pkg.proto
  src/json/json_schema.rs
Labels: type: fix

#1530 chore: run code coverage only in on darwin 64
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim, type: chore

#1523 feat: read .env file in cli.
  Cargo.lock
  Cargo.toml
  src/cli/tc.rs
Labels: 🙋 Bounty claim, ci: lint, type: feature

#1519 feat: error on unknown fields
  generated/.tailcallrc.schema.json
  src/config/config.rs
  src/config/link.rs
  src/config/server.rs
  src/config/telemetry.rs
  src/config/upstream.rs
  tests/execution/test-grpc-proto-path.md
Labels: 🙋 Bounty claim, ci: lint, type: feature

#1512 feat: allow multiple steps on `@call`
  examples/call.graphql
  examples/jsonplaceholder.graphql
  examples/rest-api.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/operators/call.rs
  src/config/config.rs
  src/lambda/cache.rs
  src/lambda/evaluation_context.rs
  src/lambda/io.rs
  src/path.rs
  tests/execution/call-graphql-datasource.md
  tests/execution/call-multiple-steps-piping.md
  tests/execution/call-mutation.md
  tests/execution/call-operator.md
  tests/execution/test-call-operator-errors.md
  tests/execution/test-multiple-resolvable-directives-on-field.md
  tests/expression_spec.rs
  tests/snapshots/execution_spec__call-graphql-datasource.md_merged.snap
  tests/snapshots/execution_spec__call-multiple-steps-piping.md_assert_0.snap
  tests/snapshots/execution_spec__call-multiple-steps-piping.md_assert_1.snap
  tests/snapshots/execution_spec__call-multiple-steps-piping.md_client.snap
  tests/snapshots/execution_spec__call-multiple-steps-piping.md_merged.snap
  tests/snapshots/execution_spec__call-mutation.md_merged.snap
  tests/snapshots/execution_spec__call-operator.md_merged.snap
Labels: 🙋 Bounty claim, type: feature

#1561 chore: add bench for `JsonLike::group_by`
  benches/json_like_bench.rs
Labels: ci: benchmark, 🙋 Bounty claim, type: chore

#1547 chore(grpc): adding protobuf convert_output benchmark
  Cargo.lock
  Cargo.toml
  benches/grpc/dummy.proto
  benches/protobuf_convert_output.rs
  build.rs
Labels: ci: benchmark, ci: lint, type: chore

#1574 fix: improve performance for EnvIO
  Cargo.lock
  aws-lambda/src/runtime.rs
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/env.rs
  cloudflare/src/file.rs
  cloudflare/src/runtime.rs
  src/cli/runtime/env.rs
  src/config/reader_context.rs
  src/lambda/evaluation_context.rs
  src/lib.rs
  src/path.rs
  src/runtime.rs
  tests/execution_spec.rs
  tests/server_spec.rs
Labels: type: fix

#1569 chore: add bounty.md
  BOUNTY.md
Labels: type: docs, type: chore

#1588 fix: env warn
  src/cli/tc.rs
Labels: type: fix

#1576 feat: generate config from protofile
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config_generator/from_proto.rs
  src/config_generator/mod.rs
  src/config_generator/proto/greetings_a.proto
  src/config_generator/proto/greetings_b.proto
  src/config_generator/proto/news.proto
  src/config_generator/proto/news_no_service.proto
  src/config_generator/proto/no_pkg.proto
  src/config_generator/proto/person.proto
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto.snap
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto_no_pkg_file.snap
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto_no_service_file.snap
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__required_types.snap
  src/document.rs
  src/lib.rs
  tests/execution/test-tag.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__test-tag.md_client.snap
  tests/snapshots/execution_spec__test-tag.md_merged.snap
Labels: 🙋 Bounty claim, 💰 Rewarded, type: feature

#1601 fix: printing empty schema
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto_no_service_file.snap
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__required_types.snap
  src/document.rs
Labels: 🙋 Bounty claim, type: fix

#1606 fix: add protected directive to autogen
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
Labels: 🙋 Bounty claim, type: fix

#1611 chore: drop expr
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/definitions.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/mod.rs
  src/config/config.rs
  src/config/expr.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/mod.rs
  tests/execution/batching-nested-expr.md
  tests/execution/test-expr-concat.md
  tests/execution/test-expr-errors.md
  tests/execution/test-expr-if-errors.md
  tests/execution/test-expr-intersection.md
  tests/execution/test-expr-logic.md
  tests/execution/test-expr-math.md
  tests/execution/test-expr-relation.md
  tests/execution/test-expr-success.md
  tests/snapshots/execution_spec__batching-nested-expr.md_assert_0.snap
  tests/snapshots/execution_spec__batching-nested-expr.md_client.snap
  tests/snapshots/execution_spec__batching-nested-expr.md_merged.snap
  tests/snapshots/execution_spec__test-expr-concat.md_assert_0.snap
  tests/snapshots/execution_spec__test-expr-concat.md_client.snap
  tests/snapshots/execution_spec__test-expr-concat.md_merged.snap
  tests/snapshots/execution_spec__test-expr-errors.md_errors.snap
  tests/snapshots/execution_spec__test-expr-if-errors.md_errors.snap
  tests/snapshots/execution_spec__test-expr-intersection.md_assert_0.snap
  tests/snapshots/execution_spec__test-expr-intersection.md_client.snap
  tests/snapshots/execution_spec__test-expr-intersection.md_merged.snap
  tests/snapshots/execution_spec__test-expr-logic.md_assert_0.snap
  tests/snapshots/execution_spec__test-expr-logic.md_client.snap
  tests/snapshots/execution_spec__test-expr-logic.md_merged.snap
  tests/snapshots/execution_spec__test-expr-math.md_assert_0.snap
  tests/snapshots/execution_spec__test-expr-math.md_client.snap
  tests/snapshots/execution_spec__test-expr-math.md_merged.snap
  tests/snapshots/execution_spec__test-expr-success.md_client.snap
  tests/snapshots/execution_spec__test-expr-success.md_merged.snap
Labels: 🙋 Bounty claim, type: chore

#1610 fix(generator): add map support
  src/config_generator/from_proto.rs
  src/config_generator/proto/person.proto
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__required_types.snap
Labels: type: chore, type: fix
