Repository tailcallhq/tailcall, pull requests merged in 2024-06, with the labels that each got.

#2084 fix: parse query
  src/core/async_graphql_hyper.rs
  src/core/http/request_handler.rs
Labels: ci: benchmark, type: fix

#2089 chore: push WRK output into the bencher [REVERT]
  .github/workflows/benchmark.yml
  ci-benchmark/wrk-output-to-json.js
Labels: type: chore

#2093 chore: introduce field index
  Cargo.lock
  Cargo.toml
  generated/.tailcallrc.schema.json
  src/core/blueprint/blueprint.rs
  src/core/generator/graphql_type.rs
  src/core/helpers/value.rs
  src/core/http/data_loader.rs
  src/core/http/response.rs
  src/core/ir/jit/field_index.rs
  src/core/ir/jit/mod.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__from_document.snap
  src/core/rest/endpoint.rs
Labels: type: chore

#2102 chore(jit): impl parent id as field ref
  src/core/ir/jit/mod.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__from_document.snap
Labels: type: chore

#2037 feat: added transformer to merge types with similarity threshold
  src/core/config/transformer/mod.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__type_merger__test__cyclic_merge_case.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__type_merger__test__type_merger.snap
  src/core/config/transformer/type_merger/mod.rs
  src/core/config/transformer/type_merger/pair_map.rs
  src/core/config/transformer/type_merger/pair_set.rs
  src/core/config/transformer/type_merger/similarity.rs
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__cyclic_merge_case.snap
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__type_merger.snap
  src/core/config/transformer/type_merger/type_merger.rs
  src/core/generator/from_json.rs
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_rest_api_gen.snap
Labels: type: feature

#2104 chore: adding tests
  Cargo.lock
  src/core/ir/jit/fixtures/jsonplaceholder-mutation.graphql
  src/core/ir/jit/mod.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__default_value.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__fragments.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__multiple_operations.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__simple_mutation.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__simple_query.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__unions.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__tests__variables.snap
  tests/core/snapshots/test-dbl-usage-many.md_client.snap
  tests/core/snapshots/test-dbl-usage-many.md_merged.snap
  tests/core/snapshots/test-dbl-usage.md_client.snap
  tests/core/snapshots/test-dbl-usage.md_merged.snap
Labels: type: chore

#2115 chore: add IO_ID in caches
  benches/data_loader_bench.rs
  src/core/graphql/request_template.rs
  src/core/grpc/request_template.rs
  src/core/http/request_context.rs
  src/core/http/request_template.rs
  src/core/ir/cache.rs
  src/core/ir/io.rs
  src/core/mod.rs
  src/core/runtime.rs
  tailcall-cloudflare/src/cache.rs
  tailcall-cloudflare/src/runtime.rs
Labels: type: chore

#2109 fix(config): overflow issue in get_all_used_type_names in case of cyclic type
  src/core/config/config.rs
Labels: type: fix

#2123 fix: fragments test
  src/core/ir/jit/builder.rs
  src/core/ir/jit/model.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__fragments.snap
  src/core/ir/jit/store.rs
Labels: type: fix

#2128 chore(QP): store Vec<Field<Children>> in edoc
  src/core/ir/jit/builder.rs
  src/core/ir/jit/context.rs
  src/core/ir/jit/execute.rs
  src/core/ir/jit/model.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__default_value.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__fragments.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__from_document.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__multiple_operations.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_mutation.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_query.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__unions.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__variables.snap
  src/core/ir/jit/synth.rs
Labels: type: docs, type: chore

#2133 refactor: use display macro instead of manual implementation
  Cargo.toml
  src/core/ir/mod.rs
Labels: type: chore

#2145 chore: fix recursion in checking resolvers
  src/core/blueprint/definitions.rs
  src/core/blueprint/schema.rs
  src/core/valid/valid.rs
  tests/core/snapshots/test-recursive-types.md_error.snap
  tests/execution/test-recursive-types.md
Labels: 🙋 Bounty claim, type: chore, type: fix

#2124 feat: implement upstream base url generator.
  src/core/config/transformer/consolidate_url/consolidate_url.rs
  src/core/config/transformer/consolidate_url/max_value_map.rs
  src/core/config/transformer/consolidate_url/mod.rs
  src/core/config/transformer/consolidate_url/snapshots/tailcall__core__config__transformer__consolidate_url__consolidate_url__test__should_generate_correct_upstream_when_multiple_base_urls_present.snap
  src/core/config/transformer/consolidate_url/snapshots/tailcall__core__config__transformer__consolidate_url__consolidate_url__test__should_not_generate_upstream_when_threshold_is_not_matched.snap
  src/core/config/transformer/mod.rs
  src/core/generator/from_json.rs
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_different_domain_rest_api_gen.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_rest_api_gen.snap
  src/core/generator/tests/snapshots/json_to_config_spec__boolean.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__empty_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_root_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_incompatible_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_primitive_type.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_same_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__null.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__number.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__string.json.snap
  tailcall-fixtures/fixtures/configs/multi-url-config.graphql
Labels: type: feature

#2148 refactor: drop anyhow::Error [rest & grpc]
  Cargo.lock
  Cargo.toml
  src/core/blueprint/operators/grpc.rs
  src/core/grpc/error.rs
  src/core/grpc/mod.rs
  src/core/grpc/protobuf.rs
  src/core/proto_reader/fetch.rs
  src/core/rest/directive.rs
  src/core/rest/error.rs
  src/core/rest/mod.rs
  src/core/rest/typed_variables.rs
Labels: type: chore

#2149 refactor: drop anyhow::Error
  Cargo.lock
  Cargo.toml
  src/core/blueprint/operators/grpc.rs
  src/core/grpc/error.rs
  src/core/grpc/mod.rs
  src/core/grpc/protobuf.rs
  src/core/proto_reader/fetch.rs
  src/core/rest/directive.rs
  src/core/rest/endpoint.rs
  src/core/rest/endpoint_set.rs
  src/core/rest/error.rs
  src/core/rest/mod.rs
  src/core/rest/operation.rs
  src/core/rest/partial_request.rs
  src/core/rest/path.rs
  src/core/rest/query_params.rs
  src/core/rest/typed_variables.rs
Labels: type: chore

#2150 chore: replace IoId with CallId
  Cargo.lock
  Cargo.toml
  src/core/counter.rs
  src/core/generator/json/mod.rs
  src/core/ir/jit/builder.rs
  src/core/ir/jit/context.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__default_value.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__fragments.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__from_document.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__multiple_operations.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_mutation.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_query.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__unions.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__variables.snap
  src/core/ir/jit/synth.rs
  src/core/ir/mod.rs
Labels: type: chore

#2154 refactor(cli): drop anyhow
  src/cli/error.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/runtime.rs
  src/cli/metrics.rs
  src/cli/mod.rs
  src/cli/runtime/file.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/http_server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/cli/telemetry.rs
  src/core/rest/mod.rs
Labels: type: chore

#2153 chore(into_children): avoid having children as root nodes
  src/core/ir/jit/model.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__default_value.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__from_document.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__multiple_operations.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_mutation.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_query.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__variables.snap
Labels: type: chore

#2036 feat: ability to set dedupe globally for `io`
  .github/workflows/nginx-benchmark.yml
  benches/impl_path_string_for_evaluation_context.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/app_context.rs
  src/core/async_cache.rs
  src/core/blueprint/upstream.rs
  src/core/config/upstream.rs
  src/core/data_loader/dedupe.rs
  src/core/data_loader/mod.rs
  src/core/http/request_context.rs
  src/core/http/request_template.rs
  src/core/ir/evaluation_context.rs
  src/core/ir/io.rs
  src/core/ir/resolver_context_like.rs
  src/core/mod.rs
  src/core/path.rs
  src/core/rest/endpoint.rs
  tailcall-query-plan/src/execution/executor.rs
  tests/core/snapshots/async-cache-global.md_0.snap
  tests/core/snapshots/async-cache-global.md_client.snap
  tests/core/snapshots/async-cache-global.md_merged.snap
  tests/core/snapshots/async-cache-inflight-request.md_0.snap
  tests/core/snapshots/async-cache-inflight-request.md_client.snap
  tests/core/snapshots/async-cache-inflight-request.md_merged.snap
  tests/execution/async-cache-global.md
  tests/execution/async-cache-inflight-request.md
Labels: ci: benchmark, type: feature

#2169 fix: better package names
  .github/workflows/ci.yml
  npm/gen-root.ts
  src/core/blueprint/blueprint.rs
Labels: type: fix

#2168 fix: removing input and output schema from Endpoint
  src/core/blueprint/operators/http.rs
  tests/core/snapshots/recursive-type.md_client.snap
  tests/core/snapshots/recursive-type.md_merged.snap
  tests/execution/recursive-type.md
Labels: type: fix

#2161 feat: add support for config generation from rest endpoint.
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/mod.rs
  src/core/generator/source.rs
  src/core/generator/tests/json_to_config_spec.rs
Labels: type: feature

#2170 chore(store): drop struct Data
  src/core/ir/jit/fixtures/jsonplaceholder-mutation.graphql
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__synth.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__synth_all_posts_users.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__synth_all_posts_users_todos.snap
  src/core/ir/jit/store.rs
  src/core/ir/jit/synth.rs
Labels: type: chore

#2177 chore: executor plan
  src/core/ir/jit/context.rs
  src/core/ir/jit/execute.rs
  src/core/ir/jit/fixtures/jsonplaceholder-mutation.graphql
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__execute__tests__foo.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__execute__tests__nested.snap
  src/core/ir/jit/synth.rs
Labels: type: chore

#2183 fix: dedupe dedupe settings
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/server.rs
  src/core/blueprint/upstream.rs
  src/core/config/server.rs
  src/core/config/upstream.rs
  src/core/http/request_handler.rs
  src/core/ir/io.rs
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_merged.snap
  tests/core/snapshots/async-cache-enabled.md_merged.snap
  tests/core/snapshots/async-cache-global.md_merged.snap
  tests/core/snapshots/async-cache-inflight-request.md_merged.snap
  tests/core/snapshots/dedupe_batch_query_execution.md_merged.snap
  tests/execution/async-cache-enable-multiple-resolvers.md
  tests/execution/async-cache-enabled.md
  tests/execution/async-cache-global.md
  tests/execution/async-cache-inflight-request.md
  tests/execution/dedupe_batch_query_execution.md
Labels: type: fix

#2117 feat: support for default values in `InputFieldDefinition`
  generated/.tailcallrc.schema.json
  src/core/blueprint/blueprint.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/into_schema.rs
  src/core/config/config.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/document.rs
  tests/core/snapshots/default-value-arg.md_0.snap
  tests/core/snapshots/default-value-arg.md_1.snap
  tests/core/snapshots/default-value-arg.md_client.snap
  tests/core/snapshots/default-value-arg.md_merged.snap
  tests/core/snapshots/default-value-config.md_client.snap
  tests/core/snapshots/default-value-config.md_merged.snap
  tests/execution/default-value-arg.md
  tests/execution/default-value-config.md
Labels: ci: benchmark, type: feature

#2162 feat: resolve paths inside the config
  Cargo.lock
  Cargo.toml
  benches/from_json_bench.rs
  examples/generator/config.json
  src/cli/tc.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/config.rs
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/mod.rs
  src/core/generator/snapshots/tailcall__core__generator__config__tests__from_json.snap
  src/core/generator/tests/json_to_config_spec.rs
  tailcall-fixtures/fixtures/generator/simple-json.json
Labels: type: feature

#2178 fix: handle plural singular type name as one.
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__type_name_generator__test__type_name_generator.snap
  src/core/config/transformer/type_name_generator.rs
  tailcall-fixtures/fixtures/configs/name-generation.graphql
Labels: type: fix

#2192 [stack]: rewrite GraphQL engine - 1
  src/core/ir/cache.rs
  src/core/ir/eval.rs
  src/core/ir/jit/execute.rs
  src/core/ir/jit/fixtures/jsonplaceholder-mutation.graphql
  src/core/ir/jit/helper.rs
  src/core/ir/jit/mod.rs
  src/core/ir/jit/synth.rs
  src/core/ir/mod.rs
Labels: type: chore

#2188 chore: remove key cloning for cache
  src/core/ir/io.rs
Labels: ci: benchmark, type: chore

#2191 chore: remove unnecessary boxing
  src/core/data_loader/dedupe.rs
  src/core/ir/io.rs
Labels: ci: benchmark, type: chore

#2201 [stack]: rewrite GraphQL engine - Implement ExecutionContext
  src/core/ir/jit/context.rs
  src/core/ir/jit/execute.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__context__tests__foo.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__context__tests__nested.snap
Labels: type: chore

#2199 chore: remove failing test
  Cargo.toml
  src/cli/runtime/file.rs
Labels: 🙋 Bounty claim, type: chore

#2139 feat: enum aliases
  Cargo.lock
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/definitions.rs
  src/core/blueprint/from_config.rs
  src/core/blueprint/operators/enum_alias.rs
  src/core/blueprint/operators/mod.rs
  src/core/config/config.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/document.rs
  src/core/generator/from_proto.rs
  src/core/ir/mod.rs
  src/core/ir/modify.rs
  tailcall-typedefs/src/gen_gql_schema.rs
  tests/core/snapshots/test-enum-aliases.md_0.snap
  tests/core/snapshots/test-enum-aliases.md_client.snap
  tests/core/snapshots/test-enum-aliases.md_merged.snap
  tests/execution/test-enum-aliases.md
Labels: 🙋 Bounty claim, type: feature

#2202 fix: bump rust version
  rust-toolchain.toml
Labels: ci: benchmark, type: fix

#2207 refactor: simplify Eval trait
  benches/impl_path_string_for_evaluation_context.rs
  src/core/blueprint/into_schema.rs
  src/core/has_headers.rs
  src/core/ir/cache.rs
  src/core/ir/eval.rs
  src/core/ir/evaluation_context.rs
  src/core/ir/io.rs
  src/core/ir/mod.rs
  src/core/ir/resolver_context_like.rs
  src/core/path.rs
  tailcall-query-plan/src/execution/executor.rs
  tailcall-query-plan/src/resolver.rs
  tests/expression_spec.rs
Labels: ci: benchmark, type: chore

#2214 refactor: Move transform out of config
  src/core/blueprint/blueprint.rs
  src/core/blueprint/index.rs
  src/core/blueprint/mod.rs
  src/core/config/config_module.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/config/transformer/consolidate_url/consolidate_url.rs
  src/core/config/transformer/mod.rs
  src/core/config/transformer/remove_unused.rs
  src/core/config/transformer/type_merger/type_merger.rs
  src/core/config/transformer/type_name_generator.rs
  src/core/generator/from_json.rs
  src/core/generator/from_proto.rs
  src/core/generator/json/field_base_url_generator.rs
  src/core/generator/json/schema_generator.rs
  src/core/generator/json/types_generator.rs
  src/core/ir/jit/builder.rs
  src/core/ir/jit/mod.rs
  src/core/mod.rs
  src/core/transform.rs
Labels: type: chore

#2171 chore: refactor the generator implementation
  Cargo.lock
  Cargo.toml
  benches/from_json_bench.rs
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/generator/mod.rs
  src/cli/generator/snapshots/tailcall__cli__generator__config__tests__from_json.snap
  src/cli/mod.rs
  src/cli/tc.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/from_json.rs
  src/core/generator/generator.rs
  src/core/generator/mod.rs
  src/core/generator/snapshots/tailcall__core__generator__from_json__tests__generate_config_from_json.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__generate_from_config_from_multiple_jsons.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_different_domain_rest_api_gen.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_rest_api_gen.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_configs.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_json.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_proto.snap
  src/core/generator/tests/json_to_config_spec.rs
  src/core/mod.rs
  src/core/proto_reader/reader.rs
Labels: ci: benchmark, type: chore

#2219 refactor: remove anyhow - 3
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  benches/protobuf_convert_output.rs
  src/core/auth/error.rs
  src/core/auth/jwt/jwks.rs
  src/core/cache.rs
  src/core/config/transformer/type_name_generator.rs
  src/core/error.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/error.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request.rs
  src/core/grpc/request_template.rs
  src/core/http/request_context.rs
  src/core/http/request_template.rs
  src/core/http/response.rs
  src/core/ir/error.rs
  src/core/json/json_schema.rs
  src/core/mod.rs
  src/core/proto_reader/fetch.rs
  src/core/proto_reader/reader.rs
  tailcall-aws-lambda/Cargo.toml
  tailcall-aws-lambda/src/http.rs
  tailcall-cloudflare/Cargo.toml
  tailcall-cloudflare/src/cache.rs
  tailcall-cloudflare/src/error.rs
  tailcall-cloudflare/src/file.rs
  tailcall-cloudflare/src/handle.rs
  tailcall-cloudflare/src/http.rs
  tailcall-cloudflare/src/lib.rs
  tailcall-cloudflare/src/runtime.rs
  tailcall-fixtures/Cargo.toml
  tailcall-fixtures/build.rs
  tailcall-fixtures/error.rs
  tailcall-http-cache/Cargo.toml
  tailcall-http-cache/src/cache.rs
  tailcall-prettier/Cargo.toml
  tailcall-prettier/src/error.rs
  tailcall-prettier/src/lib.rs
  tailcall-prettier/src/parser.rs
  tailcall-prettier/src/prettier.rs
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/error.rs
  tailcall-tracker/src/lib.rs
  tailcall-tracker/src/tracker.rs
  tailcall-typedefs/Cargo.toml
  tailcall-typedefs/src/gen_gql_schema.rs
  tailcall-typedefs/src/main.rs
  tailcall-upstream-grpc/Cargo.toml
  tailcall-upstream-grpc/src/error.rs
  tailcall-upstream-grpc/src/main.rs
  tests/core/error.rs
  tests/core/mod.rs
  tests/core/parse.rs
  tests/core/snapshots/test-grpc-proto-path.md_error.snap
  tests/core/snapshots/test-grpc-service.md_error.snap
  tests/core/spec.rs
  tests/server_spec.rs
  tests/telemetry/in_memory.rs
Labels: ci: benchmark, type: chore

#2223 fix: handle merging of input and union types
  src/core/config/config.rs
  src/core/config/transformer/type_merger/mergeable_types.rs
  src/core/config/transformer/type_merger/mod.rs
  src/core/config/transformer/type_merger/similarity.rs
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__fail_when_scalar_field_not_match.snap
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__input_types.snap
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__interface_types.snap
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__list_field_types.snap
  src/core/config/transformer/type_merger/snapshots/tailcall__core__config__transformer__type_merger__type_merger__test__union_types.snap
  src/core/config/transformer/type_merger/type_merger.rs
  tailcall-fixtures/fixtures/configs/input-type-config.graphql
  tailcall-fixtures/fixtures/configs/union-config.graphql
  tailcall-fixtures/fixtures/configs/user-list.graphql
Labels: type: fix

#2255 fix: nested args
  src/core/ir/eval_context.rs
  tests/core/snapshots/test-input-with-arg-out.md_0.snap
  tests/core/snapshots/test-input-with-arg-out.md_client.snap
  tests/core/snapshots/test-input-with-arg-out.md_merged.snap
  tests/execution/test-input-with-arg-out.md
Labels: type: fix

#2233 chore: restructure store
  Cargo.lock
  Cargo.toml
  benches/bench_synth.rs
  benches/tailcall_benches.rs
  src/core/http/response.rs
  src/core/ir/jit/builder.rs
  src/core/ir/jit/common/json_placeholder.rs
  src/core/ir/jit/common/mod.rs
  src/core/ir/jit/common/posts.json
  src/core/ir/jit/common/users.json
  src/core/ir/jit/fixtures/jsonplaceholder-mutation.graphql
  src/core/ir/jit/mod.rs
  src/core/ir/jit/model.rs
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__default_value.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__fragments.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__from_document.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__multiple_operations.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_mutation.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__simple_query.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__unions.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__builder__tests__variables.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__json_placeholder.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__multiple_nested.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__nested.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__posts.snap
  src/core/ir/jit/snapshots/tailcall__core__ir__jit__synth__tests__user.snap
  src/core/ir/jit/store.rs
  src/core/ir/jit/synth.rs
  src/core/ir/mod.rs
Labels: ci: benchmark, type: chore

#2251 fix: generator config clean up.
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/generator/snapshots/tailcall__cli__generator__config__tests__config_codec.snap
  tailcall-fixtures/fixtures/generator/simple-json.json
Labels: type: fix

#2234 fix: types across multiple configs
  src/core/config/reader.rs
  tests/core/snapshots/test-multiple-config-types.md_0.snap
  tests/core/snapshots/test-multiple-config-types.md_client.snap
  tests/core/snapshots/test-multiple-config-types.md_merged.snap
  tests/execution/test-multiple-config-types.md
Labels: type: fix

#2246 fix: use query operation type name specified in config
  Cargo.lock
  generated/.tailcallrc.schema.json
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
Labels: ci: lint, type: fix

#2258 refactor: make store polymorphic
  src/core/ir/jit/store.rs
  src/core/ir/jit/synth.rs
Labels: ci: lint, type: chore

#2262 refactor: make DynamicValue polymorphic
  src/core/blueprint/dynamic_value.rs
  src/core/ir/jit/synth.rs
  src/core/ir/model.rs
  src/core/serde_value_ext.rs
Labels: type: chore

#2265 chore: drop PathValue
  src/core/blueprint/operators/call.rs
  src/core/ir/eval.rs
  src/core/ir/model.rs
  tests/expression_spec.rs
Labels: type: chore

#2268 chore: separate ir for jit
  src/core/jit/ir.rs
  src/core/jit/mod.rs
Labels: type: chore

#2263 chore: dropped pub fields from config module
  Cargo.lock
  Cargo.toml
  benches/handle_request_bench.rs
  src/cli/server/http_server.rs
  src/cli/tc.rs
  src/core/blueprint/auth.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/protected.rs
  src/core/blueprint/server.rs
  src/core/blueprint/upstream.rs
  src/core/config/config_module.rs
  src/core/config/into_document.rs
  src/core/config/reader.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/generator.rs
  src/core/generator/tests/json_to_config_spec.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  tailcall-aws-lambda/src/main.rs
  tests/core/parse.rs
Labels: ci: benchmark, type: chore

#2271 Revert "chore: dropped pub fields from config module"
  Cargo.lock
  Cargo.toml
  benches/handle_request_bench.rs
  src/cli/server/http_server.rs
  src/cli/tc.rs
  src/core/blueprint/auth.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/protected.rs
  src/core/blueprint/server.rs
  src/core/blueprint/upstream.rs
  src/core/config/config_module.rs
  src/core/config/into_document.rs
  src/core/config/reader.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/generator.rs
  src/core/generator/tests/json_to_config_spec.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  tailcall-aws-lambda/src/main.rs
  tests/core/parse.rs
Labels: ci: benchmark, type: chore

#2270 refactor: drop `compose` operator on IR
  src/core/ir/model.rs
  tests/expression_spec.rs
Labels: type: chore

#2273 chore: impl `Context` in new IR
  .github/workflows/lint.yml
  src/core/jit/exec.rs
  src/core/jit/exec_ir.rs
  src/core/jit/mod.rs
Labels: type: chore, type: feature

#2280 chore: mustache clean up
  project-words.txt
  src/core/mod.rs
  src/core/mustache.rs
  src/core/mustache/eval.rs
  src/core/mustache/mod.rs
  src/core/mustache/model.rs
  src/core/mustache/parse.rs
Labels: type: chore

#2278 fix: inner directives String
  src/core/document.rs
Labels: type: fix

#2221 feat: allow union as input types
  src/core/blueprint/definitions.rs
  src/core/blueprint/from_config.rs
  src/core/config/config.rs
  src/core/config/config_module.rs
  src/core/config/into_document.rs
  src/core/config/transformer/mod.rs
  src/core/config/transformer/nested_unions.rs
  src/core/config/transformer/preset.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__nested_unions__tests__nested_unions.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__nested_unions__tests__nested_unions_recursive.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__union_input_type__tests__nested_unions.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__union_input_type__tests__union.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__union_input_type__tests__union_in_type.snap
  src/core/config/transformer/union_input_type.rs
  tailcall-fixtures/fixtures/configs/yaml-nested-unions-recursive.yaml
  tailcall-fixtures/fixtures/configs/yaml-nested-unions.yaml
  tailcall-fixtures/fixtures/configs/yaml-union-in-type.yaml
  tailcall-fixtures/fixtures/configs/yaml-union.yaml
  tests/core/snapshots/test-add-link-to-empty-config.md_merged.snap
  tests/core/snapshots/test-all-blueprint-errors.md_error.snap
  tests/core/snapshots/test-dbl-usage-many.md_client.snap
  tests/core/snapshots/test-dbl-usage-many.md_merged.snap
  tests/core/snapshots/test-merge-right-with-link-config.md_merged.snap
  tests/core/snapshots/test-multiple-config-types.md_merged.snap
  tests/core/snapshots/test-nested-link.md_merged.snap
  tests/core/snapshots/yaml-nested-unions.md_client.snap
  tests/core/snapshots/yaml-nested-unions.md_merged.snap
  tests/core/snapshots/yaml-union-in-type.md_client.snap
  tests/core/snapshots/yaml-union-in-type.md_merged.snap
  tests/core/snapshots/yaml-union.md_client.snap
  tests/core/snapshots/yaml-union.md_merged.snap
  tests/core/spec.rs
  tests/execution/test-dbl-usage-many.md
  tests/execution/test-dbl-usage.md
  tests/execution/yaml-nested-unions.md
  tests/execution/yaml-union-in-type.md
  tests/execution/yaml-union.md
Labels: type: feature

#2282 fix: inner directives String
  src/core/graphql/request_template.rs
  src/core/ir/eval_context.rs
  tests/execution/graphql-datasource-query-directives.md
Labels: type: fix

#2259 chore: JIT executor
  src/core/blueprint/dynamic_value.rs
  src/core/jit/common/json_placeholder.rs
  src/core/jit/eval.rs
  src/core/jit/eval_ir.rs
  src/core/jit/ir.rs
  src/core/jit/mod.rs
  src/core/jit/synth.rs
Labels: type: chore

#2292 Revert "fix(deps): update rust crate mimalloc to v0.1.43"
  Cargo.lock
Labels: type: fix

#2260 chore: dropped pub fields from config module
  Cargo.lock
  Cargo.toml
  benches/handle_request_bench.rs
  src/cli/server/http_server.rs
  src/cli/tc.rs
  src/core/blueprint/auth.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/protected.rs
  src/core/blueprint/server.rs
  src/core/blueprint/upstream.rs
  src/core/config/config_module.rs
  src/core/config/into_document.rs
  src/core/config/reader.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/generator.rs
  src/core/generator/tests/json_to_config_spec.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  tailcall-aws-lambda/src/main.rs
  tests/core/parse.rs
Labels: ci: benchmark, 🙋 Bounty claim, type: chore

#2296 fix: drop `to_sdl` from `ConfigModule`
  src/core/config/config.rs
  src/core/config/config_module.rs
  src/core/config/into_document.rs
Labels: 🙋 Bounty claim, type: chore

#2290 refactor: refactor the resource reader
  src/cli/generator/generator.rs
  src/core/config/reader.rs
  src/core/resource_reader.rs
Labels: type: chore

#2291 fix: dedupe dead-lock on dropped requests
  src/core/data_loader/dedupe.rs
  src/core/mod.rs
Labels: ci: benchmark, type: fix

#2311 chore: JIT executor 11 Jun 2024
  src/core/blueprint/dynamic_value.rs
  src/core/jit/builder.rs
  src/core/jit/common/json_placeholder.rs
  src/core/jit/context.rs
  src/core/jit/error.rs
  src/core/jit/eval.rs
  src/core/jit/eval_ir.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/ir.rs
  src/core/jit/mod.rs
  src/core/jit/request.rs
  src/core/jit/response.rs
  src/core/jit/store.rs
  src/core/jit/synth/mod.rs
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_borrow__tests__json_placeholder.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_borrow__tests__multiple_nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_borrow__tests__nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_borrow__tests__posts.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_borrow__tests__user.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__json_placeholder.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__multiple_nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__posts.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__user.snap
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
  src/core/mod.rs
  tests/core/snapshots/test-dbl-usage-many.md_error.snap
  tests/core/snapshots/test-dbl-usage.md_error.snap
  tests/core/snapshots/test-union-many-types.md_merged.snap
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__executor.snap
Labels: type: chore
