Repository tailcallhq/tailcall, pull requests merged in 2024-11, with the labels that each got.

#3087 perf: strip extra iteration when creating serde_json_borrow::Value
  Cargo.lock
  Cargo.toml
Labels: ci: benchmark

#3075 fix: add more meta
  tailcall-tracker/src/dispatch.rs
  tailcall-tracker/src/event.rs
Labels: ci: lint, type: fix

#3043 chore: update rust version
  .github/workflows/ci.yml
  .nightly/rust-toolchain.toml
  benches/request_template_bench.rs
  rust-toolchain.toml
  src/cli/fmt.rs
  src/core/async_graphql_hyper.rs
  src/core/blueprint/definitions.rs
  src/core/config/npo/tracker.rs
  src/core/config/reader_context.rs
  src/core/config/transformer/merge_types/similarity.rs
  src/core/generator/generator.rs
  src/core/grpc/request_template.rs
  src/core/has_headers.rs
  src/core/http/request_template.rs
  src/core/ir/eval.rs
  src/core/ir/eval_context.rs
  src/core/ir/resolver_context_like.rs
  src/core/jit/context.rs
  src/core/jit/fixtures/jp.rs
  src/core/jit/transform/skip.rs
  src/core/json/borrow.rs
  src/core/json/json_like.rs
  src/core/mustache/eval.rs
  src/core/path.rs
  src/core/rest/endpoint.rs
  src/core/tracing.rs
Labels: type: chore

#3099 fix: dedupe operations that are cacheable
  src/core/jit/graphql_executor.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/transform/check_cache.rs
  src/core/jit/transform/input_resolver.rs
  src/core/jit/transform/mod.rs
Labels: type: fix

#3102 fix(2911): add validation in federation resolvers
  src/core/config/transformer/subgraph.rs
  tests/core/snapshots/apollo-federation-validation.md_error.snap
  tests/execution/apollo-federation-validation.md
Labels: 🙋 Bounty claim, type: fix

#3111 ci: use windows-2019 runner to fix windows builds of rquickjs
  .github/workflows/build_matrix.yml
Labels: type: fix

#3115 chore(3114): update rc file contents
  src/cli/tc/init.rs
Labels: 🙋 Bounty claim, type: chore

#3112 chore: upgrade rquickjs version
  Cargo.lock
  Cargo.toml
  src/cli/javascript/codec.rs
Labels: type: chore

#3109 chore: move chunk to new repo
  Cargo.lock
  Cargo.toml
  src/core/config/npo/chunk.rs
  src/core/config/npo/mod.rs
  src/core/config/npo/tracker.rs
Labels: type: chore, type: feature

#3134 feat(3131): show upgrade warning on exit
  Cargo.lock
  Cargo.toml
  src/cli/update_checker.rs
Labels: 🙋 Bounty claim, type: feature

#3136 feat(3133 ): suggest users to update the rc files if it's are not updated
  src/cli/tc/mod.rs
  src/cli/tc/run.rs
  src/cli/tc/validate_rc.rs
Labels: 🙋 Bounty claim, type: feature

#3142 feat: control authentication providers
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/app_context.rs
  src/core/auth/context.rs
  src/core/auth/mod.rs
  src/core/blueprint/auth.rs
  src/core/blueprint/dynamic_value.rs
  src/core/blueprint/operators/protected.rs
  src/core/blueprint/server.rs
  src/core/config/directives/protected.rs
  src/core/http/request_context.rs
  src/core/ir/eval.rs
  src/core/ir/model.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/transform/auth_planer.rs
  src/core/jit/transform/auth_planner.rs
  src/core/jit/transform/check_cache.rs
  src/core/jit/transform/check_const.rs
  src/core/jit/transform/check_dedupe.rs
  src/core/jit/transform/check_protected.rs
  src/core/jit/transform/mod.rs
  tests/core/snapshots/auth-multiple-complex.md_0.snap
  tests/core/snapshots/auth-multiple-complex.md_1.snap
  tests/core/snapshots/auth-multiple-complex.md_10.snap
  tests/core/snapshots/auth-multiple-complex.md_11.snap
  tests/core/snapshots/auth-multiple-complex.md_2.snap
  tests/core/snapshots/auth-multiple-complex.md_3.snap
  tests/core/snapshots/auth-multiple-complex.md_4.snap
  tests/core/snapshots/auth-multiple-complex.md_5.snap
  tests/core/snapshots/auth-multiple-complex.md_6.snap
  tests/core/snapshots/auth-multiple-complex.md_7.snap
  tests/core/snapshots/auth-multiple-complex.md_8.snap
  tests/core/snapshots/auth-multiple-complex.md_9.snap
  tests/core/snapshots/auth-multiple-complex.md_client.snap
  tests/core/snapshots/auth-multiple-complex.md_merged.snap
  tests/core/snapshots/auth-multiple.md_0.snap
  tests/core/snapshots/auth-multiple.md_1.snap
  tests/core/snapshots/auth-multiple.md_10.snap
  tests/core/snapshots/auth-multiple.md_11.snap
  tests/core/snapshots/auth-multiple.md_12.snap
  tests/core/snapshots/auth-multiple.md_13.snap
  tests/core/snapshots/auth-multiple.md_14.snap
  tests/core/snapshots/auth-multiple.md_2.snap
  tests/core/snapshots/auth-multiple.md_3.snap
  tests/core/snapshots/auth-multiple.md_4.snap
  tests/core/snapshots/auth-multiple.md_5.snap
  tests/core/snapshots/auth-multiple.md_6.snap
  tests/core/snapshots/auth-multiple.md_7.snap
  tests/core/snapshots/auth-multiple.md_8.snap
  tests/core/snapshots/auth-multiple.md_9.snap
  tests/core/snapshots/auth-multiple.md_client.snap
  tests/core/snapshots/auth-multiple.md_merged.snap
  tests/execution/auth-multiple-complex.md
  tests/execution/auth-multiple.md
Labels: type: feature

#3151 chore: upgrade derive_more to v1.0.0
  Cargo.lock
  Cargo.toml
  src/core/cache/error.rs
  src/core/rest/error.rs
  src/core/worker/error.rs
  tailcall-fixtures/error.rs
  tailcall-tracker/src/error.rs
Labels: 🙋 Bounty claim, type: chore

#3160 fix: drop blocking call to check updates
  src/cli/tc/run.rs
  src/cli/update_checker.rs
Labels: type: fix

#3154 feat(blueprint): replace validation String with BlueprintError
  src/core/blueprint/cors.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/directive.rs
  src/core/blueprint/error.rs
  src/core/blueprint/from_config.rs
  src/core/blueprint/interface_resolver.rs
  src/core/blueprint/links.rs
  src/core/blueprint/mod.rs
  src/core/blueprint/mustache.rs
  src/core/blueprint/operators/apollo_federation.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/enum_alias.rs
  src/core/blueprint/operators/expr.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/modify.rs
  src/core/blueprint/operators/protected.rs
  src/core/blueprint/operators/select.rs
  src/core/blueprint/schema.rs
  src/core/blueprint/server.rs
  src/core/blueprint/telemetry.rs
  src/core/blueprint/union_resolver.rs
  src/core/blueprint/upstream.rs
  tests/core/spec.rs
Labels: type: feature

#3152 fix(3144): add correct auth validation traces
  src/core/blueprint/definitions.rs
  tests/core/snapshots/auth-validations.md_error.snap
  tests/execution/auth-validations.md
Labels: 🙋 Bounty claim, type: fix

#3145 test(3010): add integration tests for dedupe
  tests/core/http.rs
  tests/core/model.rs
  tests/core/snapshots/test-dedupe.md_0.snap
  tests/core/snapshots/test-dedupe.md_client.snap
  tests/core/snapshots/test-dedupe.md_merged.snap
  tests/core/spec.rs
  tests/execution/test-dedupe.md
Labels: 🙋 Bounty claim, type: feature

#3124 feat: support multiple resolvers on fields
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/tc/init.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/from_config.rs
  src/core/blueprint/mustache.rs
  src/core/blueprint/operators/apollo_federation.rs
  src/core/blueprint/operators/call.rs
  src/core/blueprint/operators/expr.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/mod.rs
  src/core/blueprint/operators/resolver.rs
  src/core/config/config.rs
  src/core/config/config_module/fixtures/subgraph-users.graphql
  src/core/config/config_module/merge.rs
  src/core/config/config_module/snapshots/tailcall__core__config__config_module__merge__tests__federation_router.snap
  src/core/config/directives/call.rs
  src/core/config/directives/expr.rs
  src/core/config/directives/graphql.rs
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/config/directives/js.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/resolver.rs
  src/core/config/transformer/subgraph.rs
  src/core/generator/from_proto.rs
  src/core/generator/json/operation_generator.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  src/core/ir/eval.rs
  src/core/ir/model.rs
  src/core/jit/transform/auth_planner.rs
  src/core/jit/transform/check_cache.rs
  src/core/jit/transform/check_const.rs
  src/core/jit/transform/check_dedupe.rs
  src/core/jit/transform/check_protected.rs
  src/core/merge_right.rs
  tailcall-macros/src/resolver.rs
  tests/core/snapshots/test-http-with-inline.md_error.snap
  tests/core/snapshots/test-merge-nested.md_merged.snap
  tests/core/snapshots/test-multiple-resolvable-directives-on-field-validation.md_error.snap
  tests/core/snapshots/test-multiple-resolvable-directives-on-field.md_0.snap
  tests/core/snapshots/test-multiple-resolvable-directives-on-field.md_client.snap
  tests/core/snapshots/test-multiple-resolvable-directives-on-field.md_error.snap
  tests/core/snapshots/test-multiple-resolvable-directives-on-field.md_merged.snap
  tests/execution/test-multiple-resolvable-directives-on-field-validation.md
  tests/execution/test-multiple-resolvable-directives-on-field.md
Labels: type: feature

#3169 docs(3163): adds documentation for link type
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/config/directives/link.rs
Labels: type: docs, 🙋 Bounty claim

#2978 fix(2892): consider entity resolvers in n + 1 check
  Cargo.lock
  Cargo.toml
  src/core/config/config.rs
  src/core/config/npo/fixtures/entity-resolver.graphql
  src/core/config/npo/fixtures/multiple-deeply-nested.graphql
  src/core/config/npo/fixtures/multiple-type-usage.graphql
  src/core/config/npo/fixtures/nested.graphql
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__cycles_with_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__entity_resolver.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__multiple_deeply_nested.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__multiple_keys.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__multiple_type_usage.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__tracker__tests__nested_config.snap
  src/core/config/npo/tracker.rs
  src/core/config/resolver.rs
Labels: 🙋 Bounty claim, type: fix

#3143 fix(2999): add validation on http query
  src/core/blueprint/fixture/recursive-arg.graphql
  src/core/blueprint/mod.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/operators/resolver.rs
  src/core/blueprint/template_validation/mod.rs
  tests/core/snapshots/non-scalar-value-in-query.md_error.snap
  tests/execution/non-scalar-value-in-query.md
Labels: 🙋 Bounty claim, type: fix

#3176 feat: Support mustache on link directives
  Cargo.lock
  src/cli/generator/generator.rs
  src/core/config/reader.rs
  src/core/config/reader_context.rs
  src/core/mustache/eval.rs
  src/core/mustache/mod.rs
  src/core/mustache/model.rs
  src/core/mustache/parse.rs
  src/core/proto_reader/fetch.rs
  src/core/resource_reader.rs
  tests/core/snapshots/env-value.md_merged.snap
  tests/core/snapshots/test-eval-partial.md_client.snap
  tests/core/snapshots/test-eval-partial.md_merged.snap
  tests/core/snapshots/yaml-nested-unions.md_merged.snap
  tests/core/snapshots/yaml-union-in-type.md_merged.snap
  tests/core/snapshots/yaml-union.md_merged.snap
  tests/core/spec.rs
  tests/execution/test-eval-partial.md
Labels: type: feature

#2860 feat: add on response body hook to http directives
  Cargo.lock
  examples/jsonplaceholder_script.graphql
  examples/scripts/echo.js
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/javascript/runtime.rs
  src/core/app_context.rs
  src/core/blueprint/fixture/all-constructs.graphql
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/generator/from_proto.rs
  src/core/http/mod.rs
  src/core/ir/eval_http.rs
  src/core/ir/eval_io.rs
  src/core/ir/model.rs
  src/core/mod.rs
  src/core/worker/worker.rs
  src/core/worker_hooks.rs
  tests/core/snapshots/on-request-body-grpc.md_0.snap
  tests/core/snapshots/on-request-body-grpc.md_client.snap
  tests/core/snapshots/on-request-body-grpc.md_merged.snap
  tests/core/snapshots/on-response-body-grpc.md_0.snap
  tests/core/snapshots/on-response-body-grpc.md_client.snap
  tests/core/snapshots/on-response-body-grpc.md_merged.snap
  tests/core/snapshots/test-on-response-body.md_0.snap
  tests/core/snapshots/test-on-response-body.md_client.snap
  tests/core/snapshots/test-on-response-body.md_merged.snap
  tests/execution/on-response-body-grpc.md
  tests/execution/test-on-response-body.md
Labels: type: feature

#3178 chore: migrate to serde_yaml_ng instead of serde_yaml
  Cargo.lock
  Cargo.toml
  src/cli/generator/generator.rs
  src/cli/tc/init.rs
  src/core/blueprint/operators/resolver.rs
  src/core/config/config.rs
  src/core/merge_right.rs
  tests/cli/parser.rs
  tests/core/parse.rs
Labels: type: chore
