Repository tailcallhq/tailcall, pull requests merged in 2024-05, with the labels that each got.

#1833 chore: added codespell
  .github/workflows/spell-check.yml
Labels: type: chore

#1834 refactor: merge benchmarks in `tailcall_benches.rs`
  .devcontainer/devcontainer.json
  Cargo.toml
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  benches/json_like_bench.rs
  benches/protobuf_convert_output.rs
  benches/request_template_bench.rs
  benches/tailcall_benches.rs
Labels: type: chore

#1830 fix: remote url in config is read as file
  src/config/reader.rs
Labels: type: fix

#1841 refactor: remove overrides from `.prettierrc`
  .prettierrc
  tailcall-prettier/src/lib.rs
  tailcall-prettier/src/parser.rs
  tailcall-prettier/src/prettier.rs
  tests/core/spec.rs
  tests/execution/add-field-many-list.md
  tests/execution/add-field-many.md
  tests/execution/auth.md
  tests/execution/inline-many-list.md
  tests/execution/inline-many.md
  tests/execution/omit-many.md
  tests/execution/test-grpc.md
Labels: ci: lint, type: chore

#1843 chore: spell check fixes
  .codespellignore
  .github/workflows/spell-check.yml
  src/cli/runtime/http.rs
  src/grpc/protobuf.rs
  tests/core/snapshots/test-enum-default.md_0.snap
  tests/core/snapshots/test-enum-default.md_client.snap
  tests/core/snapshots/test-enum-default.md_merged.snap
  tests/core/snapshots/test-scalars.md_0.snap
  tests/execution/test-enum-default.md
  tests/execution/test-scalars.md
Labels: type: chore

#1842 chore: clean unwanted modules from codebase
  src/lambda/list.rs
  src/lambda/logic.rs
  src/lambda/math.rs
  src/lambda/mod.rs
  src/lambda/relation.rs
Labels: type: chore

#1778 feat: add `dedupe` in Upstream
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/async_cache.rs
  src/blueprint/blueprint.rs
  src/blueprint/upstream.rs
  src/config/upstream.rs
  src/lambda/io.rs
  tests/core/snapshots/async-cache-disabled.md_0.snap
  tests/core/snapshots/async-cache-disabled.md_client.snap
  tests/core/snapshots/async-cache-disabled.md_merged.snap
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_0.snap
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_client.snap
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_merged.snap
  tests/core/snapshots/async-cache-enabled.md_0.snap
  tests/core/snapshots/async-cache-enabled.md_client.snap
  tests/core/snapshots/async-cache-enabled.md_merged.snap
  tests/execution/async-cache-disabled.md
  tests/execution/async-cache-enable-multiple-resolvers.md
  tests/execution/async-cache-enabled.md
  tests/execution/batching.md
  tests/execution/call-graphql-datasource.md
  tests/execution/io-cache.md
  tests/execution/recursive-type-json.md
  tests/execution/recursive-types.md
  tests/execution/ref-other-nested.md
Labels: type: feature

#1849 perf: removing `Concurrent` parameter from `eval`
  src/blueprint/into_schema.rs
  src/lambda/cache.rs
  src/lambda/concurrent.rs
  src/lambda/eval.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/mod.rs
  tailcall-query-plan/src/resolver.rs
  tests/expression_spec.rs
Labels: ci: benchmark, ci: lint, type: fix

#1718 fix(grpc): resolve ambiguous types
  generated/.tailcallrc.schema.json
  src/blueprint/definitions.rs
  src/blueprint/mustache.rs
  src/blueprint/schema.rs
  src/config/config.rs
  src/config/config_module.rs
  src/config/from_document.rs
  src/generator/from_proto.rs
  src/generator/generator.rs
  src/scalar/mod.rs
  tailcall-query-plan/src/plan.rs
Labels: type: fix

#1855 fix: updated the contribution guidelines link.
  README.md
Labels: type: fix

#1713 fix(js): replace `deno_core` with `rquickjs`
  Cargo.lock
  Cargo.toml
  src/cli/javascript/js_request.rs
  src/cli/javascript/js_response.rs
  src/cli/javascript/request_filter.rs
  src/cli/javascript/runtime.rs
  src/cli/javascript/shim/console.js
  tailcall-cloudflare/src/handle.rs
Labels: 🙋 Bounty claim, type: feature

#1864 fix: making `dedupe` nullable in `.tailcallrc.graphql`
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/config/upstream.rs
Labels: type: fix

#1872 refactor(config): remove explicit interface flag
  generated/.tailcallrc.schema.json
  src/blueprint/definitions.rs
  src/config/config.rs
  src/config/config_module.rs
  src/config/from_document.rs
  src/config/into_document.rs
  tests/core/snapshots/test-interface-from-json.md_client.snap
  tests/core/snapshots/test-interface-from-json.md_merged.snap
  tests/execution/test-interface-from-json.md
Labels: ci: lint, type: chore

#1857 refactor: drop type variants
  generated/.tailcallrc.schema.json
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/into_schema.rs
  src/blueprint/schema.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/source.rs
  src/document.rs
  src/generator/from_proto.rs
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto.snap
  tests/core/snapshots/execution_spec__test-enum-empty.md_errors.snap
  tests/core/snapshots/test-enum-description.md_0.snap
  tests/core/snapshots/test-enum-description.md_1.snap
  tests/core/snapshots/test-enum-description.md_2.snap
  tests/core/snapshots/test-enum-description.md_client.snap
  tests/core/snapshots/test-enum-description.md_merged.snap
  tests/core/spec.rs
  tests/execution/test-enum-description.md
  tests/execution/test-enum-empty.md
Labels: 🙋 Bounty claim, type: chore

#1874 chore: upgrade rustc version
  .nightly/rust-toolchain.toml
  rust-toolchain.toml
  src/cli/javascript/request_filter.rs
  src/cli/javascript/runtime.rs
  src/config/config_module.rs
  src/config/reader.rs
  src/data_loader/data_loader.rs
  src/generator/from_proto.rs
  src/proto_reader/reader.rs
  tailcall-upstream-grpc/src/main.rs
  tests/core/snapshots/test-js-request-response-2.md_0.snap
  tests/core/snapshots/test-js-request-response-2.md_client.snap
  tests/core/snapshots/test-js-request-response-2.md_merged.snap
  tests/core/snapshots/test-js-request-response.md_0.snap
  tests/core/snapshots/test-js-request-response.md_client.snap
  tests/core/snapshots/test-js-request-response.md_merged.snap
  tests/execution/test-js-request-response-2.md
  tests/execution/test-js-request-response.md
Labels: type: chore

#1888 fix: build failures
  Cargo.lock
  Cargo.toml
  tailcall-tracker/Cargo.toml
Labels: type: fix

#1886 chore: adding benchmark for `handle_request`
  benches/handle_request_bench.rs
  benches/tailcall_benches.rs
Labels: ci: benchmark, type: chore

#1902 fix(grpc): empty scalar validation
  generated/.tailcallrc.schema.json
  src/core/blueprint/from_config.rs
  src/core/json/json_schema.rs
  tests/core/snapshots/grpc-simple.md_client.snap
  tests/core/snapshots/grpc-simple.md_merged.snap
  tests/execution/grpc-simple.md
Labels: type: fix

#1903 fix(grpc): add body to generated config
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__greetings_proto_file.snap
Labels: type: fix

#1918 fix: disabling dataloader when delay is set to 0
  src/core/blueprint/upstream.rs
  src/core/http/request_context.rs
Labels: type: fix

#1926 fix: replacing `DefaultHasher`
  Cargo.lock
  Cargo.toml
  src/core/graphql/request_template.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/request_template.rs
  src/core/http/data_loader_request.rs
  src/core/http/request_template.rs
  tailcall-hasher/Cargo.toml
  tailcall-hasher/src/lib.rs
Labels: ci: benchmark, type: fix

#1929 chore: adding nginx benchmark in ci
  .github/workflows/nginx-benchmark.yml
  ci-benchmark/nginx-benchmark.graphql
  ci-benchmark/nginx.conf
Labels: ci: benchmark, type: chore

#1932 fix: converting lto 'thin' to 'fat'
  Cargo.toml
Labels: ci: benchmark, type: fix

#1936 perf: parsing constant url at compile time
  Cargo.lock
  src/core/http/request_template.rs
  tests/execution/input-type-protected-error.md
Labels: ci: benchmark, ci: lint

#1942 fix: request counter to be updated if telemetry is enabled
  src/cli/runtime/http.rs
  src/core/http/request_handler.rs
Labels: ci: benchmark, type: fix

#1952 refactor: rename autogen to typedefs
  Cargo.lock
  Cargo.toml
  lint.sh
  tailcall-typedefs/Cargo.toml
  tailcall-typedefs/src/gen_gql_schema.rs
  tailcall-typedefs/src/main.rs
Labels: type: chore

#1953 refactor: update privacy of GraphQLType
  src/core/generator/from_proto.rs
  src/core/generator/mod.rs
Labels: type: chore

#1955 refactor: drop unused GRPCMethod from blueprint
  src/core/generator/from_proto.rs
Labels: type: chore

#1963 fix: Enable JS build for all architecture
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim, type: fix

#1928 perf: improve http cache performance
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  src/cli/runtime/http.rs
  src/core/runtime.rs
  tailcall-http-cache/Cargo.toml
  tailcall-http-cache/src/http_cache_manager.rs
  tailcall-http-cache/src/lib.rs
  tests/server_spec.rs
Labels: ci: benchmark

#1914 feat(grpc): gen google types
  src/core/config/config.rs
  src/core/config/config_module.rs
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  tailcall-fixtures/fixtures/protobuf/movies.proto
Labels: state: inactive, type: feature

#1969 refactor: drop the root level types
  benches/data_loader_bench.rs
  benches/handle_request_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  benches/json_like_bench.rs
  benches/protobuf_convert_output.rs
  benches/request_template_bench.rs
  src/lib.rs
  src/main.rs
  tailcall-aws-lambda/src/http.rs
  tailcall-aws-lambda/src/main.rs
  tailcall-aws-lambda/src/runtime.rs
  tailcall-cloudflare/src/cache.rs
  tailcall-cloudflare/src/env.rs
  tailcall-cloudflare/src/file.rs
  tailcall-cloudflare/src/handle.rs
  tailcall-cloudflare/src/http.rs
  tailcall-cloudflare/src/runtime.rs
  tailcall-query-plan/src/execution/executor.rs
  tailcall-query-plan/src/plan.rs
  tailcall-query-plan/src/resolver.rs
  tailcall-query-plan/tests/execution.rs
  tailcall-typedefs/src/gen_gql_schema.rs
  tailcall-typedefs/src/main.rs
  tests/core/env.rs
  tests/core/file.rs
  tests/core/http.rs
  tests/core/model.rs
  tests/core/parse.rs
  tests/core/runtime.rs
  tests/core/spec.rs
  tests/expression_spec.rs
  tests/server_spec.rs
Labels: type: chore

#1976 fix: revert CI changes for [win32-arm64-msvc & win32-ia32-gnu]
  .github/workflows/ci.yml
Labels: type: fix

#1981 perf: using serde borrow value
  Cargo.lock
  Cargo.toml
  src/core/http/response.rs
Labels: ci: benchmark, type: performance

#1910 perf: use custom HTTP Cache
  Cargo.lock
  Cargo.toml
  benches/http_execute_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  benches/tailcall_benches.rs
  src/cli/runtime/http.rs
  src/cli/runtime/mod.rs
  src/core/runtime.rs
  tailcall-http-cache/Cargo.toml
  tailcall-http-cache/src/cache.rs
  tailcall-http-cache/src/lib.rs
  tests/server_spec.rs
Labels: ci: benchmark, type: chore, type: performance

#1979 fix(grpc): map type support
  src/core/blueprint/from_config.rs
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/grpc/protobuf.rs
  src/core/json/json_schema.rs
  tailcall-fixtures/fixtures/protobuf/map.proto
  tests/core/snapshots/grpc-map.md_0.snap
  tests/core/snapshots/grpc-map.md_client.snap
  tests/core/snapshots/grpc-map.md_merged.snap
  tests/execution/grpc-map.md
Labels: state: inactive, type: fix

#1977 chore: Clean up merge logic for vectors of key-value structs.
  src/core/config/key_values.rs
  src/core/config/server.rs
Labels: type: chore

#2005 fix: errors on compile time on mac
  Cargo.lock
Labels: type: fix

#2006 fix: passing lambda request headers to hyper request
  tailcall-aws-lambda/src/http.rs
Labels: type: fix

#2007 fix: compiling tailcall-aws-lambda for musl
  .github/workflows/ci.yml
Labels: type: fix

#2009 chore: make cache_key return `Option<u64>`
  src/core/graphql/request_template.rs
  src/core/grpc/request_template.rs
  src/core/http/request_template.rs
  src/core/lambda/cache.rs
  src/core/lambda/io.rs
Labels: type: chore

#1867 feat(js): JS based resolvers
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  examples/scripts/echo.js
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/javascript/js_request.rs
  src/cli/javascript/js_response.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/request_filter.rs
  src/cli/javascript/runtime.rs
  src/cli/runtime/mod.rs
  src/core/app_context.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/operators/js.rs
  src/core/blueprint/operators/mod.rs
  src/core/config/config.rs
  src/core/lambda/io.rs
  src/core/mod.rs
  src/core/runtime.rs
  src/core/worker.rs
  tailcall-aws-lambda/Cargo.toml
  tailcall-aws-lambda/src/runtime.rs
  tailcall-cloudflare/src/runtime.rs
  tests/core/parse.rs
  tests/core/runtime.rs
  tests/core/snapshots/js-directive.md_0.snap
  tests/core/snapshots/js-directive.md_client.snap
  tests/core/snapshots/js-directive.md_merged.snap
  tests/execution/js-directive.md
  tests/server_spec.rs
Labels: ci: benchmark, type: feature

#2021 fix: windows build
  src/cli/runtime/mod.rs
Labels: type: fix

#2025 fix: windows warn
  src/cli/runtime/mod.rs
Labels: type: fix

#1994 fix: added utm source & medium on playground url
  Cargo.lock
  Cargo.toml
  src/cli/command.rs
  src/cli/server/mod.rs
  src/cli/server/playground.rs
  src/cli/update_checker.rs
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/check_tracking.rs
  tailcall-version/Cargo.toml
  tailcall-version/src/lib.rs
Labels: type: chore, type: fix

#2010 fix: sign releases via gpg
  .github/workflows/ci.yml
Labels: type: fix

#2018 feat: add support for path variables
  src/core/generator/from_json.rs
  src/core/generator/snapshots/tailcall__core__generator__generator__test__jsonplaceholder.typicode.com.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__read_all_with_rest_api_gen.snap
  tests/core/snapshots/execution_spec__core__json_to_config_spec__boolean.json.snap
Labels: type: feature

#2032 fix: rquickjs windows build
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim, type: fix

#2043 fix: revert signing releases
  .github/workflows/ci.yml
  tailcall-prettier/src/prettier.rs
Labels: type: fix

#2028 perf: remove unnecessary clone
  src/core/blueprint/into_schema.rs
Labels: ci: benchmark, type: performance

#2076 fix: release builds
  .github/workflows/ci.yml
  Cargo.toml
  src/cli/runtime/mod.rs
Labels: type: chore

#2049 chore: upgrade opentelemetry version
  Cargo.lock
  Cargo.toml
  src/cli/telemetry.rs
  tailcall-upstream-grpc/Cargo.toml
Labels: type: chore

#2024 chore: transformer auto-resolve ambiguous types
  src/core/config/config_module.rs
  src/core/config/mod.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/config/transformer/mod.rs
  src/core/generator/from_proto.rs
  src/core/generator/generator.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__nested_types.snap
  tests/core/snapshots/test-dbl-usage-many.md_client.snap
  tests/core/snapshots/test-dbl-usage-many.md_merged.snap
  tests/core/snapshots/test-dbl-usage.md_client.snap
  tests/core/snapshots/test-dbl-usage.md_merged.snap
Labels: 🙋 Bounty claim, ci: lint, type: chore

#2015 fix: input types loose out on provided graphQL documentation
  src/core/blueprint/into_schema.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/document.rs
  tests/core/snapshots/test-input-documentation.md_client.snap
  tests/core/snapshots/test-input-documentation.md_merged.snap
  tests/execution/test-input-documentation.md
Labels: 🙋 Bounty claim, type: fix

#2042 fix(grpc): config generation for optional fields
  src/core/generator/from_proto.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__optional_fields.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/grpc/protobuf.rs
  tailcall-fixtures/fixtures/protobuf/optional.proto
Labels: type: fix

#2078 chore: notify ci failure on Discord
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim, type: chore

#2038 test: @expr converts string to other primitive value
  tests/core/snapshots/test-expr-scalar-as-string.md_0.snap
  tests/core/snapshots/test-expr-scalar-as-string.md_client.snap
  tests/core/snapshots/test-expr-scalar-as-string.md_merged.snap
  tests/execution/test-expr-scalar-as-string.md
Labels: state: inactive

#2023 feat(grpc): preserve comments from protobuf when generating config
  src/core/generator/from_proto.rs
  src/core/generator/mod.rs
  src/core/generator/proto/comments_builder.rs
  src/core/generator/proto/mod.rs
  src/core/generator/proto/path_builder.rs
  src/core/generator/proto/path_field.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  tailcall-fixtures/fixtures/protobuf/movies.proto
  tests/execution/test-scalars-validation.md
Labels: 🙋 Bounty claim, type: feature
