Repository tailcallhq/tailcall, pull requests merged in 2024-07, with the labels that each got.

#2315 chore: remove some todo in synth
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
Labels: type: chore

#2301 chore: update `AppContext` module usage
  src/cli/server/server_config.rs
  src/core/http/mod.rs
  src/core/http/request_context.rs
  src/core/http/request_handler.rs
  src/core/http/showcase.rs
  src/core/mod.rs
  tailcall-aws-lambda/src/main.rs
  tailcall-cloudflare/src/handle.rs
  tests/core/parse.rs
  tests/core/spec.rs
  tests/jit_spec.rs
Labels: type: chore

#2314 fix: null enum
  src/core/blueprint/into_schema.rs
  tests/core/snapshots/graphql-datasource-with-empty-enum.md_0.snap
  tests/core/snapshots/graphql-datasource-with-empty-enum.md_client.snap
  tests/core/snapshots/graphql-datasource-with-empty-enum.md_merged.snap
  tests/core/snapshots/graphql-datasource-with-mandatory-enum.md_0.snap
  tests/core/snapshots/graphql-datasource-with-mandatory-enum.md_client.snap
  tests/core/snapshots/graphql-datasource-with-mandatory-enum.md_merged.snap
  tests/execution/graphql-datasource-with-empty-enum.md
  tests/execution/graphql-datasource-with-mandatory-enum.md
Labels: type: fix

#2313 chore: improve test coverage in cli config
  src/cli/generator/config.rs
  src/core/config/transformer/preset.rs
  src/core/resource_reader.rs
Labels: type: chore

#2312 chore: compress the api responses for tests
  .cache/content-v2/sha256/0d/a5/2f3b854bc75255cb8b24764606fc346654d538bf75d68f0c7535f31ce161
  .cache/content-v2/sha256/1d/ac/64bbef1681c52818299deb4f74f9eccf4a73922f7989ee04400f88dd1d1c
  .cache/content-v2/sha256/1e/d7/9d697ed81648dca96e079a80e7af8cc00054badecd2b8285d86dd976298a
  .cache/content-v2/sha256/28/b3/c92f3108e5ee14c101c6ebf3b2551bce41b9f3b750b4b3e2189128f7a15a
  .cache/content-v2/sha256/29/c8/fb70d8d5109953b2c0fe328ca94bd767f3055b5ffcc395863617955841bc
  .cache/content-v2/sha256/2b/22/e053b39912bfee653418f2a5a238379fcd11bf92dea6b2ef3fc87dcce5a5
  .cache/content-v2/sha256/2c/3f/f37898146e1b2612ca94b1f3514e3fc45d062ba601f2f2e2b0d32369d29b
  .cache/content-v2/sha256/35/80/e16b247a79d936ad5b469cee760908ea827216390153d78d9af3573fd144
  .cache/content-v2/sha256/40/11/3e76807ada0b5f7f5ecff9c90cc96fb0ebbca779f196e38cf2c3e8ffab6c
  .cache/content-v2/sha256/42/e0/d89314a4097dbc81f56018c399b550b286c42fe7c5ff6aec1dab0cf009cd
  .cache/content-v2/sha256/46/a8/e16707f6c0851f3ebc9ad242a1e2dfb48d53af2e7792a867745d1f321676
  .cache/content-v2/sha256/5a/ec/a244177365b9457bc19398dbb3f27d938c49d9f58522d955683c5e4834dc
  .cache/content-v2/sha256/61/3a/75fe511dab7e54d3c29dcc6566084d273323053c01ec640dd3181db2de35
  .cache/content-v2/sha256/63/6d/df9592953e51edf686c512a50bfcdf95c8ccf0c06816c7059b0cee713e93
  .cache/content-v2/sha256/6c/61/2c604341de9d56ded730aab3bf05eb50f93288d0334a7eba5abb32d6f16b
  .cache/content-v2/sha256/79/be/27b8fd30f848a506868dbfc5c94f35824b51e62fdf4f40f776825cf56dcb
  .cache/content-v2/sha256/7f/11/1d1cfc6a06a1a7d07c3d809f57ab741ae7702505986b8bff6ed17708ad59
  .cache/content-v2/sha256/88/94/5a3052261fbd9cba4611a051a0ecca35abe1d91e9b088099461649fbf486
  .cache/content-v2/sha256/8b/c9/2fa9f54ef37a11b26d6deaa361b370fdd5ef7707034e0ef8cc91f1adf6e5
  .cache/content-v2/sha256/8e/4f/13890417539509824fdc41cb5fe49e0fed1ca155cd741b7da1e687a94253
  .cache/content-v2/sha256/9c/39/f3a3e6907a412f0dd7027d09831df5a2e59fea925b9ab355be928889f8d3
  .cache/content-v2/sha256/a1/f2/4c31f8b5c6b3ea5a6be9793009c1d6c9739c2631b795988aeb5367044a71
  .cache/content-v2/sha256/a3/d7/447e2cb6dc999d15226d5a495d6ca92c161cbc51d4302ba03a0577c12e31
  .cache/content-v2/sha256/a4/87/206ac22af92073f4a8fbcd7cc4c628063e4baa67599e85cbe5cea6934f71
  .cache/content-v2/sha256/a5/ff/845de906aa21c217abd5cf201822fb35dad2934d5e6dd5e4227f485668bd
  .cache/content-v2/sha256/a6/47/3b4fc093f6c0cb8104e3661f5965020a8b7281791bf139ec09f85ea9b5ac
  .cache/content-v2/sha256/ac/5d/555dafc32c0b9b105b8423ecf961979ef7c72a4f1753ceaea86d6d0013c5
  .cache/content-v2/sha256/b2/b3/2f8bb1efd33269a8fc3f86418060f09c5483657e252fe521f41c3a234685
  .cache/content-v2/sha256/b4/52/5fd89996d4f6a270e14d74f7f7091a54eacd3b2fda0591d201e6bbfc6881
  .cache/content-v2/sha256/b6/4a/6d60dc681b5821c136ae89f35a6bfb64c225549c1548ffbc50bfd5b058f4
  .cache/content-v2/sha256/bd/e0/6ca790d6752ee323a7ffbf1c2d4ce39242c8ad5f26069d5648790db71983
  .cache/content-v2/sha256/cc/86/b191012169acd2d23c048ead03d517314973b4bfbfb8a320de8645abfcda
  .cache/content-v2/sha256/d4/2f/a64ad5cb9d1c54df039fc8a45818aec1e3e93bbab642627520078dbbf4e0
  .cache/content-v2/sha256/eb/67/437126851b763409ab691ad0426b3be23c4190a698caafa2e028ca5e4439
  .cache/content-v2/sha256/ed/c1/1afce04cacd4ef0259c5a1ce8bcd33a16e3d8111d4a0f76639a3cf06d08a
  .cache/content-v2/sha256/f2/b2/58ba08a6e2313eaa83525191b7806836e83538c62148c661ff519dbee21d
  .cache/content-v2/sha256/f5/05/997146d533cc7c17b2bc51df5abd70c23795b8fbc97afb6965faf1459d0c
  .cache/content-v2/sha256/fe/57/4321dc83d03671206e1f8c49c643022532e5e015579739337224c452db3d
  .cache/index-v5/0d/50/9fa0240aa36806aa13c3b26d4be0f807e53f
  .cache/index-v5/16/d8/395a7f086b43541bcdd945164e45c8dd387e
  .cache/index-v5/1f/9c/596b9620217a9b2f9de8f237872be0a15fe7
  .cache/index-v5/21/81/847ae6bfeab022d3b7c9a28a9ccaa5b59c65
  .cache/index-v5/45/7e/47040ac50b852f1a38fe4479070e56b299b1
  .cache/index-v5/53/10/a53948d6f8b203986a6e64657958db472bb8
  .cache/index-v5/55/cd/231b35190747296317aef55f24c02777c22d
  .cache/index-v5/94/dd/fa07bf0f2b5729f4078f8fa0c7b0f7f089e8
  .cache/index-v5/a6/44/a2de334c2a9de8fcbeea800160023b12ef42
  .cache/index-v5/a7/83/bea0aee4b8508b7f70f5a7b123d9f4e1447c
  .cache/index-v5/b7/e6/ab1e9ac818818c68cd75a4059a9560ea4e52
  .cache/index-v5/bf/06/5bc0932db3a16ea1d335c4d520f18e2383c5
  .cache/index-v5/c2/f6/ce26c72472a641688383fea297ebb4a67cf5
  .cache/index-v5/c4/91/4e961e5fe13dd4297bde9d57040286322331
  .cache/index-v5/d5/fd/93338e2641ebdf8edc78314395f43b0c50a5
  .cache/index-v5/d9/c0/68d3d1b731fcbc05595f7145224b715df3d6
  .cache/index-v5/dc/8f/0a1f0bb20ea2ee0f4402570a34c8276b00f7
  .cache/index-v5/dd/f4/47e896244d28b8543fc70b70401577a260ad
  .cache/index-v5/e6/57/a828ada010420c50cf18d57762675dab61c6
  Cargo.lock
  Cargo.toml
  src/core/generator/tests/cacache_manager.rs
Labels: type: chore

#2320 fix: ci npm publish
  .github/workflows/build_matrix.yml
  npm/gen-root.ts
Labels: ci: lint, type: fix

#2323 chore: support nested joins using JIT
  src/core/jit/context.rs
  src/core/jit/exec.rs
  src/core/jit/mod.rs
  src/core/jit/request.rs
  src/core/jit/store.rs
  src/core/jit/synth/synth_const.rs
  src/core/mod.rs
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__executor_nested.snap
Labels: type: chore

#2274 chore: dropped pub fields from config module
  src/core/blueprint/from_config.rs
  src/core/config/config_module.rs
  src/core/config/reader.rs
  src/core/config/transformer/mod.rs
  src/core/config/transformer/preset.rs
  src/core/config/transformer/required.rs
  src/core/mod.rs
  tests/core/spec.rs
Labels: type: chore

#2339 chore: remove `pub use AppCtx` from `http`
  src/core/http/mod.rs
Labels: type: chore

#2344 fix: remove repeated non batch key
  src/core/http/data_loader.rs
  tests/execution/batching-default.md
  tests/execution/batching-group-by-default.md
  tests/execution/batching-group-by.md
Labels: type: fix

#2327 fix(jit): handle nested multiple
  src/core/generator/generator.rs
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_configs.snap
  src/core/jit/common/json_placeholder.rs
  src/core/jit/exec.rs
  src/core/jit/store.rs
  src/core/jit/synth/synth_const.rs
  tailcall-fixtures/fixtures/configs/jsonplaceholder.graphql
  tailcall-fixtures/fixtures/configs/user-posts.graphql
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__executor.snap
  tests/snapshots/jit_spec__tests__executor_nested.snap
  tests/snapshots/jit_spec__tests__executor_nested_list.snap
Labels: type: fix

#2337 fix: recursive input params in `union_input` transformer
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__union_input_type__tests__recursive_input.snap
  src/core/config/transformer/union_input_type.rs
  tailcall-fixtures/fixtures/configs/yaml-recursive-input.yaml
Labels: type: fix

#2352 fix: query plan fragments
  src/core/jit/builder.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__executor_fragments.snap
  tests/snapshots/jit_spec__tests__executor_fragments_nested.snap
Labels: type: fix

#2346 refactor: rename refs to extensions
  src/core/jit/builder.rs
  src/core/jit/model.rs
Labels: type: chore

#2358 chore(synth): update impl
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__json_placeholder.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__multiple_nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__posts.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth_const__tests__user.snap
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
  tests/core/snapshots/recursive-types-no-resolver.md_merged.snap
  tests/snapshots/jit_spec__tests__executor.snap
  tests/snapshots/jit_spec__tests__executor_fragments.snap
  tests/snapshots/jit_spec__tests__executor_fragments_nested.snap
  tests/snapshots/jit_spec__tests__executor_nested.snap
  tests/snapshots/jit_spec__tests__executor_nested_list.snap
Labels: ci: benchmark, type: chore

#2368 test(jit): run execution_spec with jit as separate workflow
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test-jit.yml
  Cargo.toml
  src/core/config/server.rs
  tests/core/parse.rs
Labels: ci: benchmark

#2360 chore: remove unneeded creation of req in grpc
  src/core/grpc/request_template.rs
Labels: type: chore

#2359 chore: expose JIT executor via the `request_handler`
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test-jit.yml
  Cargo.toml
  benches/handle_request_bench.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/server.rs
  src/core/config/server.rs
  src/core/http/request_handler.rs
  src/core/jit/error.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/mod.rs
  src/core/jit/request.rs
  src/core/jit/response.rs
  tests/core/parse.rs
  tests/core/snapshots/test-enable-jit.md_0.snap
  tests/core/snapshots/test-enable-jit.md_client.snap
  tests/core/snapshots/test-enable-jit.md_merged.snap
  tests/execution/test-enable-jit.md
Labels: 🙋 Bounty claim, type: chore

#2297 refactor: re-write gen_gql_schema.rs
  Cargo.lock
  Cargo.toml
  generated/.tailcallrc.graphql
  src/core/config/config.rs
  src/core/config/link.rs
  src/core/config/server.rs
  src/core/config/telemetry.rs
  src/core/config/upstream.rs
  src/core/document.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/empty.rs
  src/core/scalar/int128.rs
  src/core/scalar/int16.rs
  src/core/scalar/int32.rs
  src/core/scalar/int64.rs
  src/core/scalar/int8.rs
  src/core/scalar/json.rs
  src/core/scalar/phone.rs
  src/core/scalar/uint128.rs
  src/core/scalar/uint16.rs
  src/core/scalar/uint32.rs
  src/core/scalar/uint64.rs
  src/core/scalar/uint8.rs
  src/core/scalar/url.rs
  tailcall-macros/src/document_definition.rs
  tailcall-macros/src/lib.rs
  tailcall-typedefs-common/Cargo.toml
  tailcall-typedefs-common/src/common.rs
  tailcall-typedefs-common/src/directive_definition.rs
  tailcall-typedefs-common/src/enum_definition.rs
  tailcall-typedefs-common/src/input_definition.rs
  tailcall-typedefs-common/src/lib.rs
  tailcall-typedefs-common/src/scalar_definition.rs
  tailcall-typedefs/Cargo.toml
  tailcall-typedefs/src/gen_gql_schema.rs
  tailcall-typedefs/src/main.rs
Labels: 🙋 Bounty claim, type: chore

#2383 fix(grpc): allow users to pass value along with mustache template
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/mustache.rs
  src/core/blueprint/operators/grpc.rs
  src/core/config/config.rs
  src/core/generator/from_proto.rs
  src/core/grpc/request_template.rs
  src/core/helpers/body.rs
  src/core/proto_reader/fetch.rs
  tests/core/snapshots/grpc-json.md_0.snap
  tests/core/snapshots/grpc-json.md_1.snap
  tests/core/snapshots/grpc-json.md_2.snap
  tests/core/snapshots/grpc-json.md_client.snap
  tests/core/snapshots/grpc-json.md_merged.snap
  tests/execution/grpc-json.md
Labels: 🙋 Bounty claim, type: chore, type: fix

#2387 fix: call operator changes list of arguments
  src/core/blueprint/operators/call.rs
  tests/core/snapshots/call-graphql-datasource.md_client.snap
  tests/core/snapshots/call-mutation.md_client.snap
  tests/core/snapshots/call-operator.md_client.snap
  tests/core/snapshots/jsonplaceholder-call-post.md_client.snap
Labels: type: fix

#2385 chore: impl `JsonObjectLike`
  src/core/jit/exec.rs
  src/core/json/json_like.rs
  src/core/json/json_object_like.rs
  src/core/json/mod.rs
Labels: type: chore

#2397 ci: run jit tests only when pr label is present
  .github/labels.json
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_pr_run.yml
  .github/workflows/test-jit.yml
Labels: ci: test-jit

#2399 ci: fix labels.json
  .github/labels.json
Labels: type: fix

#2365 feat: support list args in query params
  benches/request_template_bench.rs
  src/core/blueprint/mustache.rs
  src/core/http/mod.rs
  src/core/http/query_encoder.rs
  src/core/http/request_template.rs
  src/core/mustache/mod.rs
  src/core/path.rs
  tests/core/snapshots/test-list-args.md_0.snap
  tests/core/snapshots/test-list-args.md_client.snap
  tests/core/snapshots/test-list-args.md_merged.snap
  tests/execution/test-list-args.md
Labels: ci: benchmark, type: feature

#2405 fix(jit): update response headers
  src/core/http/request_handler.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/mod.rs
  src/core/jit/variables.rs
  tests/jit_spec.rs
Labels: ci: test-jit

#2357 fix(jit): implement `skip` and `include`
  Cargo.lock
  src/core/jit/builder.rs
  src/core/jit/common/json_placeholder.rs
  src/core/jit/exec.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/synth/mod.rs
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__skip.snap
Labels: type: fix

#2423 refactor: Clean up JSON Like
  benches/request_template_bench.rs
  project-words.txt
  src/core/blueprint/definitions.rs
  src/core/grpc/request_template.rs
  src/core/http/request_template.rs
  src/core/jit/exec.rs
  src/core/jit/synth/mod.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/json_object_like.rs
  src/core/json/mod.rs
  src/core/json/serde.rs
  src/core/path.rs
Labels: ci: benchmark, type: chore

#2415 chore: simplify `Condition`
  src/core/jit/builder.rs
Labels: type: chore

#2430 refactor: JsonLike return an Option instead of Result
  src/core/jit/common/json_placeholder.rs
  src/core/jit/exec.rs
  src/core/jit/synth/synth_const.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/mod.rs
  src/core/json/serde.rs
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/phone.rs
  src/core/scalar/url.rs
Labels: 🙋 Bounty claim, type: chore

#2335 fix: query plan arguments
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_configs.snap
  src/core/http/request_handler.rs
  src/core/jit/builder.rs
  src/core/jit/common/json_placeholder.rs
  src/core/jit/context.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/input_resolver.rs
  src/core/jit/mod.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/synth_const.rs
  tailcall-fixtures/fixtures/configs/jsonplaceholder.graphql
  tests/jit_spec.rs
  tests/snapshots/jit_spec__tests__executor_arguments.snap
  tests/snapshots/jit_spec__tests__executor_arguments_default_value.snap
  tests/snapshots/jit_spec__tests__executor_variables.snap
  tests/snapshots/jit_spec__tests__query_alias.snap
Labels: type: fix, ci: test-jit

#2277 fix: graphql query directives
  src/core/document.rs
  src/core/graphql/request_template.rs
  src/core/ir/eval_context.rs
  src/core/ir/mod.rs
  tests/core/snapshots/graphql-datasource-query-directives.md_0.snap
  tests/core/snapshots/graphql-datasource-query-directives.md_1.snap
  tests/core/snapshots/graphql-datasource-query-directives.md_client.snap
  tests/core/snapshots/graphql-datasource-query-directives.md_merged.snap
  tests/execution/graphql-datasource-query-directives.md
Labels: type: fix

#2434 chore(JL): impl helper functions
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
Labels: type: chore

#2424 refactor: impl is query method
  src/core/jit/builder.rs
  src/core/jit/context.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/input_resolver.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
Labels: type: chore, ci: test-jit

#2436 fix(jit): positioned and extensions info for errors
  src/core/jit/builder.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
  src/core/jit/synth/synth_const.rs
Labels: type: fix, ci: test-jit

#2408 fix(jit): handle scalar values
  src/core/blueprint/index.rs
  src/core/jit/builder.rs
  src/core/jit/error.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/synth_const.rs
Labels: type: fix, ci: test-jit

#2442 chore: introduce `try_map` in `OperationPlan`
  src/core/jit/model.rs
Labels: type: chore

#2461 chore: make `validate` function generic in `Scalar` trait
  Cargo.lock
  Cargo.toml
  src/core/blueprint/into_schema.rs
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/empty.rs
  src/core/scalar/int128.rs
  src/core/scalar/int16.rs
  src/core/scalar/int32.rs
  src/core/scalar/int64.rs
  src/core/scalar/int8.rs
  src/core/scalar/json.rs
  src/core/scalar/mod.rs
  src/core/scalar/phone.rs
  src/core/scalar/uint128.rs
  src/core/scalar/uint16.rs
  src/core/scalar/uint32.rs
  src/core/scalar/uint64.rs
  src/core/scalar/uint8.rs
  src/core/scalar/url.rs
  tailcall-typedefs/src/main.rs
Labels: 🙋 Bounty claim, type: chore

#2445 fix(jit): process only the request operation
  src/core/jit/builder.rs
  src/core/jit/common/json_placeholder.rs
  src/core/jit/error.rs
  src/core/jit/request.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/synth/synth_const.rs
Labels: ci: lint, type: fix

#2456 fix(jit): handle parsing/build errors
  src/core/jit/error.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/response.rs
Labels: type: fix, ci: test-jit

#2470 fix: pick query params with empty values
  src/core/http/query_encoder.rs
  src/core/http/request_template.rs
  tests/core/snapshots/batching-group-by-optional-key.md_0.snap
  tests/core/snapshots/batching-group-by-optional-key.md_client.snap
  tests/core/snapshots/batching-group-by-optional-key.md_merged.snap
  tests/execution/batching-group-by-optional-key.md
  tests/execution/nullable-arg-query.md
Labels: 🙋 Bounty claim, type: chore, type: fix

#2472 refactor: add lift
  src/core/jit/error.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/response.rs
  src/core/lift.rs
  src/core/mod.rs
Labels: type: chore

#2437 chore: parameterize Synth
  src/core/jit/common/json_placeholder.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/synth/mod.rs
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__json_placeholder.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__multiple_nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__posts.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__user.snap
  src/core/jit/synth/synth.rs
  src/core/jit/synth/synth_borrow.rs
  src/core/jit/synth/synth_const.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
  src/core/scalar/mod.rs
Labels: 🙋 Bounty claim, 💰 Rewarded, type: chore

#2453 chore: tailcall fixtures anyhow cleanup
  Cargo.lock
  Cargo.toml
  tailcall-fixtures/Cargo.toml
  tailcall-fixtures/build.rs
  tailcall-fixtures/error.rs
Labels: type: chore, type: fix

#2444 chore: impl field method on context
  benches/impl_path_string_for_evaluation_context.rs
  src/core/ir/eval_context.rs
  src/core/ir/mod.rs
  src/core/ir/resolver_context_like.rs
  src/core/jit/context.rs
  src/core/jit/exec.rs
  src/core/jit/mod.rs
  src/core/jit/snapshots/tailcall__core__jit__context__test__field.snap
  src/core/path.rs
Labels: ci: benchmark, type: chore, ci: test-jit

#2416 refactor: worker errors
  src/cli/javascript/codec.rs
  src/cli/javascript/runtime.rs
  src/core/error.rs
  src/core/ir/error.rs
  src/core/mod.rs
  src/core/worker.rs
Labels: type: chore

#2465 chore: tailcall-tracker anyhow cleanup
  Cargo.lock
  Cargo.toml
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/error.rs
  tailcall-tracker/src/lib.rs
  tailcall-tracker/src/tracker.rs
Labels: type: chore

#2487 fix: save singularized candidate name
  src/cli/generator/snapshots/tailcall__cli__generator__generator__test__generator_spec__src__cli__generator__tests__fixtures__generator__jsonplaceholder.json.snap
  src/core/config/transformer/improve_type_names.rs
Labels: 🙋 Bounty claim, type: fix

#2488 refactor: http-cache & upstream-grpc anyhow cleanup
  Cargo.lock
  Cargo.toml
  tailcall-http-cache/Cargo.toml
  tailcall-http-cache/src/cache.rs
  tailcall-upstream-grpc/Cargo.toml
  tailcall-upstream-grpc/src/error.rs
  tailcall-upstream-grpc/src/main.rs
Labels: type: chore

#2450 chore: disable the default presets which are applied on configuration during config generation
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/generator/tests/fixtures/generator/deezer.json
  src/cli/generator/tests/fixtures/generator/json_proto_mix_config.json
  src/cli/generator/tests/fixtures/generator/jsonplaceholder.json
  src/core/config/transformer/consolidate_url/consolidate_url.rs
  src/core/config/transformer/improve_type_names.rs
  src/core/config/transformer/merge_types/type_merger.rs
  src/core/config/transformer/preset.rs
  src/core/valid/mod.rs
Labels: type: chore, type: feature

#2500 chore(synth): avoid cloning non-leaf nodes
  src/core/jit/synth/synth.rs
Labels: type: chore

#2501 chore(scalar): remove duplicate code for `fn schema`
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/empty.rs
  src/core/scalar/int128.rs
  src/core/scalar/int16.rs
  src/core/scalar/int32.rs
  src/core/scalar/int64.rs
  src/core/scalar/int8.rs
  src/core/scalar/json.rs
  src/core/scalar/mod.rs
  src/core/scalar/phone.rs
  src/core/scalar/uint128.rs
  src/core/scalar/uint16.rs
  src/core/scalar/uint32.rs
  src/core/scalar/uint64.rs
  src/core/scalar/uint8.rs
  src/core/scalar/url.rs
Labels: type: chore

#2499 doc: Update documentation for DLs
  src/core/config/group_by.rs
  src/core/http/data_loader.rs
Labels: type: docs

#2491 refactor: cache errors
  benches/data_loader_bench.rs
  src/core/cache.rs
  src/core/error.rs
  src/core/http/request_context.rs
  src/core/ir/error.rs
  src/core/mod.rs
  tailcall-cloudflare/src/cache.rs
Labels: ci: benchmark, type: chore

#2495 fix(#2489): Modify batchKey logic
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/config/config.rs
  src/core/config/group_by.rs
  src/core/config/n_plus_one.rs
  src/core/generator/from_proto.rs
  src/core/http/data_loader.rs
  tests/core/snapshots/test-http-batchKey.md_0.snap
  tests/core/snapshots/test-http-batchKey.md_client.snap
  tests/core/snapshots/test-http-batchKey.md_merged.snap
  tests/execution/test-http-batchKey.md
Labels: 🙋 Bounty claim, type: fix

#2477 fix(jit): handle error path and position in single place
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
  src/core/jit/synth/mod.rs
  src/core/jit/synth/synth_const.rs
Labels: ci: test-jit

#2485 chore: drop HRTB from `Synth`
  src/core/blueprint/blueprint.rs
  src/core/blueprint/into_schema.rs
  src/core/jit/synth/synth.rs
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/empty.rs
  src/core/scalar/int128.rs
  src/core/scalar/int16.rs
  src/core/scalar/int32.rs
  src/core/scalar/int64.rs
  src/core/scalar/int8.rs
  src/core/scalar/json.rs
  src/core/scalar/mod.rs
  src/core/scalar/phone.rs
  src/core/scalar/uint128.rs
  src/core/scalar/uint16.rs
  src/core/scalar/uint32.rs
  src/core/scalar/uint64.rs
  src/core/scalar/uint8.rs
  src/core/scalar/url.rs
Labels: type: chore

#2469 chore: impl custom directive for JIT
  src/core/document.rs
  src/core/ir/resolver_context_like.rs
  src/core/jit/builder.rs
  src/core/jit/model.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/snapshots/tailcall__core__jit__model__test__from_custom_directive.snap
Labels: type: chore, ci: test-jit

#2356 feat: add transformers to flatten single field types automatically
  src/core/config/transformer/flatten_single_field.rs
  src/core/config/transformer/mod.rs
  src/core/config/transformer/preset.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__flatten_single_field__test__type_name_generator_transform.snap
  tailcall-fixtures/fixtures/configs/flatten_single_field.graphql
Labels: 🙋 Bounty claim, type: feature

#2505 refactor: Make `json_placeholder.rs` parametric
  benches/bench_synth.rs
  benches/tailcall_benches.rs
  src/core/jit/common/jp.rs
  src/core/jit/common/mod.rs
  src/core/jit/model.rs
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__json_placeholder_borrowed.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__posts_borrow.snap
  src/core/jit/synth/synth.rs
Labels: ci: benchmark, 🙋 Bounty claim, type: chore

#2515 refactor: clean up scalar
  Cargo.lock
  Cargo.toml
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/blueprint.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/index.rs
  src/core/blueprint/into_schema.rs
  src/core/blueprint/mustache.rs
  src/core/config/config.rs
  src/core/jit/synth/synth.rs
  src/core/scalar.rs
  src/core/scalar/bytes.rs
  src/core/scalar/date.rs
  src/core/scalar/email.rs
  src/core/scalar/empty.rs
  src/core/scalar/int128.rs
  src/core/scalar/int16.rs
  src/core/scalar/int32.rs
  src/core/scalar/int64.rs
  src/core/scalar/int8.rs
  src/core/scalar/json.rs
  src/core/scalar/mod.rs
  src/core/scalar/phone.rs
  src/core/scalar/uint128.rs
  src/core/scalar/uint16.rs
  src/core/scalar/uint32.rs
  src/core/scalar/uint64.rs
  src/core/scalar/uint8.rs
  src/core/scalar/url.rs
  tailcall-macros/src/document_definition.rs
  tailcall-macros/src/gen.rs
  tailcall-macros/src/lib.rs
  tailcall-typedefs-common/src/scalar_definition.rs
  tailcall-typedefs/Cargo.toml
  tailcall-typedefs/src/gen_gql_schema.rs
  tailcall-typedefs/src/main.rs
Labels: 🙋 Bounty claim, type: chore

#2518 chore: fix graphql error test cases for JIT
  src/core/jit/context.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
Labels: ci: test-jit

#2528 fix: recursive types on `@graphql` directive
  src/core/blueprint/operators/graphql.rs
  tests/core/snapshots/related-fields-recursive.md_client.snap
  tests/core/snapshots/related-fields-recursive.md_merged.snap
  tests/execution/related-fields-recursive.md
Labels: type: fix

#2533 chore: log blueprint gen time
  Cargo.lock
  Cargo.toml
  src/cli/server/http_server.rs
  src/core/blueprint/from_config.rs
Labels: 🙋 Bounty claim, type: chore

#2454 chore: taillcall prettier anyhow cleanup
  Cargo.lock
  tailcall-prettier/Cargo.toml
  tailcall-prettier/src/error.rs
  tailcall-prettier/src/lib.rs
  tailcall-prettier/src/parser.rs
  tailcall-prettier/src/prettier.rs
  tests/core/spec.rs
Labels: type: chore

#2540 fix(jit): nested resolvers for IR and non-IR cases
  src/core/jit/context.rs
  src/core/jit/exec.rs
Labels: type: fix

#2517 refactor(rest): anyhow cleanup
  src/core/rest/directive.rs
  src/core/rest/endpoint.rs
  src/core/rest/endpoint_set.rs
  src/core/rest/error.rs
  src/core/rest/mod.rs
  src/core/rest/operation.rs
  src/core/rest/partial_request.rs
  src/core/rest/path.rs
  src/core/rest/query_params.rs
  src/core/rest/typed_variables.rs
Labels: 💰 Rewarded, type: chore

#2541 fix: comment doc update
  src/core/config/transformer/preset.rs
Labels: type: docs, type: fix

#2542 fix: Update scalar type generator
  src/cli/generator/snapshots/tailcall__cli__generator__generator__test__generator_spec__src__cli__generator__tests__fixtures__generator__deezer.json.snap
  src/core/generator/json/types_generator.rs
  src/core/generator/snapshots/tailcall__core__generator__from_json__tests__generate_config_from_json.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__generate_from_config_from_multiple_jsons.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__empty_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_root_object.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list_incompatible_object.json.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__multiple_nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__nested.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__posts.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__posts_borrow.snap
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__user.snap
Labels: type: fix

#2550 chore(JL): add `string` constructor
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
Labels: type: chore

#2547 fix: disable user from adding predefined scalars
  src/core/blueprint/definitions.rs
  tests/core/snapshots/predefined-scalar.md_error.snap
  tests/core/snapshots/related-fields-recursive.md_merged.snap
  tests/core/snapshots/test-scalars.md_merged.snap
  tests/execution/predefined-scalar.md
  tests/execution/related-fields-recursive.md
  tests/execution/test-scalars.md
Labels: 🙋 Bounty claim, type: chore, type: fix

#1908 feat(wasm): support for NPM and Browser
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/core/cache.rs
  tailcall-wasm/Cargo.toml
  tailcall-wasm/README.md
  tailcall-wasm/example/browser/index.html
  tailcall-wasm/example/node/index.js
  tailcall-wasm/example/node/package.json
  tailcall-wasm/package.json
  tailcall-wasm/src/builder.rs
  tailcall-wasm/src/env.rs
  tailcall-wasm/src/file.rs
  tailcall-wasm/src/http.rs
  tailcall-wasm/src/lib.rs
  tailcall-wasm/src/runtime.rs
Labels: 🙋 Bounty claim, type: feature

#2539 fix: n + 1 detection on very large configurations
  src/cli/fmt.rs
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_cycles_with_resolvers.snap
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_nested_resolvers.snap
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_nested_resolvers_non_list_resolvers.snap
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_resolvers.snap
  src/core/config/config.rs
  src/core/config/mod.rs
  src/core/config/n_plus_one.rs
Labels: type: fix

#2554 fix: npm publish
  .github/workflows/ci.yml
  tailcall-wasm/package.json
Labels: type: fix

#2556 feat: support `unwrapSingleFieldTypes` via Preset
  src/cli/generator/config.rs
  src/core/config/transformer/preset.rs
Labels: 🙋 Bounty claim, type: chore

#2552 refactor(npo): introduce Yield
  src/cli/fmt.rs
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_nested_resolvers.snap
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_nested_resolvers_non_list_resolvers.snap
  src/cli/snapshots/tailcall__cli__fmt__tests__nplusone_resolvers.snap
  src/core/config/config.rs
  src/core/config/mod.rs
  src/core/config/npo/display.rs
  src/core/config/npo/identifier.rs
  src/core/config/npo/mod.rs
  src/core/config/npo/queries.rs
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_cycles_with_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_nested_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_nested_resolvers_non_list_resolvers.snap
  src/core/config/npo/snapshots/tailcall__core__config__npo__queries__tests__npo_resolvers.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__nested_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__optional_fields.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__scalar_types.snap
Labels: 🙋 Bounty claim, 💰 Rewarded, type: chore

#2569 fix: npm publish
  .github/workflows/ci.yml
Labels: type: fix

#2576 fix: reflection should use HTTP2
  .github/workflows/ci.yml
  src/core/proto_reader/fetch.rs
Labels: type: fix

#2577 fix(deps): update rust version
  .nightly/rust-toolchain.toml
  rust-toolchain.toml
  src/core/data_loader/mod.rs
Labels: ci: benchmark, type: fix

#2565 fix: generate query params in camel case
  src/core/generator/json/http_directive_generator.rs
  src/core/generator/json/snapshots/tailcall__core__generator__json__query_generator__test__query_generator_with_query_params.snap
  src/core/generator/tests/snapshots/json_to_config_spec__number.json.snap
Labels: 🙋 Bounty claim, type: fix

#2571 fix(gen): Correctly parse UUID as path argument
  src/core/generator/json/http_directive_generator.rs
Labels: 🙋 Bounty claim, type: fix

#2538 fix: query parameter selection when `batchKey` is used
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/operators/http.rs
  src/core/config/config.rs
  src/core/mustache/model.rs
  tests/core/snapshots/test-http-batchKey.md_merged.snap
  tests/execution/test-http-batchKey.md
Labels: type: docs, type: fix
