Repository tailcallhq/tailcall, pull requests merged in 2024-04, with the labels that each got.

#1591 refactor(auth): change the way multiple auth providers are defined
  src/auth/basic.rs
  src/auth/context.rs
  src/auth/error.rs
  src/auth/jwt/jwks.rs
  src/auth/jwt/jwt_verify.rs
  src/auth/mod.rs
  src/auth/verification.rs
  src/auth/verify.rs
  src/blueprint/auth.rs
  src/blueprint/server.rs
  src/lambda/expression.rs
  tests/snapshots/execution_spec__auth-basic.md_assert_1.snap
  tests/snapshots/execution_spec__auth-basic.md_assert_2.snap
  tests/snapshots/execution_spec__auth-jwt.md_assert_1.snap
Labels: type: chore

#1492 test: add unit tests for directive to rest transformation
  src/rest/directive.rs
Labels: 🙋 Bounty claim, 💰 Rewarded

#1615 fix(config gen): support an empty type
  src/config_generator/from_proto.rs
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto.snap
Labels: type: fix

#1616 fix: convert field names to camelCase
  src/config_generator/from_proto.rs
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto_no_pkg_file.snap
Labels: type: fix

#1622 refactor: add `resource_reader` module
  src/config/reader.rs
  src/lib.rs
  src/resource_reader.rs
Labels: 🙋 Bounty claim, type: chore, type: feature

#1597 fix: fail when input type has `@protected` directive
  src/blueprint/definitions.rs
  src/blueprint/operators/protected.rs
  src/config/from_document.rs
  tests/execution/input-type-protected-error.md
  tests/snapshots/execution_spec__input-type-protected-error.md_errors.snap
Labels: 🙋 Bounty claim, type: fix

#1624 refactor: introduce `proto_reader.rs`
  src/config/reader.rs
  src/lib.rs
  src/proto_reader.rs
Labels: 🙋 Bounty claim, type: chore

#1629 fix: Update .tailcallrc.graphql with @protected definition
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
Labels: 🙋 Bounty claim, type: fix

#1630 fix(auth): proper resolving for protected fields without resolver
  src/blueprint/operators/protected.rs
  tests/execution/auth-basic.md
  tests/execution/auth-jwt.md
  tests/snapshots/execution_spec__auth-basic.md_merged.snap
  tests/snapshots/execution_spec__auth-jwt.md_merged.snap
Labels: type: fix

#1612 feat: Generate GraphQL config from Protobuf Files
  project-words.txt
  src/cli/command.rs
  src/cli/tc.rs
  src/config/reader.rs
  src/config/source.rs
  src/config_generator/mod.rs
  src/config_generator/snapshots/tailcall__config_generator__from_proto__test__from_proto_no_service_file.snap
  src/generator/from_proto.rs
  src/generator/generator.rs
  src/generator/mod.rs
  src/generator/proto/greetings_a.proto
  src/generator/proto/greetings_b.proto
  src/generator/proto/news.proto
  src/generator/proto/news_no_service.proto
  src/generator/proto/no_pkg.proto
  src/generator/proto/person.proto
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto_no_service_file.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__required_types.snap
  src/generator/source.rs
  src/lib.rs
  src/proto_reader.rs
Labels: 🙋 Bounty claim, type: feature

#1638 refactor: drop unused expressions
  src/blueprint/definitions.rs
  src/blueprint/operators/call.rs
  src/blueprint/operators/const_field.rs
  src/lambda/expression.rs
  src/lambda/modify.rs
  tests/expression_spec.rs
Labels: type: chore

#1623 fix: compare enum
  src/json/json_schema.rs
Labels: type: fix

#1639 chore: make `ProtobufOperation::convert_output` generic
  benches/protobuf_convert_output.rs
  src/grpc/protobuf.rs
  src/http/response.rs
Labels: ci: benchmark, type: chore

#1644 chore: add lint for examples
  .github/workflows/ci.yml
  examples/.htpasswd
  examples/.jwks
  examples/apollo-tracing.graphql
  examples/auth.graphql
  examples/expressions.graphql
  examples/lint.sh
  examples/telemetry-otlp.graphql
Labels: type: chore

#1633 fix(auth): protected expression based on output type
  examples/auth.graphql
  src/blueprint/operators/protected.rs
  tests/execution/auth-basic.md
  tests/execution/auth-jwt.md
  tests/snapshots/execution_spec__auth-basic.md_assert_4.snap
  tests/snapshots/execution_spec__auth-basic.md_assert_5.snap
  tests/snapshots/execution_spec__auth-basic.md_client.snap
  tests/snapshots/execution_spec__auth-basic.md_merged.snap
  tests/snapshots/execution_spec__auth-jwt.md_assert_3.snap
  tests/snapshots/execution_spec__auth-jwt.md_assert_4.snap
  tests/snapshots/execution_spec__auth-jwt.md_client.snap
  tests/snapshots/execution_spec__auth-jwt.md_merged.snap
Labels: type: fix

#1646 fix: `@telemetry` defined on schema
  autogen/src/gen_gql_schema.rs
  generated/.tailcallrc.graphql
Labels: 🙋 Bounty claim, type: fix

#1608 fix: `cors` type definitions in tailcallrc.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/cors.rs
  src/config/cors.rs
  tests/execution/cors-allow-cred-false.md
  tests/execution/cors-allow-cred-true.md
  tests/execution/cors-allow-cred-vary.md
Labels: 🙋 Bounty claim, type: fix

#1649 refactor: enhance config types reading performance
  src/blueprint/definitions.rs
  src/blueprint/operators/protected.rs
  src/config/config.rs
  src/config/config_module.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/merge_right.rs
Labels: 🙋 Bounty claim, type: chore

#1675 fix: stack overflow for recursive types
  src/blueprint/definitions.rs
  src/blueprint/schema.rs
  tests/execution/recursive-type-json.md
  tests/execution/recursive-types.md
  tests/snapshots/execution_spec__recursive-type-json.md_assert_0.snap
  tests/snapshots/execution_spec__recursive-type-json.md_client.snap
  tests/snapshots/execution_spec__recursive-type-json.md_merged.snap
  tests/snapshots/execution_spec__recursive-types.md_assert_0.snap
  tests/snapshots/execution_spec__recursive-types.md_client.snap
  tests/snapshots/execution_spec__recursive-types.md_merged.snap
Labels: type: fix

#1699 fix: Specifying @link in config skips upstream.allowedHeaders
  src/config/server.rs
  src/config/upstream.rs
  src/lib.rs
  src/merge_right.rs
  src/primitive.rs
  tests/execution/test-merge-right-with-link-config.md
  tests/snapshots/execution_spec__test-merge-right-with-link-config.md_client.snap
  tests/snapshots/execution_spec__test-merge-right-with-link-config.md_merged.snap
Labels: type: fix

#1703 refactor: Rename cloudflare package
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  tailcall-cloudflare/Cargo.toml
  tailcall-cloudflare/package-lock.json
  tailcall-cloudflare/package.json
  tailcall-cloudflare/src/cache.rs
  tailcall-cloudflare/src/env.rs
  tailcall-cloudflare/src/file.rs
  tailcall-cloudflare/src/handle.rs
  tailcall-cloudflare/src/http.rs
  tailcall-cloudflare/src/lib.rs
  tailcall-cloudflare/src/runtime.rs
  tailcall-cloudflare/tests/cf_tests.spec.ts
  tailcall-cloudflare/tests/mf.ts
  tailcall-cloudflare/wrangler.toml
Labels: type: chore

#1704 refactor: Rename aws-lambda package to tailcall-aws-lambda
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  tailcall-aws-lambda/Cargo.toml
  tailcall-aws-lambda/src/http.rs
  tailcall-aws-lambda/src/main.rs
  tailcall-aws-lambda/src/runtime.rs
Labels: type: chore

#1614 chore(query-plan): query plan workspace init
  .gitignore
  Cargo.lock
  Cargo.toml
  tailcall-query-plan/Cargo.toml
  tailcall-query-plan/src/execution/executor.rs
  tailcall-query-plan/src/execution/mod.rs
  tailcall-query-plan/src/execution/simple.rs
  tailcall-query-plan/src/execution/step.rs
  tailcall-query-plan/src/lib.rs
  tailcall-query-plan/src/plan.rs
  tailcall-query-plan/src/resolver.rs
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostAndUser_execution_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostAndUser_execution_result.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostAndUser_operation_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostAndUser_output.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__Post_execution_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__Post_execution_result.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__Post_operation_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__Post_output.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsComplex_execution_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsComplex_execution_result.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsComplex_operation_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsComplex_output.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsSimple_execution_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsSimple_execution_result.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsSimple_operation_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__PostsSimple_output.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__User_execution_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__User_execution_result.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__User_operation_plan.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__User_output.snap
  tailcall-query-plan/src/snapshots/tailcall__query_plan__tests__general_plan.snap
  tailcall-query-plan/tests/config/user-posts-query.graphql
  tailcall-query-plan/tests/config/user-posts.graphql
  tailcall-query-plan/tests/execution.rs
  tailcall-query-plan/tests/snapshots/execution__PostAndUser_execution_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostAndUser_execution_result.snap
  tailcall-query-plan/tests/snapshots/execution__PostAndUser_operation_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostAndUser_output.snap
  tailcall-query-plan/tests/snapshots/execution__Post_execution_plan.snap
  tailcall-query-plan/tests/snapshots/execution__Post_execution_result.snap
  tailcall-query-plan/tests/snapshots/execution__Post_operation_plan.snap
  tailcall-query-plan/tests/snapshots/execution__Post_output.snap
  tailcall-query-plan/tests/snapshots/execution__PostsComplex_execution_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostsComplex_execution_result.snap
  tailcall-query-plan/tests/snapshots/execution__PostsComplex_operation_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostsComplex_output.snap
  tailcall-query-plan/tests/snapshots/execution__PostsSimple_execution_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostsSimple_execution_result.snap
  tailcall-query-plan/tests/snapshots/execution__PostsSimple_operation_plan.snap
  tailcall-query-plan/tests/snapshots/execution__PostsSimple_output.snap
  tailcall-query-plan/tests/snapshots/execution__User_execution_plan.snap
  tailcall-query-plan/tests/snapshots/execution__User_execution_result.snap
  tailcall-query-plan/tests/snapshots/execution__User_operation_plan.snap
  tailcall-query-plan/tests/snapshots/execution__User_output.snap
  tailcall-query-plan/tests/snapshots/execution__general_plan.snap
Labels: type: chore

#1706 refactor: Rename autogen
  Cargo.lock
  Cargo.toml
  lint.sh
  tailcall-autogen/Cargo.toml
  tailcall-autogen/src/gen_gql_schema.rs
  tailcall-autogen/src/main.rs
Labels: type: chore

#1721 refactor(grpc): remove build script for grpc convert benchmark
  Cargo.lock
  Cargo.toml
  benches/protobuf_convert_output.rs
  build.rs
Labels: type: chore

#1719 chore: remove contributors docs
  .github/contributing.md
  BOUNTY.md
  README.md
  tests/README.md
Labels: type: docs, type: chore

#1514 feat(grpc): upstream error handling
  Cargo.lock
  Cargo.toml
  benches/protobuf_convert_output.rs
  src/blueprint/operators/grpc.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request.rs
  src/grpc/request_template.rs
  src/grpc/tests/proto/errors.proto
  src/http/response.rs
  src/json/json_schema.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  tests/execution/grpc-error.md
  tests/execution_spec.rs
  tests/snapshots/execution_spec__grpc-error.md_assert_0.snap
  tests/snapshots/execution_spec__grpc-error.md_client.snap
  tests/snapshots/execution_spec__grpc-error.md_merged.snap
Labels: type: feature

#1725 ci: Track benchmarks with Bencher
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_comment.yml
  .github/workflows/benchmark_main.yml
  .github/workflows/benchmark_pr_run.yml
  .github/workflows/benchmark_pr_track.yml
Labels: ci: benchmark

#1728 fix(config): protected directive on object
  src/config/into_document.rs
  tests/snapshots/execution_spec__auth-basic.md_merged.snap
  tests/snapshots/execution_spec__auth-jwt.md_merged.snap
Labels: type: docs, type: fix

#1682 fix(grpc): invalid type names for generated configurations from proto files
  Cargo.lock
  src/config/config.rs
  src/generator/from_proto.rs
  src/generator/generator.rs
  src/generator/graphql_type.rs
  src/generator/mod.rs
  src/generator/proto/greetings.proto
  src/generator/proto/greetings_message.proto
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__greetings_proto_file.snap
  src/generator/snapshots/tailcall__generator__from_proto__test__required_types.snap
Labels: type: fix

#1731 chore: add `tailcall-prettier`
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  tailcall-prettier/Cargo.toml
  tailcall-prettier/src/lib.rs
  tailcall-prettier/src/parser.rs
  tailcall-prettier/src/prettier.rs
  tests/execution_spec.rs
Labels: 🙋 Bounty claim, type: chore, type: feature

#1723 refactor: add `MergeRight` derive macro
  Cargo.lock
  Cargo.toml
  src/config/config.rs
  src/config/config_module.rs
  src/config/cors.rs
  src/config/headers.rs
  src/config/server.rs
  src/config/telemetry.rs
  src/config/upstream.rs
  src/lib.rs
  src/merge_right.rs
  src/primitive.rs
  src/rest/endpoint_set.rs
  tailcall-macros/Cargo.toml
  tailcall-macros/src/lib.rs
  tailcall-macros/src/merge_right.rs
Labels: 🙋 Bounty claim, type: chore, type: feature

#1733 fix(grpc): linking multiple proto files with the same package name
  src/blueprint/operators/grpc.rs
  src/config/config_module.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  tests/execution/grpc-proto-with-same-package.md
  tests/snapshots/execution_spec__grpc-proto-with-same-package.md_assert_0.snap
  tests/snapshots/execution_spec__grpc-proto-with-same-package.md_client.snap
  tests/snapshots/execution_spec__grpc-proto-with-same-package.md_merged.snap
  tests/snapshots/execution_spec__test-grpc-invalid-proto-id.md_errors.snap
  tests/snapshots/execution_spec__test-grpc-service.md_errors.snap
Labels: type: fix

#1749 fix(grpc): import the same proto from multiple linked proto files
  src/blueprint/operators/grpc.rs
  src/config/config_module.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/merge_right.rs
  tests/execution/grpc-proto-with-same-package.md
Labels: type: fix

#1689 fix: type definitions in `.tailcallrc.graphql`
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/upstream.rs
  src/cli/server/server_config.rs
  src/config/apollo.rs
  src/config/upstream.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/http/data_loader.rs
  tests/snapshots/execution_spec__batching-default.md_merged.snap
  tests/snapshots/execution_spec__graphql-dataloader-batch-request.md_merged.snap
  tests/snapshots/execution_spec__graphql-dataloader-no-batch-request.md_merged.snap
  tests/snapshots/execution_spec__grpc-batch.md_merged.snap
  tests/snapshots/execution_spec__grpc-error.md_merged.snap
  tests/snapshots/execution_spec__grpc-override-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__grpc-simple.md_merged.snap
  tests/snapshots/execution_spec__grpc-url-from-upstream.md_merged.snap
  tests/snapshots/execution_spec__jsonplaceholder-call-post.md_merged.snap
  tests/snapshots/execution_spec__test-enum-default.md_merged.snap
Labels: 🙋 Bounty claim, type: fix

#1758 chore(telemetry): update `async-graphql-extension-apollo-tracing` to `3.2.15`
  Cargo.lock
  Cargo.toml
Labels: type: chore

#1705 fix(grpc): import proto files relative to parent proto
  src/grpc/tests/proto/cycle.proto
  src/grpc/tests/proto/duplicate.proto
  src/grpc/tests/proto/nested0.proto
  src/grpc/tests/proto/nested1.proto
  src/proto_reader.rs
Labels: type: fix

#1760 fix: parse empty response body as Value::Null
  src/blueprint/into_schema.rs
  src/http/response.rs
  tests/execution/test-null-in-array.md
  tests/execution/test-null-in-object.md
  tests/snapshots/execution_spec__graphql-datasource-errors.md_test_0.snap
  tests/snapshots/execution_spec__test-null-in-array.md_client.snap
  tests/snapshots/execution_spec__test-null-in-array.md_merged.snap
  tests/snapshots/execution_spec__test-null-in-array.md_test_0.snap
  tests/snapshots/execution_spec__test-null-in-object.md_client.snap
  tests/snapshots/execution_spec__test-null-in-object.md_merged.snap
  tests/snapshots/execution_spec__test-null-in-object.md_test_0.snap
Labels: type: fix

#1771 chore(mustache): add tests for new mustache parsing
  src/mustache.rs
Labels: type: chore, type: feature

#1784 fix: mark only rs and md files as text for git
  .gitattributes
Labels: type: fix

#1779 fix(js): conversion for uri port into string
  src/cli/javascript/js_request.rs
Labels: type: fix

#1777 chore(grpc): move rust-grpc example into main repo
  .gitignore
  Cargo.lock
  Cargo.toml
  examples/grpc.graphql
  examples/telemetry-otlp.graphql
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request.rs
  src/grpc/request_template.rs
  src/grpc/tests/proto/news.proto
  src/json/json_schema.rs
  src/proto_reader.rs
  tailcall-cloudflare/tests/cf_tests.spec.ts
  tailcall-fixtures/Cargo.toml
  tailcall-fixtures/README.md
  tailcall-fixtures/build.rs
  tailcall-fixtures/fixtures/protobuf/cycle.proto
  tailcall-fixtures/fixtures/protobuf/duplicate.proto
  tailcall-fixtures/fixtures/protobuf/errors.proto
  tailcall-fixtures/fixtures/protobuf/greetings.proto
  tailcall-fixtures/fixtures/protobuf/nested0.proto
  tailcall-fixtures/fixtures/protobuf/nested1.proto
  tailcall-fixtures/fixtures/protobuf/news.proto
  tailcall-fixtures/fixtures/protobuf/news_no_pkg.proto
  tailcall-fixtures/src/lib.rs
  tailcall-upstream-grpc/Cargo.toml
  tailcall-upstream-grpc/README.md
  tailcall-upstream-grpc/build.rs
  tailcall-upstream-grpc/src/main.rs
Labels: type: chore
