Repository tailcallhq/tailcall, pull requests merged in 2024-09, with the labels that each got.

#2778 fix(2777): use option_env for trackers
  .github/workflows/ci.yml
  tailcall-tracker/src/tracker.rs
Labels: 🙋 Bounty claim, type: fix

#2784 fix: treat null responses as JSON scalars
  src/core/generator/tests/snapshots/json_to_config_spec__null.json.snap
  src/core/helpers/gql_type.rs
Labels: type: fix

#2780 refactor: simplify json_like trait
  src/core/ir/discriminator.rs
  src/core/jit/common/jp.rs
  src/core/jit/exec.rs
  src/core/jit/synth/synth.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
  src/core/scalar.rs
Labels: type: chore

#2800 fix: `cargo build` throwing fallback error
  src/cli/javascript/runtime.rs
Labels: type: fix

#2797 fix: onRequest returns No such file or directory
  src/cli/javascript/runtime.rs
Labels: type: fix

#2810 fix: remove unused deps
  Cargo.lock
  Cargo.toml
Labels: type: chore

#2837 chore: bump async-graphql version
  Cargo.lock
  Cargo.toml
  src/core/jit/graphql_executor.rs
  src/core/jit/request.rs
Labels: type: chore

#2824 chore(link): add `meta` support
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/config/link.rs
  src/core/generator/generator.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  tests/core/snapshots/test-link-support.md_client.snap
  tests/core/snapshots/test-link-support.md_merged.snap
  tests/execution/test-link-support.md
Labels: type: chore

#2856 feat: add health check endpoint
  src/core/http/request_handler.rs
Labels: type: feature

#2879 fix: update collectors
  .github/workflows/ci.yml
  Cargo.lock
  project-words.txt
  src/cli/tc/run.rs
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/can_track.rs
  tailcall-tracker/src/collect/ga.rs
  tailcall-tracker/src/collect/mod.rs
  tailcall-tracker/src/collect/posthog.rs
  tailcall-tracker/src/error.rs
  tailcall-tracker/src/event.rs
  tailcall-tracker/src/lib.rs
  tailcall-tracker/src/tracker.rs
Labels: type: fix

#2793 fix: added type rename support for enum, union and interface.
  src/core/config/transformer/improve_type_names.rs
  src/core/config/transformer/rename_types.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__rename_types__test__inferface_rename.snap
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__rename_types__test__rename_type.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_json_proto_mix_config.md.snap
Labels: state: inactive, type: fix

#2870 feat: make health and graphql endpoints to be configurable
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/server/mod.rs
  src/core/blueprint/server.rs
  src/core/config/server.rs
  src/core/http/request_handler.rs
  tests/core/snapshots/routes-param-on-server-directive.md_0.snap
  tests/core/snapshots/routes-param-on-server-directive.md_1.snap
  tests/core/snapshots/routes-param-on-server-directive.md_client.snap
  tests/core/snapshots/routes-param-on-server-directive.md_merged.snap
  tests/execution/routes-param-on-server-directive.md
Labels: type: feature

#2783 refactor: use a consistent prefix for auto-generated names
  examples/generate.yml
  src/cli/llm/infer_type_name.rs
  src/cli/llm/prompts/infer_type_name.md
  src/cli/llm/snapshots/tailcall__cli__llm__infer_type_name__test__to_chat_request_conversion.snap
  src/core/config/transformer/improve_type_names.rs
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__cyclic_merge_case.snap
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__input_types.snap
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__interface_types.snap
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__merge_to_supertype.snap
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__type_merger.snap
  src/core/config/transformer/merge_types/snapshots/tailcall__core__config__transformer__merge_types__type_merger__test__union_types.snap
  src/core/config/transformer/merge_types/type_merger.rs
  src/core/config/transformer/snapshots/tailcall__core__config__transformer__ambiguous_type__tests__resolve_ambiguous_news_types.snap
  src/core/generator/generator.rs
  src/core/generator/graphql_type.rs
  src/core/generator/json/http_directive_generator.rs
  src/core/generator/json/operation_generator.rs
  src/core/generator/json/snapshots/tailcall__core__generator__json__operation_generator__test__mutation.snap
  src/core/generator/mod.rs
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__from_proto_no_pkg_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__greetings_proto_file.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__map_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__movies.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__nested_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__oneof_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__optional_fields.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__required_types.snap
  src/core/generator/snapshots/tailcall__core__generator__from_proto__test__scalar_types.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_combined_config.snap
  src/core/generator/snapshots/tailcall__core__generator__generator__test__should_generate_config_from_proto.snap
  src/core/generator/tests/snapshots/json_to_config_spec__add_cart.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__boolean.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_post.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_product.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__create_user.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__generate_auth_token.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__incompatible_properties.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_list.json.snap
  src/core/generator/tests/snapshots/json_to_config_spec__nested_same_properties.json.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_deezer.md.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_json_proto_mix_config.md.snap
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_jsonplaceholder.md.snap
Labels: type: chore, type: fix, type: feature

#2881 fix(deps): remove unused openssl
  Cargo.lock
  examples/lint.sh
  tailcall-tracker/Cargo.toml
Labels: type: fix

#2883 fix: clean up events
  Cargo.lock
  Cargo.toml
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/collect/ga.rs
  tailcall-tracker/src/collect/posthog.rs
  tailcall-tracker/src/dispatch.rs
  tailcall-tracker/src/event.rs
  tailcall-tracker/src/lib.rs
Labels: type: fix

#2840 fix: `__typename` do not work at root level
  src/core/jit/builder.rs
  src/core/jit/input_resolver.rs
  src/core/jit/model.rs
  src/core/jit/synth/snapshots/tailcall__core__jit__synth__synth__tests__json_placeholder_typename_root_level.snap
  src/core/jit/synth/synth.rs
Labels: type: fix

#2895 fix: Incorrect Field Path Specification in `@addfield`
  src/core/config/from_document.rs
  tests/core/snapshots/test-invalid-add-field.md_error.snap
  tests/execution/test-invalid-add-field.md
Labels: type: fix

#2790 feat(2781): support gRPC reflection custom headers
  examples/grpc-reflection.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/config/link.rs
  src/core/config/reader.rs
  src/core/generator/generator.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
  src/core/proto_reader/fetch.rs
  src/core/proto_reader/reader.rs
  tailcall-upstream-grpc/src/main.rs
Labels: 🙋 Bounty claim, type: feature

#2910 test: fix federation usage
  tests/core/snapshots/apollo-federation-entities-batch.md_1.snap
  tests/core/snapshots/apollo-federation-entities-batch.md_merged.snap
  tests/core/snapshots/apollo-federation-entities.md_1.snap
  tests/core/snapshots/apollo-federation-entities.md_merged.snap
  tests/execution/apollo-federation-entities-batch.md
  tests/execution/apollo-federation-entities-validation.md
  tests/execution/apollo-federation-entities.md
Labels: type: fix

#2922 feat: add dedupe capability on all IO operations
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/app_context.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/server.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/call.rs
  src/core/config/directives/graphql.rs
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/config/server.rs
  src/core/config/transformer/subgraph.rs
  src/core/generator/from_proto.rs
  src/core/http/request_handler.rs
  src/core/ir/eval_io.rs
  src/core/ir/model.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/model.rs
  tests/core/snapshots/apollo-federation-entities-batch.md_1.snap
  tests/core/snapshots/apollo-federation-entities.md_1.snap
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_merged.snap
  tests/core/snapshots/async-cache-enabled.md_merged.snap
  tests/core/snapshots/async-cache-global.md_merged.snap
  tests/core/snapshots/async-cache-inflight-request.md_merged.snap
  tests/core/snapshots/dedupe_batch_query_execution.md_merged.snap
  tests/execution/async-cache-enable-multiple-resolvers.md
  tests/execution/async-cache-enabled.md
  tests/execution/async-cache-global.md
  tests/execution/async-cache-inflight-request.md
  tests/execution/dedupe_batch_query_execution.md
  tests/jit_spec.rs
Labels: type: chore

#2932 fix: NPX release issue
  npm/gen-root.ts
  npm/package-lock.json
  npm/package.json
  npm/post-install.js
  npm/pre-install.js
  npm/utils.js
Labels: type: fix

#2930 fix: hide tailcall directives from `_service`
  src/core/blueprint/operators/apollo_federation.rs
  tests/core/snapshots/apollo-federation-entities-batch.md_1.snap
  tests/core/snapshots/apollo-federation-entities.md_1.snap
Labels: type: chore, type: fix

#2923 feat: accept self-signed certificates (#2801)
  benches/impl_path_string_for_evaluation_context.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/runtime/http.rs
  src/core/blueprint/upstream.rs
  src/core/config/upstream.rs
  src/core/mod.rs
  src/core/runtime.rs
  tests/server_spec.rs
Labels: ci: benchmark, type: feature

#2936 chore(deps): use headers crate for consistency
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  benches/request_template_bench.rs
  src/cli/generator/generator.rs
  src/cli/javascript/codec.rs
  src/cli/javascript/mod.rs
  src/core/async_graphql_hyper.rs
  src/core/auth/basic.rs
  src/core/blueprint/cors.rs
  src/core/blueprint/server.rs
  src/core/blueprint/telemetry.rs
  src/core/endpoint.rs
  src/core/graphql/request_template.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/request.rs
  src/core/grpc/request_template.rs
  src/core/has_headers.rs
  src/core/helpers/headers.rs
  src/core/http/cache.rs
  src/core/http/data_loader_request.rs
  src/core/http/request_context.rs
  src/core/http/request_handler.rs
  src/core/http/request_template.rs
  src/core/http/response.rs
  src/core/ir/eval_context.rs
  src/core/path.rs
  src/core/proto_reader/fetch.rs
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/collect/ga.rs
  tailcall-tracker/src/collect/posthog.rs
  tailcall-upstream-grpc/Cargo.toml
  tailcall-upstream-grpc/src/main.rs
  tests/core/http.rs
Labels: type: chore

#2934 revert: "feat: add dedupe capability on all IO operations (#2922)"
  Cargo.lock
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/app_context.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/server.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/call.rs
  src/core/config/directives/graphql.rs
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/config/server.rs
  src/core/config/transformer/subgraph.rs
  src/core/generator/from_proto.rs
  src/core/http/request_handler.rs
  src/core/ir/eval_io.rs
  src/core/ir/model.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/model.rs
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_merged.snap
  tests/core/snapshots/async-cache-enabled.md_merged.snap
  tests/core/snapshots/async-cache-global.md_merged.snap
  tests/core/snapshots/async-cache-inflight-request.md_merged.snap
  tests/core/snapshots/dedupe_batch_query_execution.md_merged.snap
  tests/execution/async-cache-enable-multiple-resolvers.md
  tests/execution/async-cache-enabled.md
  tests/execution/async-cache-global.md
  tests/execution/async-cache-inflight-request.md
  tests/execution/dedupe_batch_query_execution.md
  tests/jit_spec.rs
Labels: type: feature

#2939 chore(deps): use http crate for consistency
  Cargo.lock
  Cargo.toml
  benches/from_json_bench.rs
  benches/handle_request_bench.rs
  benches/http_execute_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  benches/request_template_bench.rs
  src/cli/generator/generator.rs
  src/cli/javascript/codec.rs
  src/cli/javascript/mod.rs
  src/core/async_graphql_hyper.rs
  src/core/auth/basic.rs
  src/core/blueprint/cors.rs
  src/core/blueprint/server.rs
  src/core/blueprint/telemetry.rs
  src/core/blueprint/upstream.rs
  src/core/config/cors.rs
  src/core/config/reader_context.rs
  src/core/endpoint.rs
  src/core/graphql/request_template.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/request.rs
  src/core/grpc/request_template.rs
  src/core/has_headers.rs
  src/core/helpers/headers.rs
  src/core/http/cache.rs
  src/core/http/data_loader_request.rs
  src/core/http/method.rs
  src/core/http/mod.rs
  src/core/http/request_context.rs
  src/core/http/request_handler.rs
  src/core/http/request_template.rs
  src/core/http/response.rs
  src/core/http/showcase.rs
  src/core/http/telemetry.rs
  src/core/ir/eval_context.rs
  src/core/path.rs
  src/core/proto_reader/fetch.rs
  src/core/rest/endpoint.rs
  src/core/rest/error.rs
  src/core/rest/mod.rs
  src/core/valid/error.rs
  src/core/worker/error.rs
  tailcall-aws-lambda/Cargo.toml
  tailcall-aws-lambda/src/http.rs
  tailcall-cloudflare/Cargo.toml
  tailcall-cloudflare/src/handle.rs
  tailcall-cloudflare/src/http.rs
  tailcall-tracker/Cargo.toml
  tailcall-tracker/src/collect/ga.rs
  tailcall-tracker/src/collect/posthog.rs
  tailcall-upstream-grpc/Cargo.toml
  tailcall-upstream-grpc/src/error.rs
  tailcall-upstream-grpc/src/main.rs
  tailcall-wasm/Cargo.toml
  tailcall-wasm/src/lib.rs
  tests/core/http.rs
  tests/core/spec.rs
Labels: type: chore
