Repository tailcallhq/tailcall, pull requests merged in 2024-01, with the labels that each got.

#804 docs: website category.json comments to avoid confusion
  docs/getting_started/_category_.json
  docs/guides/_category_.json
  docs/intro/_category_.json
  docs/operators/_category_.json
Labels: state: inactive

#861 ci(workflows): avoid running Rust-related workflows for markdown-only changes
  .github/workflows/bot.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
Labels: 🙋 Bounty claim

#888 chore: ci improvements
  .github/ISSUE_TEMPLATE/guide.md
  .github/workflows/ci.yml
Labels: type: docs, type: chore

#889 chore: run benchmarks on label
  .github/workflows/bot.yml
  .github/workflows/ci.yml
Labels: ci: benchmark, type: chore

#840 fix: disable batching by default
  ci-benchmark/benchmark.graphql
  src/config/server.rs
  tests/graphql/errors/test-batch-operator-post.graphql
  tests/graphql/errors/test-groupby-without-batching.graphql
  tests/http/config/batching-default.graphql
  tests/http/upstream-batching.yml
Labels: ci: benchmark, type: chore, type: fix

#832 docs: guide for tuning http client
  docs/guides/client-tuning.md
Labels: type: docs

#853 feat: add cli `compose` command
  Cargo.toml
  docs/guides/cli.md
  src/blueprint/blueprint.rs
  src/cli/command.rs
  src/cli/tc.rs
  src/config/source.rs
  src/config/writer.rs
  src/lambda/expression.rs
Labels: 🙋 Bounty claim, priority: now, type: feature

#899 chore: move docs to website repo
  .github/workflows/ci-docs.yml
  docs/getting_started/_category_.json
  docs/getting_started/configuration.mdx
  docs/getting_started/execute.mdx
  docs/getting_started/installation.mdx
  docs/getting_started/launch.mdx
  docs/guides/_category_.json
  docs/guides/cli.md
  docs/guides/client-tuning.md
  docs/guides/context.md
  docs/guides/environment-variables.md
  docs/guides/logging.md
  docs/guides/n+1.md
  docs/guides/operator-composition.md
  docs/guides/watch-mode.md
  docs/intro/_category_.json
  docs/intro/introduction.md
  docs/operators/_category_.json
  docs/operators/add-field.md
  docs/operators/cache.md
  docs/operators/const.md
  docs/operators/graphql.md
  docs/operators/grpc.md
  docs/operators/http.md
  docs/operators/index.md
  docs/operators/modify.md
  docs/operators/server.md
  docs/operators/upstream.md
Labels: type: docs, type: chore

#858 refactor(init): improve/simplify CLI experience
  Cargo.lock
  Cargo.toml
  src/cli/command.rs
  src/cli/tc.rs
Labels: 🙋 Bounty claim, type: chore

#892 feat: add wasm compatibility to tailcall/core
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  cloudflare/Cargo.toml
  cloudflare/package.json
  cloudflare/src/lib.rs
  cloudflare/wrangler.toml
  src/config/mod.rs
  src/config/reader.rs
  src/config/writer.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/mod.rs
  src/grpc/request.rs
  src/grpc/request_template.rs
  src/http/client.rs
  src/http/data_loader.rs
  src/http/mod.rs
  src/http/response.rs
  src/http/server_context.rs
  src/lambda/expression.rs
  src/lib.rs
  tests/http_spec.rs
Labels: priority: now, type: feature

#910 fix: validation error printing multiple times
  src/cli/error.rs
  src/valid/cause.rs
  src/valid/error.rs
Labels: 🙋 Bounty claim, type: fix

#915 fix: try_fold multiple calls for the same handler
  src/try_fold.rs
  src/valid/valid.rs
Labels: type: fix

#914 feat: add an io Abstraction to fupport file and http/network
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/Cargo.toml
  cloudflare/package.json
  cloudflare/src/env.rs
  cloudflare/src/file.rs
  cloudflare/src/http.rs
  cloudflare/src/lib.rs
  cloudflare/wrangler.toml
  examples/.tailcallrc.graphql
  src/app_context.rs
  src/cli/command.rs
  src/cli/env.rs
  src/cli/file.rs
  src/cli/http.rs
  src/cli/mod.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/mod.rs
  src/cli/server/server.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/mod.rs
  src/config/reader.rs
  src/config/server.rs
  src/config/source.rs
  src/config/writer.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/mod.rs
  src/grpc/request.rs
  src/grpc/request_template.rs
  src/http/cache.rs
  src/http/client.rs
  src/http/data_loader.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/response.rs
  src/io.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lib.rs
  src/path.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: type: feature

#908 fix(cli/init): handle some edge cases for init command
  .github/workflows/pr-convention.yml
  src/cli/tc.rs
Labels: type: fix

#929 chore: clippy for nightly
  .gitignore
  src/config/from_document.rs
  src/grpc/data_loader_request.rs
  src/http/data_loader_request.rs
Labels: type: chore, type: fix

#926 feature: implment FileIO for Cloudflare
  .gitignore
  Cargo.lock
  Cargo.toml
  benches/data_loader_bench.rs
  cloudflare/Cargo.toml
  cloudflare/package.json
  cloudflare/src/env.rs
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/http.rs
  cloudflare/src/lib.rs
  cloudflare/src/r2_address.rs
  cloudflare/wrangler.toml
  src/app_context.rs
  src/cli/env.rs
  src/cli/file.rs
  src/cli/http.rs
  src/cli/mod.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/server_config.rs
  src/config/reader.rs
  src/graphql/data_loader.rs
  src/grpc/data_loader.rs
  src/grpc/request.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/response.rs
  src/io.rs
  src/lambda/expression.rs
  src/lib.rs
  src/path.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
Labels: type: feature

#862 feat: if-expressions for resolvers
  .prettierrc
  examples/.tailcallrc.graphql
  examples/expressions.graphql
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/operators/const_field.rs
  src/blueprint/from_config/operators/expr.rs
  src/blueprint/from_config/operators/graphql.rs
  src/blueprint/from_config/operators/grpc.rs
  src/blueprint/from_config/operators/http.rs
  src/blueprint/from_config/operators/mod.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/lambda/expression.rs
  tests/graphql/errors/test-expr-errors.graphql
  tests/graphql/errors/test-expr-if-errors.graphql
  tests/graphql/passed/test-expr-if.graphql
  tests/graphql/test-expr-success.graphql
  tests/graphql_spec.graphql
Labels: 🙋 Bounty claim, type: feature

#896 feat: add encoding option in @http
  examples/.tailcallrc.graphql
  src/blueprint/from_config/operators/http.rs
  src/config/config.rs
  src/endpoint.rs
  src/http/request_template.rs
  src/path.rs
Labels: 🙋 Bounty claim, ci: lint, type: feature

#935 feat: add`@omit` operator
  .prettierrc
  src/blueprint/from_config/definitions.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  tests/graphql/omit-many.graphql
  tests/graphql/test-omit-list.graphql
  tests/graphql/test-omit.graphql
  tests/http/config/omit-index-list.graphql
  tests/http/config/omit-resolved-by-parent.graphql
  tests/http/omit-index-list.yml
  tests/http/omit-resolved-by-parent.yml
Labels: 🙋 Bounty claim, type: feature

#949 refactor: replace image with actual code on README
  README.md
  assets/json_placeholder.png
  src/blueprint/from_config/operators/graphql.rs
  src/blueprint/from_config/operators/grpc.rs
  src/blueprint/from_config/operators/http.rs
  src/helpers/headers.rs
Labels: type: docs

#957 fix: auto release
  .github/workflows/ci.yml
  src/blueprint/blueprint.rs
Labels: type: fix

#958 fix: npm publish
  .github/workflows/ci.yml
  src/blueprint/blueprint.rs
Labels: type: fix

#952 feat: throw error in all resolvers for missing arguments
  src/blueprint/from_config/operators/graphql.rs
  src/blueprint/from_config/operators/grpc.rs
  src/blueprint/from_config/operators/http.rs
  src/blueprint/mod.rs
  src/blueprint/validate.rs
  tests/graphql/errors/test-missing-argument-on-all-resolvers.graphql
  tests/graphql/test-graphqlsource.graphql
Labels: type: feature

#965 fix: ghcr release
  .github/workflows/ci.yml
  .github/workflows/ghcr.yml
Labels: type: fix

#967 fix: homebrew release
  .github/workflows/ci.yml
  .github/workflows/homebrew.yml
  src/blueprint/blueprint.rs
Labels: type: fix

#963 fix: inner fields in nested input type was considered as output type
  src/config/config.rs
  tests/graphql/test-nested-input.graphql
Labels: type: fix

#961 chore: auto-generate `.tailcallrc.json`
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  autogen/Cargo.toml
  autogen/src/main.rs
  examples/.tailcallrc.schema.json
  lint.sh
  schemagen.sh
  src/config/config.rs
  src/config/group_by.rs
  src/config/key_values.rs
  src/config/server.rs
  src/http/method.rs
  src/json/json_schema.rs
Labels: 🙋 Bounty claim, type: chore, type: feature

#948 feat: add initial set of operators in expr
  .clippy.toml
  examples/.tailcallrc.graphql
  examples/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/from_config.rs
  src/blueprint/from_config/operators/const_field.rs
  src/blueprint/from_config/operators/expr.rs
  src/blueprint/from_config/operators/grpc.rs
  src/blueprint/from_config/operators/http.rs
  src/blueprint/from_config/operators/js.rs
  src/blueprint/from_config/operators/mod.rs
  src/blueprint/into_schema.rs
  src/blueprint/mod.rs
  src/blueprint/mustache.rs
  src/config/config.rs
  src/config/expr.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/mod.rs
  src/directive.rs
  src/helpers/mod.rs
  src/helpers/value.rs
  src/lambda/concurrent.rs
  src/lambda/eval.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/lambda.rs
  src/lambda/list.rs
  src/lambda/logic.rs
  src/lambda/math.rs
  src/lambda/mod.rs
  src/lambda/relation.rs
  src/lib.rs
  tests/graphql/errors/test-expr-errors.graphql
  tests/graphql/errors/test-multiple-resolvable-directives-on-field.graphql
  tests/graphql/test-unsafe.graphql
  tests/http/config/test-expr-concat.graphql
  tests/http/config/test-expr-intersection.graphql
  tests/http/config/test-expr-logic.graphql
  tests/http/config/test-expr-math.graphql
  tests/http/config/test-expr-relation.graphql
  tests/http/test-expr-concat.yml
  tests/http/test-expr-intersection.yml
  tests/http/test-expr-logic.yml
  tests/http/test-expr-math.yml
  tests/http/test-expr-relation.yml
Labels: type: feature

#975 fix: update docs for server and config
  examples/.tailcallrc.schema.json
  src/config/config.rs
  src/config/server.rs
  src/graphql/request_template.rs
Labels: type: fix

#978 fix: server error panic
  .prettierignore
  src/cli/server/server.rs
Labels: type: fix

#981 refactor: move expr tests to `operators/expr.rs`
  src/blueprint/from_config/operators/expr.rs
Labels: 🙋 Bounty claim, type: chore

#977 fix: docker build
  Dockerfile
  docker.sh
Labels: type: docs, 🙋 Bounty claim, type: fix

#807 feat(auth): entity level authentication
  .prettierignore
  .prettierrc
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  examples/.tailcallrc.graphql
  examples/.tailcallrc.schema.json
  examples/auth.graphql
  src/app_context.rs
  src/auth/basic.rs
  src/auth/context.rs
  src/auth/error.rs
  src/auth/jwt/jwks.rs
  src/auth/jwt/jwks_decoder.rs
  src/auth/jwt/jwks_remote.rs
  src/auth/jwt/jwt_verify.rs
  src/auth/jwt/mod.rs
  src/auth/mod.rs
  src/auth/verify.rs
  src/blueprint/from_config/auth.rs
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/init_context.rs
  src/blueprint/from_config/mod.rs
  src/blueprint/from_config/operators/mod.rs
  src/blueprint/from_config/operators/protected.rs
  src/blueprint/from_config/server.rs
  src/config/auth.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/mod.rs
  src/config/server.rs
  src/grpc/protobuf.rs
  src/helpers/config_path.rs
  src/helpers/mod.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/response.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lib.rs
  src/path.rs
  src/valid/valid.rs
  tests/graphql/auth.graphql
  tests/graphql/errors/auth-protected-without-auth.graphql
  tests/graphql_spec.rs
  tests/http/auth-basic-const-env.yml
  tests/http/auth-jwt-const-env.yml
  tests/http/auth-jwt-const.yml
  tests/http/auth-jwt-remote.yml
  tests/http/auth.yml
  tests/http/config/auth-basic-const-env.graphql
  tests/http/config/auth-jwt-const-env.graphql
  tests/http/config/auth-jwt-const.graphql
  tests/http/config/auth-jwt-remote.graphql
  tests/http/config/auth.graphql
  tests/http_spec.rs
Labels: type: feature

#980 feat(cf): dynamic config loading
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/lib.rs
  cloudflare/src/r2_address.rs
  cloudflare/wrangler.toml
  src/http/request_handler.rs
Labels: type: feature

#987 fix(cf): added jwt support for wasm
  Cargo.lock
  Cargo.toml
  src/auth/jwt/jwks.rs
  src/auth/jwt/jwks_remote.rs
  src/auth/jwt/jwt_verify.rs
  src/blueprint/from_config/auth.rs
Labels: type: chore

#995 fix: Revert "feat(auth): entity level authentication (#807)"
  .prettierignore
  .prettierrc
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  examples/.tailcallrc.graphql
  examples/.tailcallrc.schema.json
  examples/auth.graphql
  src/app_context.rs
  src/auth/basic.rs
  src/auth/context.rs
  src/auth/error.rs
  src/auth/jwt/jwks.rs
  src/auth/jwt/jwks_decoder.rs
  src/auth/jwt/jwks_remote.rs
  src/auth/jwt/jwt_verify.rs
  src/auth/jwt/mod.rs
  src/auth/mod.rs
  src/auth/verify.rs
  src/blueprint/from_config/auth.rs
  src/blueprint/from_config/definitions.rs
  src/blueprint/from_config/init_context.rs
  src/blueprint/from_config/mod.rs
  src/blueprint/from_config/operators/mod.rs
  src/blueprint/from_config/operators/protected.rs
  src/blueprint/from_config/server.rs
  src/config/auth.rs
  src/config/config.rs
  src/config/from_document.rs
  src/config/into_document.rs
  src/config/mod.rs
  src/config/server.rs
  src/grpc/protobuf.rs
  src/helpers/config_path.rs
  src/helpers/mod.rs
  src/http/data_loader.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/response.rs
  src/lambda/evaluation_context.rs
  src/lambda/expression.rs
  src/lambda/lambda.rs
  src/lib.rs
  src/path.rs
  src/valid/valid.rs
  tests/graphql/auth.graphql
  tests/graphql/errors/auth-protected-without-auth.graphql
  tests/graphql_spec.rs
  tests/http/auth-basic-const-env.yml
  tests/http/auth-jwt-const-env.yml
  tests/http/auth-jwt-const.yml
  tests/http/auth-jwt-remote.yml
  tests/http/auth.yml
  tests/http/config/auth-basic-const-env.graphql
  tests/http/config/auth-jwt-const-env.graphql
  tests/http/config/auth-jwt-const.graphql
  tests/http/config/auth-jwt-remote.graphql
  tests/http/config/auth.graphql
  tests/http_spec.rs
Labels: type: fix, type: feature

#999 chore: security updates
  Cargo.lock
Labels: type: chore

#996 chore(cf): add console panic hook
  Cargo.lock
  cloudflare/Cargo.toml
  cloudflare/src/lib.rs
Labels: type: chore

#997 fix(cf): fix batching
  Cargo.lock
  Cargo.toml
  src/data_loader/data_loader.rs
Labels: type: fix

#966 feat(cf): add support for entity caching
  .prettierignore
  .vscode/launch.json
  .vscode/settings.json
  Cargo.lock
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/Cargo.toml
  cloudflare/src/cache.rs
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/http.rs
  cloudflare/src/lib.rs
  examples/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/into_schema.rs
  src/chrono_cache.rs
  src/cli/cache.rs
  src/cli/mod.rs
  src/cli/server/server_config.rs
  src/http/mod.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/lib.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
Labels: type: chore, type: feature

#1006 chore: restructure blueprint files
  src/blueprint/blueprint.rs
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/from_config/mod.rs
  src/blueprint/mod.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/graphql.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/blueprint/operators/js.rs
  src/blueprint/operators/mod.rs
  src/blueprint/operators/modify.rs
  src/blueprint/schema.rs
  src/blueprint/server.rs
  src/blueprint/upstream.rs
Labels: type: chore

#1017 refactor: split into server.rs and upstream.rs
  src/config/mod.rs
  src/config/server.rs
  src/config/upstream.rs
Labels: type: chore

#1018 refactor: prepare `config::reader` for the `@link` operator
  examples/.tailcallrc.schema.json
  src/config/reader.rs
  src/config/server.rs
  src/config/source.rs
Labels: type: chore

#1013 chore(cf): fix error string
  cloudflare/src/handle.rs
Labels: type: chore, type: fix

#1016 chore(cf): add integration tests
  .github/workflows/ci.yml
  cloudflare/package.json
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/http.rs
  cloudflare/src/lib.rs
  cloudflare/tests/cf_tests.spec.ts
  cloudflare/tests/mf.ts
Labels: type: chore, type: testing

#1030 chore: ci benchmarks
  .github/workflows/bot.yml
Labels: type: chore

#1037 chore: move autogen files to `/generated`
  .devcontainer/devcontainer.json
  .graphqlrc.yml
  .prettierignore
  autogen/src/main.rs
  examples/jsonplaceholder.graphql
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/tc.rs
Labels: type: chore

#1035 chore: fix test cf test command
  .github/workflows/ci.yml
  cloudflare/package.json
Labels: type: chore, type: fix

#1005 feat: JS hooks API
  Cargo.lock
  Cargo.toml
  autogen/src/main.rs
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/lib.rs
  examples/jsonplaceholder.json
  examples/jsonplaceholder_script.graphql
  examples/scripts/echo.js
  examples/scripts/test.js
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/app_context.rs
  src/blueprint/server.rs
  src/channel.rs
  src/cli/file.rs
  src/cli/http.rs
  src/cli/javascript/http_filter.rs
  src/cli/javascript/mod.rs
  src/cli/javascript/runtime.rs
  src/cli/javascript/serde_v8.rs
  src/cli/javascript/shim/console.rs
  src/cli/javascript/shim/mod.rs
  src/cli/mod.rs
  src/cli/server/http_1.rs
  src/cli/server/http_2.rs
  src/cli/server/server_config.rs
  src/cli/tc.rs
  src/config/config.rs
  src/config/group_by.rs
  src/config/mod.rs
  src/config/reader.rs
  src/config/server.rs
  src/config/upstream.rs
  src/http/request_context.rs
  src/http/request_handler.rs
  src/http/request_template.rs
  src/lib.rs
  tests/graphql_spec.rs
  tests/http/config/test-js.graphql
  tests/http/scripts/test.js
  tests/http/test-js-hello-world.yml
  tests/http/test-js-request-reponse.yml
  tests/http_spec.rs
  tests/server_spec.rs
Labels: priority: now, type: feature

#1043 chore: remove `@js` operator
  generated/.tailcallrc.graphql
  src/app_context.rs
  src/blueprint/definitions.rs
  src/blueprint/operators/js.rs
  src/blueprint/operators/mod.rs
  src/javascript.rs
  src/lambda/expression.rs
  src/lambda/io.rs
  src/lambda/lambda.rs
  src/lib.rs
  tests/graphql/errors/test-multiple-resolvable-directives-on-field.graphql
  tests/graphql/test-unsafe.graphql
Labels: 🙋 Bounty claim, type: chore

#1045 docs(grpc): simplify grpc example
  examples/grpc.graphql
  src/blueprint/operators/grpc.rs
Labels: type: docs, ci: lint

#1040 fix: ci builds
  .github/workflows/ci.yml
  Cargo.toml
  cloudflare/src/handle.rs
  src/app_context.rs
  src/cli/javascript/mod.rs
  src/cli/mod.rs
  src/cli/server/server_config.rs
  src/lib.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
Labels: type: fix

#1053 chore(docs): fix 404 in docs link
  .github/pull_request_template.md
Labels: type: docs, type: chore, type: fix

#1058 fix(document): serialize @cache directives
  src/blueprint/definitions.rs
  src/config/from_document.rs
  src/config/into_document.rs
  tests/graphql/test-cache.graphql
Labels: type: docs, type: fix

#1003 chore: auto generating .tailcallrc.graphql
  autogen/src/gen_gql_schema.rs
  autogen/src/main.rs
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/blueprint/operators/expr.rs
  src/config/expr.rs
  tests/http/config/test-expr-logic.graphql
  tests/http/test-expr-logic.yml
Labels: type: chore

#1026 fix(cache): cache set failure
  Cargo.lock
  benches/impl_path_string_for_evaluation_context.rs
  cloudflare/package-lock.json
  cloudflare/src/cache.rs
  src/blueprint/into_schema.rs
  src/cache.rs
  src/cli/cache.rs
  src/cli/mod.rs
  src/cli/server/server_config.rs
  src/http/request_context.rs
  src/lib.rs
  tests/graphql_spec.rs
  tests/http_spec.rs
Labels: type: fix

#937 feat: display an upgrade message for the CLI
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/tc.rs
  src/cli/update_checker.rs
Labels: 🙋 Bounty claim, type: feature

#1023 ci: enable lint check for workspace members
  autogen/src/gen_gql_schema.rs
  autogen/src/main.rs
  cloudflare/src/handle.rs
  cloudflare/src/lib.rs
  lint.sh
Labels: state: inactive

#1041 feat: add grpc support for wasm
  Cargo.lock
  Cargo.toml
  cloudflare/Cargo.toml
  cloudflare/package.json
  cloudflare/src/file.rs
  cloudflare/src/handle.rs
  cloudflare/src/http.rs
  cloudflare/wrangler.toml
  src/blueprint/definitions.rs
  src/blueprint/from_config.rs
  src/blueprint/mod.rs
  src/blueprint/operators/const_field.rs
  src/blueprint/operators/expr.rs
  src/blueprint/operators/graphql.rs
  src/blueprint/operators/grpc.rs
  src/blueprint/operators/http.rs
  src/blueprint/operators/modify.rs
  src/blueprint/upstream.rs
  src/cli/mod.rs
  src/cli/server/server.rs
  src/cli/tc.rs
  src/config/config_set.rs
  src/config/mod.rs
  src/config/reader.rs
  src/grpc/data_loader_request.rs
  src/grpc/protobuf.rs
  src/grpc/request_template.rs
  src/grpc/tests/cycle.proto
  src/grpc/tests/duplicate.proto
  src/grpc/tests/nested0.proto
  src/grpc/tests/nested1.proto
  src/lib.rs
  tests/graphql/errors/test-grpc-proto-path.graphql
  tests/graphql_spec.rs
  tests/http_spec.rs
  tests/server_spec.rs
Labels: ci: lint, type: feature
