Repository tailcallhq/tailcall, pull requests merged in 2024-12, with the labels that each got.

#3198 feat: enable infer_type_names by-default
  src/core/config/transformer/preset.rs
Labels: type: feature

#3197 feat: support gRPC with connect-rpc
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/core/config/transformer/ambiguous_type.rs
  src/core/generator/generator.rs
  src/core/generator/proto/connect_rpc.rs
  src/core/generator/proto/mod.rs
  tests/cli/fixtures/generator/proto-connect-rpc.md
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__proto-connect-rpc.md.snap
Labels: type: feature

#3206 feat(gen): support proto_paths for gen graphql through proto file
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/core/config/reader.rs
  src/core/proto_reader/reader.rs
  tailcall-fixtures/fixtures/protobuf/news_proto_paths.proto
  tests/cli/fixtures/generator/gen_proto_with_proto_paths_config.md
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__gen_proto_with_proto_paths_config.md.snap
Labels: ci: lint, type: feature

#3217 chore: cleanup json/yaml support for cli
  examples/generate.yml
  examples/jsonplaceholder-generated.graphql
  src/cli/command.rs
  src/cli/generator/config.rs
  src/cli/generator/generator.rs
  src/cli/tc/check.rs
  src/cli/tc/run.rs
  tailcall-fixtures/fixtures/generator/simple-json.json
  tests/cli/fixtures/generator/gen_deezer.md
  tests/cli/fixtures/generator/gen_json_proto_mix_config.md
  tests/cli/fixtures/generator/gen_jsonplaceholder.md
  tests/cli/fixtures/generator/gen_proto_with_proto_paths_config.md
  tests/cli/fixtures/generator/proto-connect-rpc.md
Labels: type: chore

#3140 feat: enable POST requests batching with dl.
  Cargo.toml
  generated/.tailcallrc.graphql
  src/core/blueprint/error.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/http.rs
  src/core/config/transformer/subgraph.rs
  src/core/endpoint.rs
  src/core/generator/json/operation_generator.rs
  src/core/generator/proto/connect_rpc.rs
  src/core/http/data_loader.rs
  src/core/http/data_loader_request.rs
  src/core/http/mod.rs
  src/core/http/request_template.rs
  src/core/http/transformations/body_batching.rs
  src/core/http/transformations/mod.rs
  src/core/http/transformations/query_batching.rs
  src/core/ir/eval_http.rs
  src/core/ir/eval_io.rs
  src/core/ir/mod.rs
  src/core/ir/request.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
  src/core/worker/worker.rs
  tests/cli/snapshots/cli_spec__test__generator_spec__tests__cli__fixtures__generator__proto-connect-rpc.md.snap
  tests/core/snapshots/batching-validation.md_error.snap
  tests/core/snapshots/body-batching-cases.md_0.snap
  tests/core/snapshots/body-batching-cases.md_1.snap
  tests/core/snapshots/body-batching-cases.md_2.snap
  tests/core/snapshots/body-batching-cases.md_client.snap
  tests/core/snapshots/body-batching-cases.md_merged.snap
  tests/core/snapshots/body-batching.md_0.snap
  tests/core/snapshots/body-batching.md_1.snap
  tests/core/snapshots/body-batching.md_client.snap
  tests/core/snapshots/body-batching.md_merged.snap
  tests/core/snapshots/test-batch-operator-post.md_error.snap
  tests/execution/batching-validation.md
  tests/execution/body-batching-cases.md
  tests/execution/body-batching.md
  tests/execution/call-mutation.md
Labels: type: feature

#3219 chore: update serde_json_borrow version
  Cargo.lock
  Cargo.toml
Labels: type: chore

#3190 refactor: use links only from the root config
  src/core/config/config_module/fixtures/router.graphql
  src/core/config/config_module/fixtures/subgraph-posts.graphql
  src/core/config/config_module/fixtures/subgraph-users.graphql
  src/core/config/config_module/merge.rs
  src/core/config/reader.rs
  tests/core/snapshots/https.md_0.snap
  tests/core/snapshots/https.md_merged.snap
  tests/core/snapshots/merge-linked-config.md_client.snap
  tests/core/snapshots/merge-linked-config.md_merged.snap
  tests/core/snapshots/on-request-body-grpc.md_0.snap
  tests/core/snapshots/on-request-body-grpc.md_client.snap
  tests/core/snapshots/on-request-body-grpc.md_merged.snap
  tests/core/snapshots/recursive-types-json.md_0.snap
  tests/core/snapshots/recursive-types-json.md_1.snap
  tests/core/snapshots/recursive-types-json.md_client.snap
  tests/core/snapshots/recursive-types-json.md_merged.snap
  tests/core/snapshots/test-conflict-allowed-headers.md_merged.snap
  tests/core/snapshots/test-conflict-vars.md_merged.snap
  tests/core/snapshots/test-interface-from-json.md_client.snap
  tests/core/snapshots/test-interface-from-json.md_merged.snap
  tests/core/snapshots/test-merge-batch.md_merged.snap
  tests/core/snapshots/test-merge-query.md_merged.snap
  tests/core/snapshots/test-nested-link.md_client.snap
  tests/core/snapshots/test-response-header-merge.md_merged.snap
  tests/core/snapshots/test-server-base-types.md_merged.snap
  tests/core/snapshots/test-static-value.md_0.snap
  tests/core/snapshots/test-static-value.md_client.snap
  tests/core/snapshots/test-static-value.md_merged.snap
  tests/core/spec.rs
  tests/execution/merge-linked-config.md
  tests/execution/test-conflict-allowed-headers.md
  tests/execution/test-conflict-vars.md
  tests/execution/test-merge-batch.md
  tests/execution/test-merge-query.md
  tests/execution/test-nested-link.md
  tests/execution/test-response-header-merge.md
  tests/execution/test-server-base-types.md
Labels: type: chore

#3106 feat: cache graphql query in query plan.
  src/core/document.rs
  src/core/graphql/request_template.rs
  src/core/ir/model.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/transform/graphql.rs
  src/core/jit/transform/input_resolver.rs
  src/core/jit/transform/mod.rs
  src/core/json/graphql.rs
  tests/core/snapshots/graphql-nested.md_0.snap
  tests/core/snapshots/graphql-nested.md_client.snap
  tests/core/snapshots/graphql-nested.md_merged.snap
  tests/execution/graphql-datasource-query-directives.md
  tests/execution/graphql-nested.md
Labels: type: fix, type: feature

#3221 feat: add support for separate runtime config in json & yaml formats
  examples/jsonplaceholder.yaml
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/cli/generator/source.rs
  src/cli/tc/init.rs
  src/core/config/config.rs
  src/core/config/from_document.rs
  src/core/config/source.rs
  tailcall-typedefs/src/main.rs
Labels: type: feature

#3222 feat(link): add `proto_paths` support
  generated/.tailcallrc.schema.json
  src/core/config/directives/link.rs
  src/core/config/reader.rs
  src/core/generator/generator.rs
  src/core/grpc/data_loader_request.rs
  src/core/grpc/protobuf.rs
  src/core/grpc/request_template.rs
Labels: type: feature

#3223 refactor: drop async_graphql engine from executing queries
  benches/handle_request_bench.rs
  generated/.tailcallrc.schema.json
  src/core/blueprint/server.rs
  src/core/config/directives/server.rs
  src/core/http/request_handler.rs
  src/core/jit/builder.rs
  src/core/jit/fixtures/jp.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/request.rs
  src/core/jit/synth/synth.rs
  tests/core/parse.rs
  tests/core/snapshots/test-enable-jit.md_merged.snap
  tests/core/snapshots/test-required-fields.md_merged.snap
Labels: ci: benchmark, type: chore

#3230 Revert "chore: Migrate workflows to Blacksmith"
  .github/workflows/benchmark_comment.yml
  .github/workflows/benchmark_pr_track.yml
  .github/workflows/build-website.yml
  .github/workflows/build_matrix.yml
  .github/workflows/ci.yml
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/pr-convention.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/spell-check.yml
  .github/workflows/stale.yml
Labels: type: chore

#3228 fix(core): Address UTF-8 character boundary issues in LineBreaker
  Cargo.lock
  Cargo.toml
  src/core/document.rs
Labels: type: fix
