Repository tailcallhq/tailcall, pull requests merged in 2024-10, with the labels that each got.

#2945 fix: add dedupe capability on all IO operations
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/app_context.rs
  src/core/blueprint/operators/graphql.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/server.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/call.rs
  src/core/config/directives/graphql.rs
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/config/server.rs
  src/core/config/transformer/subgraph.rs
  src/core/generator/from_proto.rs
  src/core/http/request_handler.rs
  src/core/ir/eval_io.rs
  src/core/ir/model.rs
  src/core/jit/exec_const.rs
  src/core/jit/fixtures/dedupe.graphql
  src/core/jit/graphql_executor.rs
  src/core/jit/model.rs
  tests/core/snapshots/async-cache-enable-multiple-resolvers.md_merged.snap
  tests/core/snapshots/async-cache-enabled.md_merged.snap
  tests/core/snapshots/async-cache-global.md_merged.snap
  tests/core/snapshots/async-cache-inflight-request.md_merged.snap
  tests/core/snapshots/dedupe_batch_query_execution.md_merged.snap
  tests/execution/async-cache-enable-multiple-resolvers.md
  tests/execution/async-cache-enabled.md
  tests/execution/async-cache-global.md
  tests/execution/async-cache-inflight-request.md
  tests/execution/dedupe_batch_query_execution.md
  tests/jit_spec.rs
Labels: ci: benchmark, type: fix

#2957 fix: use variance merge for ConfigModule
  src/core/config/config_module.rs
  src/core/config/config_module/merge.rs
  src/core/config/config_module/snapshots/tailcall__core__config__config_module__merge__tests__federation_router.snap
  src/core/config/reader.rs
  src/core/mod.rs
  tailcall-wasm/src/builder.rs
  tests/core/snapshots/test-merge-input.md_merged.snap
  tests/core/snapshots/test-merge-invalid.md_error.snap
  tests/core/spec.rs
  tests/execution/test-merge-input.md
  tests/execution/test-merge-invalid.md
Labels: type: fix

#2964 fix(2958): fix unhandled enum in convert_value
  src/core/path.rs
  tests/core/snapshots/enum-args.md_0.snap
  tests/core/snapshots/enum-args.md_client.snap
  tests/core/snapshots/enum-args.md_merged.snap
  tests/execution/enum-args.md
Labels: type: fix

#2963 fix(jit): enumerations array validation
  src/core/jit/synth/synth.rs
  tests/core/snapshots/jit-enum-array.md_0.snap
  tests/core/snapshots/jit-enum-array.md_client.snap
  tests/core/snapshots/jit-enum-array.md_merged.snap
  tests/execution/jit-enum-array.md
Labels: type: fix

#2962 feat: add a select field on HTTP and gRPC
  generated/.tailcallrc.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/dynamic_value.rs
  src/core/blueprint/operators/grpc.rs
  src/core/blueprint/operators/http.rs
  src/core/blueprint/operators/mod.rs
  src/core/blueprint/operators/select.rs
  src/core/config/directives/grpc.rs
  src/core/config/directives/http.rs
  src/core/generator/from_proto.rs
  src/core/mustache/model.rs
  tests/core/snapshots/http-select.md_0.snap
  tests/core/snapshots/http-select.md_client.snap
  tests/core/snapshots/http-select.md_merged.snap
  tests/execution/http-select.md
Labels: type: feature

#2953 chore: move OP resolution logic to `ConstValueExecutor`
  src/core/jit/builder.rs
  src/core/jit/common/jp.rs
  src/core/jit/context.rs
  src/core/jit/exec_const.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/synth.rs
  tests/core/snapshots/graphql-conformance-001.md_5.snap
  tests/core/snapshots/graphql-conformance-015.md_10.snap
  tests/core/snapshots/graphql-conformance-015.md_9.snap
  tests/core/snapshots/graphql-conformance-http-001.md_5.snap
  tests/core/snapshots/graphql-conformance-http-015.md_10.snap
  tests/core/snapshots/graphql-conformance-http-015.md_9.snap
  tests/jit_spec.rs
Labels: type: chore

#2894 feat: add support for external directives
  examples/apollo_federation_subgraph_post.graphql
  examples/apollo_federation_subgraph_user.graphql
  generated/.tailcallrc.schema.json
  src/core/blueprint/blueprint.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/directive.rs
  src/core/blueprint/from_config.rs
  src/core/blueprint/into_document.rs
  src/core/blueprint/mod.rs
  src/core/blueprint/operators/apollo_federation.rs
  src/core/blueprint/schema.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/config.rs
  src/core/config/config_module/merge.rs
  src/core/config/directive.rs
  src/core/config/directives/add_field.rs
  src/core/config/directives/alias.rs
  src/core/config/directives/cache.rs
  src/core/config/directives/federation.rs
  src/core/config/directives/link.rs
  src/core/config/directives/mod.rs
  src/core/config/directives/modify.rs
  src/core/config/directives/omit.rs
  src/core/config/directives/protected.rs
  src/core/config/directives/server.rs
  src/core/config/directives/telemetry.rs
  src/core/config/directives/upstream.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/mod.rs
  src/core/directive.rs
  src/core/mod.rs
  tests/core/snapshots/apollo-federation-entities-batch.md_1.snap
  tests/core/snapshots/apollo-federation-entities.md_1.snap
  tests/core/snapshots/federation-subgraph-force-enabled.md_1.snap
  tests/core/snapshots/federation-subgraph-force-enabled.md_merged.snap
  tests/execution/federation-subgraph-force-enabled.md
Labels: type: feature

#2969 chore: `@alias` Directive for Enum Field
  src/core/blueprint/blueprint.rs
  src/core/blueprint/definitions.rs
  src/core/blueprint/index.rs
  src/core/blueprint/snapshots/tailcall__core__blueprint__index__test__from_blueprint.snap
  src/core/config/directives/alias.rs
  tests/core/snapshots/test-alias-on-enum.md_0.snap
  tests/core/snapshots/test-alias-on-enum.md_client.snap
  tests/core/snapshots/test-alias-on-enum.md_merged.snap
  tests/execution/test-alias-on-enum.md
Labels: type: chore

#2973 fix(federation): output key directive to entity sdl
  generated/.tailcallrc.schema.json
  src/core/config/config.rs
  src/core/config/config_module/merge.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/transformer/subgraph.rs
  tests/core/snapshots/apollo-federation-entities-batch.md_1.snap
  tests/core/snapshots/apollo-federation-entities.md_1.snap
Labels: type: fix

#2992 fix: `DateTime` is not autogenerated in `.tailcallrc.graphql`
  generated/.tailcallrc.graphql
  src/core/config/config.rs
Labels: type: fix

#2966 feat(discriminator): Add Discriminator support for Interfaces
  src/core/blueprint/definitions.rs
  src/core/blueprint/interface_resolver.rs
  src/core/blueprint/mod.rs
  src/core/config/config.rs
  src/core/config/config_module.rs
  src/core/config/config_module/merge.rs
  src/core/config/from_document.rs
  src/core/config/into_document.rs
  src/core/config/transformer/merge_types/mergeable_types.rs
  src/core/ir/eval.rs
  tailcall-fixtures/fixtures/configs/interface-config.graphql
  tests/core/snapshots/graphql-conformance-http-007.md_0.snap
  tests/core/snapshots/graphql-conformance-http-007.md_client.snap
  tests/core/snapshots/graphql-conformance-http-007.md_merged.snap
  tests/core/snapshots/graphql-conformance-http-008.md_0.snap
  tests/core/snapshots/graphql-conformance-http-008.md_client.snap
  tests/core/snapshots/graphql-conformance-http-008.md_merged.snap
  tests/core/snapshots/graphql-conformance-http-017.md_0.snap
  tests/core/snapshots/graphql-conformance-http-017.md_1.snap
  tests/core/snapshots/graphql-conformance-http-017.md_client.snap
  tests/core/snapshots/graphql-conformance-http-017.md_merged.snap
  tests/execution/graphql-conformance-007.md
  tests/execution/graphql-conformance-008.md
  tests/execution/graphql-conformance-017.md
  tests/execution/graphql-conformance-http-007.md
  tests/execution/graphql-conformance-http-008.md
  tests/execution/graphql-conformance-http-009.md
  tests/execution/graphql-conformance-http-017.md
Labels: type: fix, type: feature

#2994 fix: add support for enum args in query encoder
  src/core/http/query_encoder.rs
  tests/core/snapshots/test-enum-as-argument.md_0.snap
  tests/core/snapshots/test-enum-as-argument.md_client.snap
  tests/core/snapshots/test-enum-as-argument.md_merged.snap
  tests/execution/test-enum-as-argument.md
Labels: type: fix

#2983 fix(modify): bug in modify for graphql
  src/core/blueprint/operators/graphql.rs
  src/core/ir/eval_context.rs
  src/core/ir/mod.rs
  tests/core/snapshots/graphql-conformance-018.md_0.snap
  tests/core/snapshots/graphql-conformance-018.md_client.snap
  tests/core/snapshots/graphql-conformance-018.md_merged.snap
  tests/execution/graphql-conformance-018.md
Labels: type: fix

#3007 fix: clone value instead taking ownership for dedupe
  src/core/app_context.rs
  src/core/jit/graphql_executor.rs
Labels: type: fix

#2951 perf: Cache OperationPlan creation
  .gitignore
  Cargo.lock
  Cargo.toml
  benches/impl_path_string_for_evaluation_context.rs
  examples/jsonplaceholder.graphql
  lint.sh
  src/cli/runtime/mod.rs
  src/core/app_context.rs
  src/core/cache/cache.rs
  src/core/ir/resolver_context_like.rs
  src/core/jit/builder.rs
  src/core/jit/common/jp.rs
  src/core/jit/context.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/mod.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/response.rs
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__alias_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__default_value.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__directives.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__fragments.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__from_document.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__multiple_operations.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation-2.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__resolving_operation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_mutation.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__simple_query.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__unions.snap
  src/core/jit/snapshots/tailcall__core__jit__builder__tests__variables.snap
  src/core/jit/synth/synth.rs
  src/core/jit/transform/check_const.rs
  src/core/jit/transform/check_dedupe.rs
  src/core/jit/transform/input_resolver.rs
  src/core/jit/transform/mod.rs
  src/core/jit/transform/skip.rs
  src/core/runtime.rs
  tailcall-aws-lambda/src/runtime.rs
  tailcall-wasm/src/runtime.rs
  tests/core/parse.rs
  tests/core/runtime.rs
  tests/core/snapshots/graphql-conformance-001.md_5.snap
  tests/core/snapshots/graphql-conformance-015.md_10.snap
  tests/core/snapshots/graphql-conformance-015.md_9.snap
  tests/core/snapshots/graphql-conformance-http-001.md_5.snap
  tests/core/snapshots/graphql-conformance-http-015.md_10.snap
  tests/core/snapshots/graphql-conformance-http-015.md_9.snap
  tests/jit_spec.rs
  tests/server_spec.rs
Labels: ci: benchmark, type: performance

#3039 fix: incomplete .graphqlrc.yml
  src/cli/tc/init.rs
Labels: 🙋 Bounty claim, type: fix

#3041 fix(3040): init should add only the required files according to the selection
  src/cli/tc/helpers.rs
  src/cli/tc/init.rs
Labels: 🙋 Bounty claim, type: fix

#3017 perf: improve performance for JIT
  src/core/app_context.rs
  src/core/http/request_handler.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
Labels: ci: benchmark, type: performance

#3016 fix(jit): remove excessive plan & field cloning
  Cargo.toml
  benches/bench_synth.rs
  src/core/jit/context.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/fixtures/jp.rs
  src/core/jit/fixtures/mod.rs
  src/core/jit/fixtures/posts.json
  src/core/jit/fixtures/users.json
  src/core/jit/mod.rs
  src/core/jit/request.rs
  src/core/jit/synth/synth.rs
  src/core/jit/transform/check_const.rs
  src/core/jit/transform/check_dedupe.rs
  src/core/jit/transform/input_resolver.rs
Labels: ci: benchmark, type: fix, type: performance

#3051 perf: small improvements in Synth
  ci-benchmark/benchmark.graphql
  ci-benchmark/nginx-benchmark.graphql
  src/core/jit/builder.rs
  src/core/jit/model.rs
  src/core/jit/synth/synth.rs
  src/core/json/borrow.rs
  src/core/json/graphql.rs
  src/core/json/json_like.rs
  src/core/json/serde.rs
Labels: ci: benchmark, type: performance

#3059 perf: synth clean up
  src/core/jit/builder.rs
  src/core/jit/model.rs
  src/core/jit/synth/synth.rs
  src/core/json/borrow.rs
Labels: type: performance

#3061 fix: cache const response
  src/core/app_context.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/server_error.rs
Labels: ci: benchmark

#3050 perf: graphql exec clean up
  src/core/app_context.rs
  src/core/blueprint/into_schema.rs
  src/core/ir/error.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/mod.rs
  src/core/jit/model.rs
  src/core/jit/response.rs
  src/core/jit/server_error.rs
  src/core/jit/snapshots/tailcall__core__jit__response__test__adding_errors.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__conversion_to_async_graphql.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__merging_of_errors.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__merging_of_responses.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__with_error.snap
  tests/jit_spec.rs
Labels: ci: benchmark

#3025 fix: reduce cloning for dedupe
  src/core/app_context.rs
  src/core/async_graphql_hyper.rs
  src/core/blueprint/into_schema.rs
  src/core/http/request_handler.rs
  src/core/ir/error.rs
  src/core/jit/error.rs
  src/core/jit/exec.rs
  src/core/jit/exec_const.rs
  src/core/jit/graphql_error.rs
  src/core/jit/graphql_executor.rs
  src/core/jit/mod.rs
  src/core/jit/model.rs
  src/core/jit/request.rs
  src/core/jit/response.rs
  src/core/jit/snapshots/tailcall__core__jit__response__test__adding_errors.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__conversion_to_async_graphql.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__merging_of_errors.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__merging_of_responses.snap
  src/core/jit/snapshots/tailcall__core__jit__response__test__with_error.snap
  src/core/jit/transform/check_protected.rs
  src/core/jit/transform/input_resolver.rs
  src/core/jit/transform/mod.rs
  tests/jit_spec.rs
Labels: ci: benchmark, type: fix, type: performance

#3074 perf: remove string cloning for DataPath in Synth
  src/core/jit/graphql_error.rs
  src/core/jit/model.rs
  src/core/jit/synth/synth.rs
Labels: ci: benchmark, type: performance

#3083 refactor: move find_field_path to jp.rs
  src/core/jit/fixtures/jp.rs
  src/core/jit/model.rs
Labels: type: chore
